In [1]:
import numpy as np

## NumPy: criação de matrizes

In [2]:
np.zeros((4, 4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [3]:
np.ones((5, 3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [4]:
np.identity(8)

array([[1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1.]])

In [5]:
np.eye(5, 5, k=-1)

array([[0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.]])

In [6]:
lista_python = [1, 2, 3, 4, 5, 6, 7, 8 ]
np.array(lista_python)

array([1, 2, 3, 4, 5, 6, 7, 8])

In [7]:
np.array(lista_python).reshape(2, -1) 8

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [8]:
np.arange(0, 70, 7).reshape(5, -1)

array([[ 0,  7],
       [14, 21],
       [28, 35],
       [42, 49],
       [56, 63]])

In [9]:
a = np.arange(0, 16).reshape(4, -1)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [10]:
np.linspace(1, 15, 16).reshape(4, -1)

array([[ 1.        ,  1.93333333,  2.86666667,  3.8       ],
       [ 4.73333333,  5.66666667,  6.6       ,  7.53333333],
       [ 8.46666667,  9.4       , 10.33333333, 11.26666667],
       [12.2       , 13.13333333, 14.06666667, 15.        ]])

In [11]:
np.logspace(1, 15, 16).reshape(4, -1)

array([[1.00000000e+01, 8.57695899e+01, 7.35642254e+02, 6.30957344e+03],
       [5.41169527e+04, 4.64158883e+05, 3.98107171e+06, 3.41454887e+07],
       [2.92864456e+08, 2.51188643e+09, 2.15443469e+10, 1.84784980e+11],
       [1.58489319e+12, 1.35935639e+13, 1.16591440e+14, 1.00000000e+15]])

In [12]:
np.random.normal(loc=0.0, scale=1.0, size=(4, 4))

array([[-0.70488753, -1.62251741,  0.27032163,  0.11240774],
       [-0.83352446,  1.00506809,  0.4327122 ,  0.56848337],
       [ 0.31280077,  0.21126553, -0.31739769, -0.53282451],
       [-0.26413117,  2.28088858,  1.02745266, -1.24045474]])

In [13]:
help(np.random)

Help on package numpy.random in numpy:

NAME
    numpy.random

DESCRIPTION
    ========================
    Random Number Generation
    ========================

    ==================== =========================================================
    Utility functions
    ==============================================================================
    random_sample        Uniformly distributed floats over ``[0, 1)``.
    random               Alias for `random_sample`.
    bytes                Uniformly distributed random bytes.
    random_integers      Uniformly distributed integers in a given range.
    permutation          Randomly permute a sequence / generate a random sequence.
    shuffle              Randomly permute a sequence in place.
    seed                 Seed the random number generator.
    choice               Random sample from 1-D array.

    ==================== =========================================================

    ==================== =========================================================
    Compatibility functions
    ==============================================================================
    rand                 Uniformly distributed values.
    randn                Normally distributed values.
    ranf                 Uniformly distributed floating point numbers.
    randint              Uniformly distributed integers in a given range.
    ==================== =========================================================

    ==================== =========================================================
    Univariate distributions
    ==============================================================================
    beta                 Beta distribution over ``[0, 1]``.
    binomial             Binomial distribution.
    chisquare            :math:`\chi^2` distribution.
    exponential          Exponential distribution.
    f                    F (Fisher-Snedecor) distribution.
    gamma                Gamma distribution.
    geometric            Geometric distribution.
    gumbel               Gumbel distribution.
    hypergeometric       Hypergeometric distribution.
    laplace              Laplace distribution.
    logistic             Logistic distribution.
    lognormal            Log-normal distribution.
    logseries            Logarithmic series distribution.
    negative_binomial    Negative binomial distribution.
    noncentral_chisquare Non-central chi-square distribution.
    noncentral_f         Non-central F distribution.
    normal               Normal / Gaussian distribution.
    pareto               Pareto distribution.
    poisson              Poisson distribution.
    power                Power distribution.
    rayleigh             Rayleigh distribution.
    triangular           Triangular distribution.
    uniform              Uniform distribution.
    vonmises             Von Mises circular distribution.
    wald                 Wald (inverse Gaussian) distribution.
    weibull              Weibull distribution.
    zipf                 Zipf's distribution over ranked data.
    ==================== =========================================================

    ==================== =========================================================
    Multivariate distributions
    ==============================================================================
    dirichlet            Multivariate generalization of Beta distribution.
    multinomial          Multivariate generalization of the binomial distribution.
    multivariate_normal  Multivariate generalization of the normal distribution.
    ==================== =========================================================

    ==================== =========================================================
    Standard distributions
    ==============================================================================
    standard_cauchy      Standard Cauchy-Lorentz distribution.
    standard_exponential Standard exponential distribution.
    standard_gamma       Standard Gamma distribution.
    standard_normal      Standard normal distribution.
    standard_t           Standard Student's t-distribution.
    ==================== =========================================================

    ==================== =========================================================
    Internal functions
    ==============================================================================
    get_state            Get tuple representing internal state of generator.
    set_state            Set state of generator.
    ==================== =========================================================

PACKAGE CONTENTS
    info
    mtrand
    setup
    tests (package)

FUNCTIONS
    beta(...) method of mtrand.RandomState instance
        beta(a, b, size=None)

        Draw samples from a Beta distribution.

        The Beta distribution is a special case of the Dirichlet distribution,
        and is related to the Gamma distribution.  It has the probability
        distribution function

        .. math:: f(x; a,b) = \frac{1}{B(\alpha, \beta)} x^{\alpha - 1}
                                                         (1 - x)^{\beta - 1},

        where the normalisation, B, is the beta function,

        .. math:: B(\alpha, \beta) = \int_0^1 t^{\alpha - 1}
                                     (1 - t)^{\beta - 1} dt.

        It is often seen in Bayesian inference and order statistics.

        Parameters
        ----------
        a : float or array_like of floats
            Alpha, positive (>0).
        b : float or array_like of floats
            Beta, positive (>0).
        size : int or tuple of ints, optional
            Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
            ``m * n * k`` samples are drawn.  If size is ``None`` (default),
            a single value is returned if ``a`` and ``b`` are both scalars.
            Otherwise, ``np.broadcast(a, b).size`` samples are drawn.

        Returns
        -------
        out : ndarray or scalar
            Drawn samples from the parameterized beta distribution.

    binomial(...) method of mtrand.RandomState instance
        binomial(n, p, size=None)

        Draw samples from a binomial distribution.

        Samples are drawn from a binomial distribution with specified
        parameters, n trials and p probability of success where
        n an integer >= 0 and p is in the interval [0,1]. (n may be
        input as a float, but it is truncated to an integer in use)

        Parameters
        ----------
        n : int or array_like of ints
            Parameter of the distribution, >= 0. Floats are also accepted,
            but they will be truncated to integers.
        p : float or array_like of floats
            Parameter of the distribution, >= 0 and <=1.
        size : int or tuple of ints, optional
            Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
            ``m * n * k`` samples are drawn.  If size is ``None`` (default),
            a single value is returned if ``n`` and ``p`` are both scalars.
            Otherwise, ``np.broadcast(n, p).size`` samples are drawn.

        Returns
        -------
        out : ndarray or scalar
            Drawn samples from the parameterized binomial distribution, where
            each sample is equal to the number of successes over the n trials.

        See Also
        --------
        scipy.stats.binom : probability density function, distribution or
            cumulative density function, etc.

        Notes
        -----
        The probability density for the binomial distribution is

        .. math:: P(N) = \binom{n}{N}p^N(1-p)^{n-N},

        where :math:`n` is the number of trials, :math:`p` is the probability
        of success, and :math:`N` is the number of successes.

        When estimating the standard error of a proportion in a population by
        using a random sample, the normal distribution works well unless the
        product p*n <=5, where p = population proportion estimate, and n =
        number of samples, in which case the binomial distribution is used
        instead. For example, a sample of 15 people shows 4 who are left
        handed, and 11 who are right handed. Then p = 4/15 = 27%. 0.27*15 = 4,
        so the binomial distribution should be used in this case.

        References
        ----------
        .. [1] Dalgaard, Peter, "Introductory Statistics with R",
               Springer-Verlag, 2002.
        .. [2] Glantz, Stanton A. "Primer of Biostatistics.", McGraw-Hill,
               Fifth Edition, 2002.
        .. [3] Lentner, Marvin, "Elementary Applied Statistics", Bogden
               and Quigley, 1972.
        .. [4] Weisstein, Eric W. "Binomial Distribution." From MathWorld--A
               Wolfram Web Resource.
               http://mathworld.wolfram.com/BinomialDistribution.html
        .. [5] Wikipedia, "Binomial distribution",
               https://en.wikipedia.org/wiki/Binomial_distribution

        Examples
        --------
        Draw samples from the distribution:

        >>> n, p = 10, .5  # number of trials, probability of each trial
        >>> s = np.random.binomial(n, p, 1000)
        # result of flipping a coin 10 times, tested 1000 times.

        A real world example. A company drills 9 wild-cat oil exploration
        wells, each with an estimated probability of success of 0.1. All nine
        wells fail. What is the probability of that happening?

        Let's do 20,000 trials of the model, and count the number that
        generate zero positive results.

        >>> sum(np.random.binomial(9, 0.1, 20000) == 0)/20000.
        # answer = 0.38885, or 38%.

    bytes(...) method of mtrand.RandomState instance
        bytes(length)

        Return random bytes.

        Parameters
        ----------
        length : int
            Number of random bytes.

        Returns
        -------
        out : str
            String of length `length`.

        Examples
        --------
        >>> np.random.bytes(10)
        ' eh\x85\x022SZ\xbf\xa4' #random

    chisquare(...) method of mtrand.RandomState instance
        chisquare(df, size=None)

        Draw samples from a chi-square distribution.

        When `df` independent random variables, each with standard normal
        distributions (mean 0, variance 1), are squared and summed, the
        resulting distribution is chi-square (see Notes).  This distribution
        is often used in hypothesis testing.

        Parameters
        ----------
        df : float or array_like of floats
             Number of degrees of freedom, should be > 0.
        size : int or tuple of ints, optional
            Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
            ``m * n * k`` samples are drawn.  If size is ``None`` (default),
            a single value is returned if ``df`` is a scalar.  Otherwise,
            ``np.array(df).size`` samples are drawn.

        Returns
        -------
        out : ndarray or scalar
            Drawn samples from the parameterized chi-square distribution.

        Raises
        ------
        ValueError
            When `df` <= 0 or when an inappropriate `size` (e.g. ``size=-1``)
            is given.

        Notes
        -----
        The variable obtained by summing the squares of `df` independent,
        standard normally distributed random variables:

        .. math:: Q = \sum_{i=0}^{\mathtt{df}} X^2_i

        is chi-square distributed, denoted

        .. math:: Q \sim \chi^2_k.

        The probability density function of the chi-squared distribution is

        .. math:: p(x) = \frac{(1/2)^{k/2}}{\Gamma(k/2)}
                         x^{k/2 - 1} e^{-x/2},

        where :math:`\Gamma` is the gamma function,

        .. math:: \Gamma(x) = \int_0^{-\infty} t^{x - 1} e^{-t} dt.

        References
        ----------
        .. [1] NIST "Engineering Statistics Handbook"
               https://www.itl.nist.gov/div898/handbook/eda/section3/eda3666.htm

        Examples
        --------
        >>> np.random.chisquare(2,4)
        array([ 1.89920014,  9.00867716,  3.13710533,  5.62318272])

    choice(...) method of mtrand.RandomState instance
        choice(a, size=None, replace=True, p=None)

        Generates a random sample from a given 1-D array

                .. versionadded:: 1.7.0

        Parameters
        -----------
        a : 1-D array-like or int
            If an ndarray, a random sample is generated from its elements.
            If an int, the random sample is generated as if a were np.arange(a)
        size : int or tuple of ints, optional
            Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
            ``m * n * k`` samples are drawn.  Default is None, in which case a
            single value is returned.
        replace : boolean, optional
            Whether the sample is with or without replacement
        p : 1-D array-like, optional
            The probabilities associated with each entry in a.
            If not given the sample assumes a uniform distribution over all
            entries in a.

        Returns
        --------
        samples : single item or ndarray
            The generated random samples

        Raises
        -------
        ValueError
            If a is an int and less than zero, if a or p are not 1-dimensional,
            if a is an array-like of size 0, if p is not a vector of
            probabilities, if a and p have different lengths, or if
            replace=False and the sample size is greater than the population
            size

        See Also
        ---------
        randint, shuffle, permutation

        Examples
        ---------
        Generate a uniform random sample from np.arange(5) of size 3:

        >>> np.random.choice(5, 3)
        array([0, 3, 4])
        >>> #This is equivalent to np.random.randint(0,5,3)

        Generate a non-uniform random sample from np.arange(5) of size 3:

        >>> np.random.choice(5, 3, p=[0.1, 0, 0.3, 0.6, 0])
        array([3, 3, 0])

        Generate a uniform random sample from np.arange(5) of size 3 without
        replacement:

        >>> np.random.choice(5, 3, replace=False)
        array([3,1,0])
        >>> #This is equivalent to np.random.permutation(np.arange(5))[:3]

        Generate a non-uniform random sample from np.arange(5) of size
        3 without replacement:

        >>> np.random.choice(5, 3, replace=False, p=[0.1, 0, 0.3, 0.6, 0])
        array([2, 3, 0])

        Any of the above can be repeated with an arbitrary array-like
        instead of just integers. For instance:

        >>> aa_milne_arr = ['pooh', 'rabbit', 'piglet', 'Christopher']
        >>> np.random.choice(aa_milne_arr, 5, p=[0.5, 0.1, 0.1, 0.3])
        array(['pooh', 'pooh', 'pooh', 'Christopher', 'piglet'],
              dtype='|S11')

    dirichlet(...) method of mtrand.RandomState instance
        dirichlet(alpha, size=None)

        Draw samples from the Dirichlet distribution.

        Draw `size` samples of dimension k from a Dirichlet distribution. A
        Dirichlet-distributed random variable can be seen as a multivariate
        generalization of a Beta distribution. Dirichlet pdf is the conjugate
        prior of a multinomial in Bayesian inference.

        Parameters
        ----------
        alpha : array
            Parameter of the distribution (k dimension for sample of
            dimension k).
        size : int or tuple of ints, optional
            Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
            ``m * n * k`` samples are drawn.  Default is None, in which case a
            single value is returned.

        Returns
        -------
        samples : ndarray,
            The drawn samples, of shape (size, alpha.ndim).

        Raises
        -------
        ValueError
            If any value in alpha is less than or equal to zero

        Notes
        -----
        .. math:: X \approx \prod_{i=1}^{k}{x^{\alpha_i-1}_i}

        Uses the following property for computation: for each dimension,
        draw a random sample y_i from a standard gamma generator of shape
        `alpha_i`, then
        :math:`X = \frac{1}{\sum_{i=1}^k{y_i}} (y_1, \ldots, y_n)` is
        Dirichlet distributed.

        References
        ----------
        .. [1] David McKay, "Information Theory, Inference and Learning
               Algorithms," chapter 23,
               http://www.inference.org.uk/mackay/itila/
        .. [2] Wikipedia, "Dirichlet distribution",
               https://en.wikipedia.org/wiki/Dirichlet_distribution

        Examples
        --------
        Taking an example cited in Wikipedia, this distribution can be used if
        one wanted to cut strings (each of initial length 1.0) into K pieces
        with different lengths, where each piece had, on average, a designated
        average length, but allowing some variation in the relative sizes of
        the pieces.

        >>> s = np.random.dirichlet((10, 5, 3), 20).transpose()

        >>> import matplotlib.pyplot as plt
        >>> plt.barh(range(20), s[0])
        >>> plt.barh(range(20), s[1], left=s[0], color='g')
        >>> plt.barh(range(20), s[2], left=s[0]+s[1], color='r')
        >>> plt.title("Lengths of Strings")

    exponential(...) method of mtrand.RandomState instance
        exponential(scale=1.0, size=None)

        Draw samples from an exponential distribution.

        Its probability density function is

        .. math:: f(x; \frac{1}{\beta}) = \frac{1}{\beta} \exp(-\frac{x}{\beta}),

        for ``x > 0`` and 0 elsewhere. :math:`\beta` is the scale parameter,
        which is the inverse of the rate parameter :math:`\lambda = 1/\beta`.
        The rate parameter is an alternative, widely used parameterization
        of the exponential distribution [3]_.

        The exponential distribution is a continuous analogue of the
        geometric distribution.  It describes many common situations, such as
        the size of raindrops measured over many rainstorms [1]_, or the time
        between page requests to Wikipedia [2]_.

        Parameters
        ----------
        scale : float or array_like of floats
            The scale parameter, :math:`\beta = 1/\lambda`.
        size : int or tuple of ints, optional
            Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
            ``m * n * k`` samples are drawn.  If size is ``None`` (default),
            a single value is returned if ``scale`` is a scalar.  Otherwise,
            ``np.array(scale).size`` samples are drawn.

        Returns
        -------
        out : ndarray or scalar
            Drawn samples from the parameterized exponential distribution.

        References
        ----------
        .. [1] Peyton Z. Peebles Jr., "Probability, Random Variables and
               Random Signal Principles", 4th ed, 2001, p. 57.
        .. [2] Wikipedia, "Poisson process",
               https://en.wikipedia.org/wiki/Poisson_process
        .. [3] Wikipedia, "Exponential distribution",
               https://en.wikipedia.org/wiki/Exponential_distribution

    f(...) method of mtrand.RandomState instance
        f(dfnum, dfden, size=None)

        Draw samples from an F distribution.

        Samples are drawn from an F distribution with specified parameters,
        `dfnum` (degrees of freedom in numerator) and `dfden` (degrees of
        freedom in denominator), where both parameters should be greater than
        zero.

        The random variate of the F distribution (also known as the
        Fisher distribution) is a continuous probability distribution
        that arises in ANOVA tests, and is the ratio of two chi-square
        variates.

        Parameters
        ----------
        dfnum : float or array_like of floats
            Degrees of freedom in numerator, should be > 0.

#### Indexação

In [14]:
a = np.arange(1, 26).reshape(5, 5)

In [15]:
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [16]:
a[0, 3]

4

In [17]:
a[1]

array([ 6,  7,  8,  9, 10])

In [18]:
a[:, 3]

array([ 4,  9, 14, 19, 24])

In [19]:
a[2:4, 1:5]

array([[12, 13, 14, 15],
       [17, 18, 19, 20]])

### Arrays com mais dimensões

In [20]:
tridim = np.array(np.arange(0, 27)).reshape(3, 3, -1)
tridim

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [21]:
camada = 2
linha = 1
coluna = 0
tridim[camada, linha, coluna]

21

In [22]:
qd = np.array(np.arange(0, 81)).reshape(3, 3, 3, -1)
qd

array([[[[ 0,  1,  2],
         [ 3,  4,  5],
         [ 6,  7,  8]],

        [[ 9, 10, 11],
         [12, 13, 14],
         [15, 16, 17]],

        [[18, 19, 20],
         [21, 22, 23],
         [24, 25, 26]]],


       [[[27, 28, 29],
         [30, 31, 32],
         [33, 34, 35]],

        [[36, 37, 38],
         [39, 40, 41],
         [42, 43, 44]],

        [[45, 46, 47],
         [48, 49, 50],
         [51, 52, 53]]],


       [[[54, 55, 56],
         [57, 58, 59],
         [60, 61, 62]],

        [[63, 64, 65],
         [66, 67, 68],
         [69, 70, 71]],

        [[72, 73, 74],
         [75, 76, 77],
         [78, 79, 80]]]])

## NumPy - operações

In [23]:
teste = np.array([ 1, 2, 3, 4, 9, 16 ]).reshape(3, -1)
teste

array([[ 1,  2],
       [ 3,  4],
       [ 9, 16]])

In [24]:
np.sum(teste)

35

In [25]:
teste * 5

array([[ 5, 10],
       [15, 20],
       [45, 80]])

In [26]:
teste / 3

array([[0.33333333, 0.66666667],
       [1.        , 1.33333333],
       [3.        , 5.33333333]])

In [27]:
np.sqrt(teste)

array([[1.        , 1.41421356],
       [1.73205081, 2.        ],
       [3.        , 4.        ]])

In [28]:
teste[2, 1] = -2

In [29]:
np.sqrt(np.array([ 1, 2, 3, 4, 9, -2 ]).reshape(3, -1))

/home/jtoledo/projects/github/numpy_pandas/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sqrt
  """Entry point for launching an IPython kernel.

array([[1.        , 1.41421356],
       [1.73205081, 2.        ],
       [3.        ,        nan]])

In [30]:
# ERRO: can't convert complex to int
# teste[2, 1] = 2 + 0j

In [31]:
teste.dtype

dtype('int64')

In [32]:
teste_complexos = np.array([ 2, 3, 4, 9, 16, -2+0J ]).reshape(3, -1)

In [33]:
teste_complexos.dtype

dtype('complex128')

In [34]:
np.sqrt(teste_complexos)

array([[1.41421356+0.j        , 1.73205081+0.j        ],
       [2.        +0.j        , 3.        +0.j        ],
       [4.        +0.j        , 0.        +1.41421356j]])

In [35]:
a = np.arange(1, 26).reshape(5, -1)

In [36]:
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [37]:
a * 5

array([[  5,  10,  15,  20,  25],
       [ 30,  35,  40,  45,  50],
       [ 55,  60,  65,  70,  75],
       [ 80,  85,  90,  95, 100],
       [105, 110, 115, 120, 125]])

In [38]:
a + 5

array([[ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30]])

In [39]:
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [40]:
b = np.arange(10, 260, 10).reshape(5, -1)

In [41]:
b

array([[ 10,  20,  30,  40,  50],
       [ 60,  70,  80,  90, 100],
       [110, 120, 130, 140, 150],
       [160, 170, 180, 190, 200],
       [210, 220, 230, 240, 250]])

In [42]:
a * b

array([[  10,   40,   90,  160,  250],
       [ 360,  490,  640,  810, 1000],
       [1210, 1440, 1690, 1960, 2250],
       [2560, 2890, 3240, 3610, 4000],
       [4410, 4840, 5290, 5760, 6250]])

In [43]:
np.matmul(a, b)

array([[ 2150,  2300,  2450,  2600,  2750],
       [ 4900,  5300,  5700,  6100,  6500],
       [ 7650,  8300,  8950,  9600, 10250],
       [10400, 11300, 12200, 13100, 14000],
       [13150, 14300, 15450, 16600, 17750]])

## NumPy - álgebra linear

In [44]:
b = np.random.random(16).reshape(4, 4)
b

array([[0.27612085, 0.87671691, 0.35595651, 0.65504721],
       [0.19052851, 0.8988717 , 0.75522404, 0.21794157],
       [0.2699163 , 0.64537542, 0.75010158, 0.14046711],
       [0.31558746, 0.96639022, 0.25296085, 0.60475773]])

In [45]:
import numpy.linalg as la
la.inv(b)

array([[-3.8839332 , -5.83856986,  6.06859855,  4.90144738],
       [-2.97477865,  2.36316605, -1.91723862,  2.81583389],
       [ 2.91569986,  0.22168975,  0.88785077, -3.44427231],
       [ 5.5608379 , -0.82221353, -0.47451134, -3.9631798 ]])

In [46]:
(eigenvalues, eigenvector) = la.eig(b)

In [47]:
eigenvalues

array([ 2.00630831, -0.08535722,  0.27753914,  0.33136163])

In [48]:
eigenvector

array([[-0.53892005, -0.74941535, -0.70721721,  0.69657575],
       [-0.48957796, -0.22112356,  0.42437714, -0.38186535],
       [-0.42725451,  0.3231666 , -0.00755739, -0.06312142],
       [-0.53603375,  0.53389546, -0.56541201,  0.60413307]])

### NumPy: outras funções - VEJA A DOCUMENTAÇÃO!

## Pandas

In [49]:
import pandas as pd

dic = { "Coluna 1": ["v1", "v2", "v3", "v4"],
        "Coluna 2": ["v1c2", "v2c2", "v3c2", "v4c2"],
        "Coluna 3": list("ABCD"),
        "Coluna 4": [ 1, 2.5, 3.75, 5 ],
        "Coluna 5": [ 1.1 + 0j, 2, 3, 4 ]}
df_dic = pd.DataFrame(dic, index=["primeira", "segunda", "terceira", "quarta"])

In [51]:
df_dic

         Coluna 1 Coluna 2 Coluna 3  Coluna 4  Coluna 5
primeira       v1     v1c2        A      1.00  (1.1+0j)
segunda        v2     v2c2        B      2.50    (2+0j)
terceira       v3     v3c2        C      3.75    (3+0j)
quarta         v4     v4c2        D      5.00    (4+0j)

In [52]:
lista = [["v1", "v1c2", "A"],
         ["v2", "v2c2", "B"],
         ["v3", "v3c2", "C"],
         ["v4", "v4c2", "D"]]

In [53]:
df_lista = pd.DataFrame(lista,
                        index=["primeira", "segunda", "terceira", "quarta"])
df_lista

           0     1  2
primeira  v1  v1c2  A
segunda   v2  v2c2  B
terceira  v3  v3c2  C
quarta    v4  v4c2  D

In [54]:
df_lista.columns = ["Coluna 1", "Coluna 2", "Coluna 3"]

In [55]:
df_lista

         Coluna 1 Coluna 2 Coluna 3
primeira       v1     v1c2        A
segunda        v2     v2c2        B
terceira       v3     v3c2        C
quarta         v4     v4c2        D

In [56]:
a = np.arange(1, 26).reshape(5, -1)
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [57]:
df_array = pd.DataFrame(a,
                        index=range(1, 6),
                        columns=list("ABCDE"))

In [58]:
df_array

    A   B   C   D   E
1   1   2   3   4   5
2   6   7   8   9  10
3  11  12  13  14  15
4  16  17  18  19  20
5  21  22  23  24  25

## Indexing

In [59]:
df = pd.DataFrame(np.arange(1, 26).reshape(5, -1),
                  index=["L0", "L1", "L2", "L3", "L4"],
                  columns=["C0", "C1", "C2", "C3", "C4"])
df

    C0  C1  C2  C3  C4
L0   1   2   3   4   5
L1   6   7   8   9  10
L2  11  12  13  14  15
L3  16  17  18  19  20
L4  21  22  23  24  25

#### Usando colchetes

In [60]:
df["C3"]

L0     4
L1     9
L2    14
L3    19
L4    24
Name: C3, dtype: int64

___Pegadinha___: e se eu quiser a segunda e a terceira colunas?

In [61]:
df[2:4]

    C0  C1  C2  C3  C4
L2  11  12  13  14  15
L3  16  17  18  19  20

Pois é... Não é bem o que esperávamos...

##### Sem ambiguidade: `loc` e `iloc`

In [62]:
df

    C0  C1  C2  C3  C4
L0   1   2   3   4   5
L1   6   7   8   9  10
L2  11  12  13  14  15
L3  16  17  18  19  20
L4  21  22  23  24  25

In [63]:
# df.iloc[ linhas,  colunas ]
df.iloc[3, 0]

16

In [64]:
df.iloc[-2:, :2]

    C0  C1
L3  16  17
L4  21  22

In [65]:
df.iloc[-2:, -2:]

    C3  C4
L3  19  20
L4  24  25

In [66]:
df.iloc[[0, 2, 4], [1, 3]]

    C1  C3
L0   2   4
L2  12  14
L4  22  24

In [67]:
df.iloc[:, 3:4]

    C3
L0   4
L1   9
L2  14
L3  19
L4  24

In [68]:
df

    C0  C1  C2  C3  C4
L0   1   2   3   4   5
L1   6   7   8   9  10
L2  11  12  13  14  15
L3  16  17  18  19  20
L4  21  22  23  24  25

In [69]:
df.loc[:, "C1"]

L0     2
L1     7
L2    12
L3    17
L4    22
Name: C1, dtype: int64

#### `loc` com índices numéricos

In [70]:
df_array

    A   B   C   D   E
1   1   2   3   4   5
2   6   7   8   9  10
3  11  12  13  14  15
4  16  17  18  19  20
5  21  22  23  24  25

In [71]:
df_array.loc[5, "A"]

21

##### `at` e `iat`

In [72]:
df.at["L2", "C3"]

14

In [73]:
df.iat[3, 4]

20

### Filters

In [74]:
df

    C0  C1  C2  C3  C4
L0   1   2   3   4   5
L1   6   7   8   9  10
L2  11  12  13  14  15
L3  16  17  18  19  20
L4  21  22  23  24  25

In [75]:
df['C2'] % 2 == 0

L0    False
L1     True
L2    False
L3     True
L4    False
Name: C2, dtype: bool

In [76]:
filtro = df['C2'] % 2 == 0
filtro

L0    False
L1     True
L2    False
L3     True
L4    False
Name: C2, dtype: bool

In [77]:
df[filtro]

    C0  C1  C2  C3  C4
L1   6   7   8   9  10
L3  16  17  18  19  20

In [78]:
df[~filtro]

    C0  C1  C2  C3  C4
L0   1   2   3   4   5
L2  11  12  13  14  15
L4  21  22  23  24  25

##### _deprecated_: `ix`

In [79]:
df.ix[3, 2]

/home/jtoledo/projects/github/numpy_pandas/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

18

(uma hora até aqui está muito bom...)

### Operações Básicas

(copiar DataFrame da parte_1, do meio para o final)

In [80]:
cervejas = pd.DataFrame([["Vedett", "IPA", "Bélgica", 0.33, 5.5],
                         ["Eisenbahn", "Strong Golden Ale", "Brasil", 0.355, 8.0],
                         ["Belhaven", "Rich Scottish Ale", "Escócia", 0.33, 7.4],
                         ["Robinsons", "Premium Britisch Beer", "Inglaterra", 0.5, 4.7],
                         ["Brewdog", "IPA", "Escócia", 0.33, 5.6],
                         ["Fuller's", "Superior Strong Ale", "Inglaterra", 0.5, 8.5],
                         ["Goose", "Session IPA", "Brasil", 0.355, 4.1]],
                        index=["Vedett IPA", "Eisenbahn", "90 Wee Heavy", "Trooper", "Punk IPA", "Golden Pride", "Midway"],
                        columns=["Fabricante", "Tipo", "País", "Volume", "Graduação Alcoólica"])

In [81]:
cervejas

,Fabricante,Tipo,País,Volume,Graduação Alcoólica
Vedett IPA,Vedett,IPA,Bélgica,0.330,5.5
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,0.355,8.0
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,0.330,7.4
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,0.500,4.7
Punk IPA,Brewdog,IPA,Escócia,0.330,5.6
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,0.500,8.5
Midway,Goose,Session IPA,Brasil,0.355,4.1

In [82]:
cervejas.head()

,Fabricante,Tipo,País,Volume,Graduação Alcoólica
Vedett IPA,Vedett,IPA,Bélgica,0.330,5.5
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,0.355,8.0
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,0.330,7.4
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,0.500,4.7
Punk IPA,Brewdog,IPA,Escócia,0.330,5.6

In [83]:
cervejas.head(3)

,Fabricante,Tipo,País,Volume,Graduação Alcoólica
Vedett IPA,Vedett,IPA,Bélgica,0.330,5.5
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,0.355,8.0
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,0.330,7.4

In [84]:
cervejas.tail(2)

,Fabricante,Tipo,País,Volume,Graduação Alcoólica
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,0.500,8.5
Midway,Goose,Session IPA,Brasil,0.355,4.1

In [85]:
cervejas.describe()

         Volume  Graduação Alcoólica
count  7.000000             7.000000
mean   0.385714             6.257143
std    0.078868             1.705733
min    0.330000             4.100000
25%    0.330000             5.100000
50%    0.355000             5.600000
75%    0.427500             7.700000
max    0.500000             8.500000

In [86]:
# cervejas.transpose() é a mesma coisa
cervejas.T

,Vedett IPA,Eisenbahn,90 Wee Heavy,Trooper,Punk IPA,Golden Pride,Midway
Fabricante,Vedett,Eisenbahn,Belhaven,Robinsons,Brewdog,Fuller's,Goose
Tipo,IPA,Strong Golden Ale,Rich Scottish Ale,Premium Britisch Beer,IPA,Superior Strong Ale,Session IPA
País,Bélgica,Brasil,Escócia,Inglaterra,Escócia,Inglaterra,Brasil
Volume,0.33,0.355,0.33,0.5,0.33,0.5,0.355
Graduação Alcoólica,5.5,8,7.4,4.7,5.6,8.5,4.1

In [87]:
cervejas.sort_values(['Volume', 'Graduação Alcoólica'])

,Fabricante,Tipo,País,Volume,Graduação Alcoólica
Vedett IPA,Vedett,IPA,Bélgica,0.330,5.5
Punk IPA,Brewdog,IPA,Escócia,0.330,5.6
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,0.330,7.4
Midway,Goose,Session IPA,Brasil,0.355,4.1
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,0.355,8.0
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,0.500,4.7
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,0.500,8.5

In [88]:
cervejas.sort_values(['Graduação Alcoólica'], ascending=False).sort_values('Volume')

,Fabricante,Tipo,País,Volume,Graduação Alcoólica
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,0.330,7.4
Punk IPA,Brewdog,IPA,Escócia,0.330,5.6
Vedett IPA,Vedett,IPA,Bélgica,0.330,5.5
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,0.355,8.0
Midway,Goose,Session IPA,Brasil,0.355,4.1
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,0.500,8.5
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,0.500,4.7

In [89]:
cervejas['Graduação Alcoólica'].max()

8.5

In [90]:
cervejas['Graduação Alcoólica'].idxmax()

'Golden Pride'

In [91]:
cervejas['Graduação Alcoólica'].idxmin()

'Midway'

In [92]:
cervejas

,Fabricante,Tipo,País,Volume,Graduação Alcoólica
Vedett IPA,Vedett,IPA,Bélgica,0.330,5.5
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,0.355,8.0
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,0.330,7.4
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,0.500,4.7
Punk IPA,Brewdog,IPA,Escócia,0.330,5.6
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,0.500,8.5
Midway,Goose,Session IPA,Brasil,0.355,4.1

Volume em MLs

In [93]:
cervejas['Volume'] * 1000

Vedett IPA      330.0
Eisenbahn       355.0
90 Wee Heavy    330.0
Trooper         500.0
Punk IPA        330.0
Golden Pride    500.0
Midway          355.0
Name: Volume, dtype: float64

In [94]:
cervejas

,Fabricante,Tipo,País,Volume,Graduação Alcoólica
Vedett IPA,Vedett,IPA,Bélgica,0.330,5.5
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,0.355,8.0
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,0.330,7.4
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,0.500,4.7
Punk IPA,Brewdog,IPA,Escócia,0.330,5.6
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,0.500,8.5
Midway,Goose,Session IPA,Brasil,0.355,4.1

In [95]:
cervejas['Volume'] *= 1000

In [96]:
cervejas

,Fabricante,Tipo,País,Volume,Graduação Alcoólica
Vedett IPA,Vedett,IPA,Bélgica,330.0,5.5
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,355.0,8.0
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,330.0,7.4
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,500.0,4.7
Punk IPA,Brewdog,IPA,Escócia,330.0,5.6
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,500.0,8.5
Midway,Goose,Session IPA,Brasil,355.0,4.1

In [97]:
cervejas['Local de Produção'] = None

In [98]:
cervejas

,Fabricante,Tipo,País,Volume,Graduação Alcoólica,Local de Produção
Vedett IPA,Vedett,IPA,Bélgica,330.0,5.5,None
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,355.0,8.0,None
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,330.0,7.4,None
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,500.0,4.7,None
Punk IPA,Brewdog,IPA,Escócia,330.0,5.6,None
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,500.0,8.5,None
Midway,Goose,Session IPA,Brasil,355.0,4.1,None

In [99]:
cervejas[cervejas['País'] != 'Brasil']

,Fabricante,Tipo,País,Volume,Graduação Alcoólica,Local de Produção
Vedett IPA,Vedett,IPA,Bélgica,330.0,5.5,None
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,330.0,7.4,None
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,500.0,4.7,None
Punk IPA,Brewdog,IPA,Escócia,330.0,5.6,None
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,500.0,8.5,None

In [100]:
cervejas.loc[cervejas['País'] != 'Brasil', 'Local de Produção'] = 'Exterior'

In [101]:
cervejas

,Fabricante,Tipo,País,Volume,Graduação Alcoólica,Local de Produção
Vedett IPA,Vedett,IPA,Bélgica,330.0,5.5,Exterior
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,355.0,8.0,None
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,330.0,7.4,Exterior
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,500.0,4.7,Exterior
Punk IPA,Brewdog,IPA,Escócia,330.0,5.6,Exterior
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,500.0,8.5,Exterior
Midway,Goose,Session IPA,Brasil,355.0,4.1,None

In [102]:
cervejas.loc['Eisenbahn', 'Local de Produção'] = 'Blumenau'
cervejas.loc['Midway', 'Local de Produção'] = 'São Paulo'

In [103]:
cervejas

,Fabricante,Tipo,País,Volume,Graduação Alcoólica,Local de Produção
Vedett IPA,Vedett,IPA,Bélgica,330.0,5.5,Exterior
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,355.0,8.0,Blumenau
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,330.0,7.4,Exterior
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,500.0,4.7,Exterior
Punk IPA,Brewdog,IPA,Escócia,330.0,5.6,Exterior
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,500.0,8.5,Exterior
Midway,Goose,Session IPA,Brasil,355.0,4.1,São Paulo

In [104]:
# a ordem e tipos dos dados deve ser igual à das colunas existentes!
cervejas.loc['Skol'] = ['AMBEV', 'Pilsen', 'Brasil', 0.35, 4.5, '***']

In [105]:
cervejas

,Fabricante,Tipo,País,Volume,Graduação Alcoólica,Local de Produção
Vedett IPA,Vedett,IPA,Bélgica,330.00,5.5,Exterior
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,355.00,8.0,Blumenau
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,330.00,7.4,Exterior
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,500.00,4.7,Exterior
Punk IPA,Brewdog,IPA,Escócia,330.00,5.6,Exterior
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,500.00,8.5,Exterior
Midway,Goose,Session IPA,Brasil,355.00,4.1,São Paulo
Skol,AMBEV,Pilsen,Brasil,0.35,4.5,***

## E se eu quisesse tomar uma garrafa de cada uma, quanto líquido eu consumiria?

In [106]:
cervejas.sum()

Fabricante             VedettEisenbahnBelhavenRobinsonsBrewdogFuller'...
Tipo                   IPAStrong Golden AleRich Scottish AlePremium B...
País                   BélgicaBrasilEscóciaInglaterraEscóciaInglaterr...
Volume                                                           2700.35
Graduação Alcoólica                                                 48.3
Local de Produção      ExteriorBlumenauExteriorExteriorExteriorExteri...
dtype: object

In [107]:
cervejas.sum(numeric_only=True)

Volume                 2700.35
Graduação Alcoólica      48.30
dtype: float64

In [108]:
cervejas['Volume'].sum()

2700.35

## É muita cerveja!

In [109]:
cervejas.drop('Skol')

,Fabricante,Tipo,País,Volume,Graduação Alcoólica,Local de Produção
Vedett IPA,Vedett,IPA,Bélgica,330.0,5.5,Exterior
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,355.0,8.0,Blumenau
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,330.0,7.4,Exterior
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,500.0,4.7,Exterior
Punk IPA,Brewdog,IPA,Escócia,330.0,5.6,Exterior
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,500.0,8.5,Exterior
Midway,Goose,Session IPA,Brasil,355.0,4.1,São Paulo

In [110]:
cervejas

,Fabricante,Tipo,País,Volume,Graduação Alcoólica,Local de Produção
Vedett IPA,Vedett,IPA,Bélgica,330.00,5.5,Exterior
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,355.00,8.0,Blumenau
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,330.00,7.4,Exterior
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,500.00,4.7,Exterior
Punk IPA,Brewdog,IPA,Escócia,330.00,5.6,Exterior
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,500.00,8.5,Exterior
Midway,Goose,Session IPA,Brasil,355.00,4.1,São Paulo
Skol,AMBEV,Pilsen,Brasil,0.35,4.5,***

In [111]:
cervejas.drop('Skol', inplace=True)

In [112]:
cervejas

,Fabricante,Tipo,País,Volume,Graduação Alcoólica,Local de Produção
Vedett IPA,Vedett,IPA,Bélgica,330.0,5.5,Exterior
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,355.0,8.0,Blumenau
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,330.0,7.4,Exterior
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,500.0,4.7,Exterior
Punk IPA,Brewdog,IPA,Escócia,330.0,5.6,Exterior
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,500.0,8.5,Exterior
Midway,Goose,Session IPA,Brasil,355.0,4.1,São Paulo

### Apply

In [113]:
def get_classificacao(linha):
    ga = linha['Graduação Alcoólica']
    if (ga < 5):
        return 'light'
    elif (ga < 8):
        return 'ok'
    else:
        return 'strong'

In [114]:
cervejas

,Fabricante,Tipo,País,Volume,Graduação Alcoólica,Local de Produção
Vedett IPA,Vedett,IPA,Bélgica,330.0,5.5,Exterior
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,355.0,8.0,Blumenau
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,330.0,7.4,Exterior
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,500.0,4.7,Exterior
Punk IPA,Brewdog,IPA,Escócia,330.0,5.6,Exterior
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,500.0,8.5,Exterior
Midway,Goose,Session IPA,Brasil,355.0,4.1,São Paulo

In [115]:
cervejas['Classificação'] = cervejas.apply(get_classificacao, axis='columns')

In [116]:
cervejas

,Fabricante,Tipo,País,Volume,Graduação Alcoólica,Local de Produção,Classificação
Vedett IPA,Vedett,IPA,Bélgica,330.0,5.5,Exterior,ok
Eisenbahn,Eisenbahn,Strong Golden Ale,Brasil,355.0,8.0,Blumenau,strong
90 Wee Heavy,Belhaven,Rich Scottish Ale,Escócia,330.0,7.4,Exterior,ok
Trooper,Robinsons,Premium Britisch Beer,Inglaterra,500.0,4.7,Exterior,light
Punk IPA,Brewdog,IPA,Escócia,330.0,5.6,Exterior,ok
Golden Pride,Fuller's,Superior Strong Ale,Inglaterra,500.0,8.5,Exterior,strong
Midway,Goose,Session IPA,Brasil,355.0,4.1,São Paulo,light

## Funções são ___First Class Citizens___ em Python!

### Loading & Saving

In [117]:
goog = pd.read_csv('GOOG.csv')
goog.head()

                                                      Date;Open;High;Low;Close;Adj Close;Volume
19/08/2004;49 676899;51 693783;47 669952;49 845802;49                           845802;44994500
20/08/2004;50 178635;54 187561;49 925285;53 805050;53                           805050;23005800
23/08/2004;55 017166;56 373344;54 172661;54 346527;54                           346527;18393200
24/08/2004;55 260582;55 439419;51 450363;52 096165;52                           096165;15361800
25/08/2004;52 140873;53 651051;51 604362;52 657513;52                            657513;9257400

In [118]:
goog = pd.read_csv('GOOG.csv',
                   sep=';')
goog.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  19/08/2004  49,676899  51,693783  47,669952  49,845802  49,845802  44994500
1  20/08/2004  50,178635  54,187561  49,925285  53,805050  53,805050  23005800
2  23/08/2004  55,017166  56,373344  54,172661  54,346527  54,346527  18393200
3  24/08/2004  55,260582  55,439419  51,450363  52,096165  52,096165  15361800
4  25/08/2004  52,140873  53,651051  51,604362  52,657513  52,657513   9257400

In [119]:
goog.dtypes

Date         object
Open         object
High         object
Low          object
Close        object
Adj Close    object
Volume        int64
dtype: object

In [120]:
goog = pd.read_csv('GOOG.csv',
                   sep=';',
                   decimal=',')
goog.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  19/08/2004  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  20/08/2004  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  23/08/2004  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  24/08/2004  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  25/08/2004  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [121]:
goog.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [122]:
goog.sort_values('Date').head()

,Date,Open,High,Low,Close,Adj Close,Volume
114,01/02/2005,96.561958,97.694588,94.699074,95.329971,95.329971,37922900
366,01/02/2006,193.258041,199.701141,192.507919,199.591843,199.591843,54597700
617,01/02/2007,251.365112,251.370087,239.209167,239.318466,239.318466,31521000
869,01/02/2008,262.626862,266.601013,253.352188,256.283112,256.283112,35429900
1372,01/02/2010,265.572693,266.173798,263.436584,264.787811,264.787811,4530800

In [123]:
goog = pd.read_csv('GOOG.csv',
                   sep=';',
                   decimal=',',
                   parse_dates=[0])
goog.head()

        Date       Open       High        Low      Close  Adj Close    Volume
0 2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1 2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2 2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3 2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4 2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [124]:
goog.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [125]:
goog.sort_values('Date').head()

         Date       Open       High        Low      Close  Adj Close    Volume
9  2004-01-09  51.018177  51.152302  49.512966  49.801090  49.801090   9206800
30 2004-01-10  64.977386  66.686272  64.033524  65.861633  65.861633  15238400
51 2004-01-11  96.149643  98.196327  95.017006  97.381630  97.381630  24608700
72 2004-01-12  90.387115  90.660339  89.194870  89.398552  89.398552  15830400
10 2004-02-09  49.274517  50.854240  49.150326  50.427021  50.427021  15232100

In [126]:
goog.sort_values('Date').tail()

,Date,Open,High,Low,Close,Adj Close,Volume
3663,2019-11-03,1144.449951,1176.189941,1144.449951,1175.760010,1175.760010,1719200
3686,2019-11-04,1203.959961,1207.959961,1200.130005,1204.619995,1204.619995,710200
3645,2019-12-02,1106.800049,1125.295044,1105.849976,1121.369995,1121.369995,1609100
3664,2019-12-03,1178.260010,1200.000000,1178.260010,1193.199951,1193.199951,2013100
3687,2019-12-04,1210.000000,1218.349976,1208.109985,1217.869995,1217.869995,933400

In [127]:
goog = pd.read_csv('GOOG.csv',
                   sep=';',
                   decimal=',',
                   parse_dates=[0],
                   dayfirst=True)
goog.head()

        Date       Open       High        Low      Close  Adj Close    Volume
0 2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1 2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2 2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3 2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4 2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [128]:
goog.sort_values('Date').tail()

,Date,Open,High,Low,Close,Adj Close,Volume
3689,2019-04-16,1225.000000,1230.819946,1220.119995,1227.130005,1227.130005,856300
3690,2019-04-17,1233.000000,1240.560059,1227.819946,1236.339966,1236.339966,1221900
3691,2019-04-18,1239.180054,1242.000000,1234.609985,1236.369995,1236.369995,1331800
3692,2019-04-22,1235.989990,1249.089966,1228.310059,1248.839966,1248.839966,807300
3693,2019-04-23,1250.689941,1269.000000,1246.380005,1264.550049,1264.550049,1319900

In [129]:
goog.sort_values('Date').head()

        Date       Open       High        Low      Close  Adj Close    Volume
0 2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1 2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2 2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3 2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4 2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [130]:
goog.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [131]:
goog = pd.read_csv('GOOG.csv',
                   sep=';',
                   decimal=',',
                   parse_dates=[0],
                   dayfirst=True,
                   names=["Data", "Abertura", "Máximo", "Mínimo", "Fechamento", "Fechamento Ajustado", "Volume"])
goog.head()

,Data,Abertura,Máximo,Mínimo,Fechamento,Fechamento Ajustado,Volume
0,Date,Open,High,Low,Close,Adj Close,Volume
1,19/08/2004,"49,676899","51,693783","47,669952","49,845802","49,845802",44994500
2,20/08/2004,"50,178635","54,187561","49,925285","53,805050","53,805050",23005800
3,23/08/2004,"55,017166","56,373344","54,172661","54,346527","54,346527",18393200
4,24/08/2004,"55,260582","55,439419","51,450363","52,096165","52,096165",15361800

In [132]:
goog = pd.read_csv('GOOG.csv',
                   sep=';',
                   decimal=',',
                   parse_dates=[0],
                   dayfirst=True,
                   names=["Data", "Abertura", "Máximo", "Mínimo", "Fechamento", "Fechamento Ajustado", "Volume"],
                   skiprows=1)
goog.head()

,Data,Abertura,Máximo,Mínimo,Fechamento,Fechamento Ajustado,Volume
0,2004-08-19,49.676899,51.693783,47.669952,49.845802,49.845802,44994500
1,2004-08-20,50.178635,54.187561,49.925285,53.805050,53.805050,23005800
2,2004-08-23,55.017166,56.373344,54.172661,54.346527,54.346527,18393200
3,2004-08-24,55.260582,55.439419,51.450363,52.096165,52.096165,15361800
4,2004-08-25,52.140873,53.651051,51.604362,52.657513,52.657513,9257400

In [133]:
xls = pd.read_excel('AAPL_GOOG.xlsx', sheet_name='GOOG')
xls.head()

        Date       Open       High        Low      Close  Adj Close    Volume
0 2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1 2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2 2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3 2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4 2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [134]:
xls.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [135]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts either
        ``pathlib.Path`` or ``py._path.local.LocalPath``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int, sequence or bool, optional
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider ``index_col=False`` to force pandas to
        not use the first column as the index (row names).
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : bool, default False
        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns).

        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [136]:
help(pd.read_excel)

Help on function read_excel in module pandas.io.excel:

read_excel(io, sheet_name=0, header=0, names=None, index_col=None, parse_cols=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skip_footer=0, skipfooter=0, convert_float=True, mangle_dupe_cols=True, **kwds)
    Read an Excel file into a pandas DataFrame.

    Support both `xls` and `xlsx` file extensions from a local filesystem or URL.
    Support an option to read a single sheet or a list of sheets.

    Parameters
    ----------
    io : str, file descriptor, pathlib.Path, ExcelFile or xlrd.Book
        The string could be a URL. Valid URL schemes include http, ftp, s3,
        gcs, and file. For file URLs, a host is expected. For instance, a local
        file could be /path/to/workbook.xlsx.
    sheet_name : str, int, list, or None, default 0
        Strings are used for sheet names. Integers are used in zero-indexed
        sheet positions. Lists of strings/integers are used to request
        multiple sheets. Specify None to get all sheets.

        Available cases:

        * Defaults to ``0``: 1st sheet as a `DataFrame`
        * ``1``: 2nd sheet as a `DataFrame`
        * ``"Sheet1"``: Load sheet with name "Sheet1"
        * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
          as a dict of `DataFrame`
        * None: All sheets.

    header : int, list of int, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``. Use None if there is no header.
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None.
    index_col : int, list of int, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``.  If a
        subset of data is selected with ``usecols``, index_col
        is based on the subset.
    parse_cols : int or list, default None
        Alias of `usecols`.

        .. deprecated:: 0.21.0
           Use `usecols` instead.

    usecols : int, str, list-like, or callable default None
        Return a subset of the columns.
        * If None, then parse all columns.
        * If int, then indicates last column to be parsed.

        .. deprecated:: 0.24.0
           Pass in a list of int instead from 0 to `usecols` inclusive.

        * If str, then indicates comma separated list of Excel column letters
          and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
          both sides.
        * If list of int, then indicates list of column numbers to be parsed.
        * If list of string, then indicates list of column names to be parsed.

        .. versionadded:: 0.24.0

        * If callable, then evaluate each column name against it and parse the
          column if the callable returns ``True``.

        .. versionadded:: 0.24.0

    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `object` to preserve data as stored in Excel and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 0.20.0

    engine : str, default None
        If io is not a buffer or path, this must be set to identify io.
        Acceptable values are None or xlrd.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    true_values : list, default None
        Values to consider as True.

        .. versionadded:: 0.19.0

    false_values : list, default None
        Values to consider as False.

        .. versionadded:: 0.19.0

    skiprows : list-like
        Rows to skip at the beginning (0-indexed).
    nrows : int, default None
        Number of rows to parse.

        .. versionadded:: 0.23.0

    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values. By default the following values are interpreted
        as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    parse_dates : bool, list-like, or dict, default False
        The behavior is as follows:

        * bool. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {{'foo' : [1, 3]}} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    comment : str, default None
        Comments out remainder of line. Pass a character or characters to this
        argument to indicate comments in the input file. Any data between the
        comment string and the end of the current line is ignored.
    skip_footer : int, default 0
        Alias of `skipfooter`.

        .. deprecated:: 0.23.0
           Use `skipfooter` instead.
    skipfooter : int, default 0
        Rows at the end to skip (0-indexed).
    convert_float : bool, default True
        Convert integral floats to int (i.e., 1.0 --> 1). If False, all numeric
        data will be read in as floats: Excel stores all numbers as floats
        internally.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    **kwds : optional
            Optional keyword arguments can be passed to ``TextFileReader``.

    Returns
    -------
    DataFrame or dict of DataFrames
        DataFrame from the passed in Excel file. See notes in sheet_name
        argument for more information on when a dict of DataFrames is returned.

    See Also
    --------
    to_excel : Write DataFrame to an Excel file.
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    The file can be read using the file name as string or an open file object:

    >>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
           Name  Value
    0   string1      1
    1   string2      2
    2  #Comment      3

    >>> pd.read_excel(open('tmp.xlsx', 'rb'),
    ...               sheet_name='Sheet3')  # doctest: +SKIP
       Unnamed: 0      Name  Value
    0           0   string1      1
    1           1   string2      2
    2           2  #Comment      3

    Index and header can be specified via the `index_col` and `header` arguments

    >>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
         0         1      2
    0  NaN      Name  Value
    1  0.0   string1      1
    2  1.0   string2      2
    3  2.0  #Comment      3

    Column types are inferred but can be explicitly specified

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
           Name  Value
    0   string1    1.0
    1   string2    2.0
    2  #Comment    3.0

    True, False, and NA values, and thousands separators have defaults,
    but can be explicitly specified, too. Supply the values you would like
    as strings or lists of strings!

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               na_values=['string1', 'string2'])  # doctest: +SKIP
           Name  Value
    0       NaN      1
    1       NaN      2
    2  #Comment      3

    Comment lines in the excel input file can be skipped using the `comment` kwarg

    >>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
          Name  Value
    0  string1    1.0
    1  string2    2.0
    2     None    NaN