# GroupBy

Podemos usar o método `groupby` para agrupar dados de uma `Series` ou `DataFrame` de acordo com seus valores, e depois computar dados ou filtrar seu conteúdo baseando-se no conteúdo de cada grupo.

In [1]:
import numpy as np
import pandas as pd

Antes de começar, vamos carregar um `DataFrame` contendo o valor da taxa SELIC anualizada, dia a dia, a partir de junho de 1986.

In [2]:
# fonte: http://dados.gov.br/dataset/1178-taxa-de-juros-selic-anualizada-base-252,
# modificado para servir melhor ao exemplo
df = pd.read_csv('bcdata.sgs.1178.csv',
                 sep=';',
                 decimal=',')

In [3]:
df.head()

    ano  mes  dia  valor
0  1986    6    4  17.80
1  1986    6    5  18.50
2  1986    6    6  18.31
3  1986    6    9  18.76
4  1986    6   10  18.40

In [4]:
df.tail()

       ano  mes  dia  valor
8237  2019    4   18    6.4
8238  2019    4   22    6.4
8239  2019    4   23    6.4
8240  2019    4   24    6.4
8241  2019    4   25    6.4

O próximo passo é agrupar os valores por ano:

In [5]:
agrupado_ano = df.groupby('ano')

Para obtermos todos os valores de um grupo, podemos usar o método `get_group` e passar como parâmetro o nome do grupo desejado:

In [6]:
agrupado_ano.get_group(2017).head()

       ano  mes  dia  valor
7664  2017    1    2  13.65
7665  2017    1    3  13.65
7666  2017    1    4  13.65
7667  2017    1    5  13.65
7668  2017    1    6  13.65

Também podemos agrupar pelo valor de mais de uma coluna:

In [7]:
agrupado_ano_mes = df.groupby(['ano', 'mes'])

Neste caso, como o identificador de cada grupo são dois valores (ano e mês), devemos passá-los como uma tupla para `get_group`:

In [8]:
agrupado_ano_mes.get_group((2017, 4)).head()

       ano  mes  dia  valor
7727  2017    4    3  12.15
7728  2017    4    4  12.15
7729  2017    4    5  12.15
7730  2017    4    6  12.15
7731  2017    4    7  12.15

Também podemos obter todos os grupos usando a propriedade `groups`. Note que o resultado nada mais é do que um dicionário em que a chave é o identificador do grupo (uma tupla (ano, mês), neste caso) e o valor é a relação dos índices das linhas que pertencem ao grupo:

In [9]:
agrupado_ano_mes.groups

{(1986,
  6): Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], dtype='int64'),
 (1986,
  7): Int64Index([19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
             36, 37, 38, 39, 40, 41],
            dtype='int64'),
 (1986,
  8): Int64Index([42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,
             59, 60, 61, 62],
            dtype='int64'),
 (1986,
  9): Int64Index([63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79,
             80, 81, 82, 83, 84],
            dtype='int64'),
 (1986,
  10): Int64Index([ 85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,
              98,  99, 100, 101, 102, 103, 104, 105, 106, 107],
            dtype='int64'),
 (1986,
  11): Int64Index([108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
             121, 122, 123, 124, 125, 126, 127],
            dtype='int64'),
 (1986,
  12): Int64Index([128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140,
             141, 142, 143, 144, 145, 146, 147, 148, 149],
            dtype='int64'),
 (1987,
  1): Int64Index([150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162,
             163, 164, 165, 166, 167, 168, 169, 170],
            dtype='int64'),
 (1987,
  2): Int64Index([171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183,
             184, 185, 186, 187, 188, 189, 190],
            dtype='int64'),
 (1987,
  3): Int64Index([191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203,
             204, 205, 206, 207, 208, 209, 210],
            dtype='int64'),
 (1987,
  4): Int64Index([211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223,
             224, 225, 226, 227, 228, 229],
            dtype='int64'),
 (1987,
  5): Int64Index([230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242,
             243, 244, 245, 246, 247, 248, 249],
            dtype='int64'),
 (1987,
  6): Int64Index([250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262,
             263, 264, 265, 266, 267, 268, 269, 270],
            dtype='int64'),
 (1987,
  7): Int64Index([271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283,
             284, 285, 286, 287, 288, 289, 290, 291, 292, 293],
            dtype='int64'),
 (1987,
  8): Int64Index([294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306,
             307, 308, 309, 310, 311, 312, 313, 314],
            dtype='int64'),
 (1987,
  9): Int64Index([315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327,
             328, 329, 330, 331, 332, 333, 334, 335],
            dtype='int64'),
 (1987,
  10): Int64Index([336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348,
             349, 350, 351, 352, 353, 354, 355, 356],
            dtype='int64'),
 (1987,
  11): Int64Index([357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369,
             370, 371, 372, 373, 374, 375, 376],
            dtype='int64'),
 (1987,
  12): Int64Index([377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
             390, 391, 392, 393, 394, 395, 396, 397, 398],
            dtype='int64'),
 (1988,
  1): Int64Index([399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411,
             412, 413, 414, 415, 416, 417, 418],
            dtype='int64'),
 (1988,
  2): Int64Index([419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431,
             432, 433, 434, 435, 436, 437],
            dtype='int64'),
 (1988,
  3): Int64Index([438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450,
             451, 452, 453, 454, 455, 456, 457, 458, 459],
            dtype='int64'),
 (1988,
  4): Int64Index([460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472,
             473, 474, 475, 476, 477, 478],
            dtype='int64'),
 (1988,
  5): Int64Index([479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491,
             492, 493, 494, 495, 496, 497, 498],
            dtype='int64'),
 (1988,
  6): Int64Index([499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511,
             512, 513, 514, 515, 516, 517, 518, 519, 520],
            dtype='int64'),
 (1988,
  7): Int64Index([521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
             534, 535, 536, 537, 538, 539, 540, 541],
            dtype='int64'),
 (1988,
  8): Int64Index([542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554,
             555, 556, 557, 558, 559, 560, 561, 562, 563, 564],
            dtype='int64'),
 (1988,
  9): Int64Index([565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577,
             578, 579, 580, 581, 582, 583, 584, 585],
            dtype='int64'),
 (1988,
  10): Int64Index([586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
             599, 600, 601, 602, 603, 604],
            dtype='int64'),
 (1988,
  11): Int64Index([605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617,
             618, 619, 620, 621, 622, 623, 624, 625],
            dtype='int64'),
 (1988,
  12): Int64Index([626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638,
             639, 640, 641, 642, 643, 644, 645, 646, 647],
            dtype='int64'),
 (1989,
  1): Int64Index([648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660,
             661, 662, 663, 664, 665, 666, 667],
            dtype='int64'),
 (1989,
  2): Int64Index([668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680,
             681, 682, 683, 684, 685],
            dtype='int64'),
 (1989,
  3): Int64Index([686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698,
             699, 700, 701, 702, 703, 704, 705, 706],
            dtype='int64'),
 (1989,
  4): Int64Index([707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719,
             720, 721, 722, 723, 724, 725],
            dtype='int64'),
 (1989,
  5): Int64Index([726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738,
             739, 740, 741, 742, 743, 744, 745, 746],
            dtype='int64'),
 (1989,
  6): Int64Index([747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759,
             760, 761, 762, 763, 764, 765, 766, 767, 768],
            dtype='int64'),
 (1989,
  7): Int64Index([769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781,
             782, 783, 784, 785, 786, 787, 788, 789],
            dtype='int64'),
 (1989,
  8): Int64Index([790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802,
             803, 804, 805, 806, 807, 808, 809, 810, 811, 812],
            dtype='int64'),
 (1989,
  9): Int64Index([813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825,
             826, 827, 828, 829, 830, 831, 832],
            dtype='int64'),
 (1989,
  10): Int64Index([833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845,
             846, 847, 848, 849, 850, 851, 852, 853],
            dtype='int64'),
 (1989,
  11): Int64Index([854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866,
             867, 868, 869, 870, 871, 872, 873],
            dtype='int64'),
 (1989,
  12): Int64Index([874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886,
             887, 888, 889, 890, 891, 892, 893],
            dtype='int64'),
 (1990,
  1): Int64Index([894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906,
             907, 908, 909, 910, 911, 912, 913, 914, 915],
            dtype='int64'),
 (1990,
  2): Int64Index([916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928,
             929, 930, 931, 932, 933],
            dtype='int64'),
 (1990,
  3): Int64Index([934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946,
             947, 948, 949, 950, 951, 952, 953, 954, 955],
            dtype='int64'),
 (1990,
  4): Int64Index([956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968,
             969, 970, 971, 972, 973, 974],
            dtype='int64'),
 (1990,
  5): Int64Index([975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987,
             988, 989, 990, 991, 992, 993, 994, 995, 996],
            dtype='int64'),
 (1990,
  6): Int64Index([ 997,  998,  999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007,
             1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016],
            dtype='int64'),
 (1990,
  7): Int64Index([1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027,
             1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038],
            dtype='int64'),
 (1990,
  8): Int64Index([1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049,
             1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060,
             1061],
            dtype='int64'),
 (1990,
  9): Int64Index([1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072,
             1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080],
            dtype='int64'),
 (1990,
  10): Int64Index([1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091,
             1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101],
            dtype='int64'),
 (1990,
  11): Int64Index([1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112,
             1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121],
            dtype='int64'),
 (1990,
  12): Int64Index([1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132,
             1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141],
            dtype='int64'),
 (1991,
  1): Int64Index([1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152,
             1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163],
            dtype='int64'),
 (1991,
  2): Int64Index([1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174,
             1175, 1176, 1177, 1178, 1179, 1180],
            dtype='int64'),
 (1991,
  3): Int64Index([1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191,
             1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199],
            dtype='int64'),
 (1991,
  4): Int64Index([1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210,
             1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221],
            dtype='int64'),
 (1991,
  5): Int64Index([1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232,
             1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242],
            dtype='int64'),
 (1991,
  6): Int64Index([1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253,
             1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262],
            dtype='int64'),
 (1991,
  7): Int64Index([1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273,
             1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284,
             1285],
            dtype='int64'),
 (1991,
  8): Int64Index([1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296,
             1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307],
            dtype='int64'),
 (1991,
  9): Int64Index([1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318,
             1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328],
            dtype='int64'),
 (1991,
  10): Int64Index([1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339,
             1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350,
             1351],
            dtype='int64'),
 (1991,
  11): Int64Index([1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362,
             1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371],
            dtype='int64'),
 (1991,
  12): Int64Index([1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382,
             1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392],
            dtype='int64'),
 (1992,
  1): Int64Index([1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403,
             1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414],
            dtype='int64'),
 (1992,
  2): Int64Index([1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425,
             1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434],
            dtype='int64'),
 (1992,
  3): Int64Index([1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445,
             1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454],
            dtype='int64'),
 (1992,
  4): Int64Index([1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465,
             1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473],
            dtype='int64'),
 (1992,
  5): Int64Index([1474, 1475, 1476, 1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484,
             1485, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493],
            dtype='int64'),
 (1992,
  6): Int64Index([1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1503, 1504,
             1505, 1506, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1514],
            dtype='int64'),
 (1992,
  7): Int64Index([1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525,
             1526, 1527, 1528, 1529, 1530, 1531, 1532, 1533, 1534, 1535, 1536,
             1537],
            dtype='int64'),
 (1992,
  8): Int64Index([1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548,
             1549, 1550, 1551, 1552, 1553, 1554, 1555, 1556, 1557, 1558],
            dtype='int64'),
 (1992,
  9): Int64Index([1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569,
             1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579],
            dtype='int64'),
 (1992,
  10): Int64Index([1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590,
             1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600],
            dtype='int64'),
 (1992,
  11): Int64Index([1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611,
             1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620],
            dtype='int64'),
 (1992,
  12): Int64Index([1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631,
             1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642],
            dtype='int64'),
 (1993,
  1): Int64Index([1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653,
             1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662],
            dtype='int64'),
 (1993,
  2): Int64Index([1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673,
             1674, 1675, 1676, 1677, 1678, 1679, 1680],
            dtype='int64'),
 (1993,
  3): Int64Index([1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691,
             1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702,
             1703],
            dtype='int64'),
 (1993,
  4): Int64Index([1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714,
             1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722],
            dtype='int64'),
 (1993,
  5): Int64Index([1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733,
             1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743],
            dtype='int64'),
 (1993,
  6): Int64Index([1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754,
             1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764],
            dtype='int64'),
 (1993,
  7): Int64Index([1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775,
             1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786],
            dtype='int64'),
 (1993,
  8): Int64Index([1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797,
             1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808],
            dtype='int64'),
 (1993,
  9): Int64Index([1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819,
             1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829],
            dtype='int64'),
 (1993,
  10): Int64Index([1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840,
             1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849],
            dtype='int64'),
 (1993,
  11): Int64Index([1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860,
             1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869],
            dtype='int64'),
 (1993,
  12): Int64Index([1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880,
             1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891,
             1892],
            dtype='int64'),
 (1994,
  1): Int64Index([1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903,
             1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913],
            dtype='int64'),
 (1994,
  2): Int64Index([1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924,
             1925, 1926, 1927, 1928, 1929, 1930, 1931],
            dtype='int64'),
 (1994,
  3): Int64Index([1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942,
             1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953],
            dtype='int64'),
 (1994,
  4): Int64Index([1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964,
             1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972],
            dtype='int64'),
 (1994,
  5): Int64Index([1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983,
             1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994],
            dtype='int64'),
 (1994,
  6): Int64Index([1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
             2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015],
            dtype='int64'),
 (1994,
  7): Int64Index([2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026,
             2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035],
            dtype='int64'),
 (1994,
  8): Int64Index([2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046,
             2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057,
             2058],
            dtype='int64'),
 (1994,
  9): Int64Index([2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069,
             2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079],
            dtype='int64'),
 (1994,
  10): Int64Index([2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090,
             2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098],
            dtype='int64'),
 (1994,
  11): Int64Index([2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109,
             2110, 2111, 2112, 2113, 2114, 2115, 2116, 2117, 2118],
            dtype='int64'),
 (1994,
  12): Int64Index([2119, 2120, 2121, 2122, 2123, 2124, 2125, 2126, 2127, 2128, 2129,
             2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2139, 2140],
            dtype='int64'),
 (1995,
  1): Int64Index([2141, 2142, 2143, 2144, 2145, 2146, 2147, 2148, 2149, 2150, 2151,
             2152, 2153, 2154, 2155, 2156, 2157, 2158, 2159, 2160, 2161, 2162],
            dtype='int64'),
 (1995,
  2): Int64Index([2163, 2164, 2165, 2166, 2167, 2168, 2169, 2170, 2171, 2172, 2173,
             2174, 2175, 2176, 2177, 2178, 2179, 2180],
            dtype='int64'),
 (1995,
  3): Int64Index([2181, 2182, 2183, 2184, 2185, 2186, 2187, 2188, 2189, 2190, 2191,
             2192, 2193, 2194, 2195, 2196, 2197, 2198, 2199, 2200, 2201, 2202,
             2203],
            dtype='int64'),
 (1995,
  4): Int64Index([2204, 2205, 2206, 2207, 2208, 2209, 2210, 2211, 2212, 2213, 2214,
             2215, 2216, 2217, 2218, 2219, 2220],
            dtype='int64'),
 (1995,
  5): Int64Index([2221, 2222, 2223, 2224, 2225, 2226, 2227, 2228, 2229, 2230, 2231,
             2232, 2233, 2234, 2235, 2236, 2237, 2238, 2239, 2240, 2241, 2242],
            dtype='int64'),
 (1995,
  6): Int64Index([2243, 2244, 2245, 2246, 2247, 2248, 2249, 2250, 2251, 2252, 2253,
             2254, 2255, 2256, 2257, 2258, 2259, 2260, 2261, 2262, 2263],

Assim sendo, é muito simples percorrermos todos os grupos e seus valores:

In [10]:
for name, group in agrupado_ano_mes:
    print("Nome do Grupo:", name)
    print(group)
    print()

Nome do Grupo: (1986, 6)
     ano  mes  dia  valor
0   1986    6    4  17.80
1   1986    6    5  18.50
2   1986    6    6  18.31
3   1986    6    9  18.76
4   1986    6   10  18.40
5   1986    6   11  18.31
6   1986    6   12  18.26
7   1986    6   13  18.14
8   1986    6   16  18.24
9   1986    6   17  18.16
10  1986    6   18  18.18
11  1986    6   19  18.14
12  1986    6   20  18.10
13  1986    6   23  18.12
14  1986    6   24  18.10
15  1986    6   25  18.24
16  1986    6   26  18.21
17  1986    6   27  18.18
18  1986    6   30  18.27

Nome do Grupo: (1986, 7)
     ano  mes  dia  valor
19  1986    7    1  18.28
20  1986    7    2  18.77
21  1986    7    3  20.48
22  1986    7    4  23.31
23  1986    7    7  23.35
24  1986    7    8  23.30
25  1986    7    9  23.69
26  1986    7   10  23.91
27  1986    7   11  23.92
28  1986    7   14  23.93
29  1986    7   15  23.80
30  1986    7   16  23.83
31  1986    7   17  23.83
32  1986    7   18  23.88
33  1986    7   21  23.89
34  1986    7   22  23.96
35  1986    7   23  24.78
36  1986    7   24  24.87
37  1986    7   25  24.95
38  1986    7   28  25.08
39  1986    7   29  25.08
40  1986    7   30  25.07
41  1986    7   31  25.08

Nome do Grupo: (1986, 8)
     ano  mes  dia  valor
42  1986    8    1  25.13
43  1986    8    4  25.23
44  1986    8    5  25.34
45  1986    8    6  25.51
46  1986    8    7  26.60
47  1986    8    8  32.04
48  1986    8   11  37.91
49  1986    8   12  37.54
50  1986    8   13  38.49
51  1986    8   14  38.59
52  1986    8   15  39.46
53  1986    8   18  39.76
54  1986    8   19  39.62
55  1986    8   20  39.54
56  1986    8   21  39.75
57  1986    8   22  39.83
58  1986    8   25  39.80
59  1986    8   26  39.79
60  1986    8   27  39.81
61  1986    8   28  39.78
62  1986    8   29  39.88

Nome do Grupo: (1986, 9)
     ano  mes  dia  valor
63  1986    9    1  39.07
64  1986    9    2  39.15
65  1986    9    3  39.28
66  1986    9    4  39.17
67  1986    9    5  39.20
68  1986    9    8  39.14
69  1986    9    9  39.23
70  1986    9   10  39.19
71  1986    9   11  39.19
72  1986    9   12  39.19
73  1986    9   15  39.19
74  1986    9   16  39.19
75  1986    9   17  39.42
76  1986    9   18  39.47
77  1986    9   19  39.56
78  1986    9   22  39.64
79  1986    9   23  39.75
80  1986    9   24  39.63
81  1986    9   25  39.70
82  1986    9   26  39.67
83  1986    9   29  39.75
84  1986    9   30  39.78

Nome do Grupo: (1986, 10)
      ano  mes  dia  valor
85   1986   10    1  18.29
86   1986   10    2  19.87
87   1986   10    3  21.33
88   1986   10    6  23.37
89   1986   10    7  23.51
90   1986   10    8  23.69
91   1986   10    9  24.21
92   1986   10   10  24.30
93   1986   10   13  24.22
94   1986   10   14  24.22
95   1986   10   15  24.28
96   1986   10   16  24.34
97   1986   10   17  24.25
98   1986   10   20  24.32
99   1986   10   21  24.30
100  1986   10   22  24.30
101  1986   10   23  24.28
102  1986   10   24  24.28
103  1986   10   27  24.30
104  1986   10   28  24.33
105  1986   10   29  24.31
106  1986   10   30  24.34
107  1986   10   31  25.46

Nome do Grupo: (1986, 11)
      ano  mes  dia  valor
108  1986   11    3  32.82
109  1986   11    4  33.61
110  1986   11    5  33.64
111  1986   11    6  33.61
112  1986   11    7  33.45
113  1986   11   10  33.07
114  1986   11   11  32.20
115  1986   11   12  32.32
116  1986   11   13  32.37
117  1986   11   14  32.52
118  1986   11   17  32.66
119  1986   11   18  32.64
120  1986   11   19  32.65
121  1986   11   20  32.33
122  1986   11   21  32.65
123  1986   11   24  33.61
124  1986   11   25  36.45
125  1986   11   26  40.49
126  1986   11   27  41.56
127  1986   11   28  42.43

Nome do Grupo: (1986, 12)
      ano  mes  dia   valor
128  1986   12    1   65.07
129  1986   12    2   80.59
130  1986   12    3   76.49
131  1986   12    4   73.71
132  1986   12    5   74.24
133  1986   12    8   77.78
134  1986   12    9   84.50
135  1986   12   10   86.04
136  1986   12   11   82.16
137  1986   12   12   82.16
138  1986   12   15   82.23
139  1986   12   16   81.18
140  1986   12   17   82.63
141  1986   12   18   83.37
142  1986   12   19   83.21
143  1986   12   22   84.58
144  1986   12   23   85.58
145  1986   12   24   85.58
146  1986   12   26   85.58
147  1986   12   29   86.60
148  1986   12   30  115.56
149  1986   12   31  115.56

Nome do Grupo: (1987, 1)
      ano  mes  dia   valor
150  1987    1    2  115.56
151  1987    1    5  184.88
152  1987    1    6  178.36
153  1987    1    7  177.50
154  1987    1    8  179.97
155  1987    1    9  250.81
156  1987    1   12  249.18
157  1987    1   13  250.47
158  1987    1   14  251.75
159  1987    1   15  266.43
160  1987    1   16  265.19
161  1987    1   19  265.19
162  1987    1   20  265.67
163  1987    1   21  265.80
164  1987    1   22  265.14
165  1987    1   23  321.78
166  1987    1   26  321.61
167  1987    1   27  320.54
168  1987    1   28  320.89
169  1987    1   29  320.45
170  1987    1   30  321.15

Nome do Grupo: (1987, 2)
      ano  mes  dia    valor
171  1987    2    2   586.14
172  1987    2    3   585.90
173  1987    2    4   586.00
174  1987    2    5   585.62
175  1987    2    6   596.18
176  1987    2    9   882.05
177  1987    2   10  1129.42
178  1987    2   11  1181.94
179  1987    2   12  1183.34
180  1987    2   13  1184.30
181  1987    2   16  1179.22
182  1987    2   17  1186.15
183  1987    2   18  1186.94
184  1987    2   19  1186.59
185  1987    2   20  1189.14
186  1987    2   23  1190.37
187  1987    2   24  1190.72
188  1987    2   25   851.75
189  1987    2   26   351.50
190  1987    2   27   298.37

Nome do Grupo: (1987, 3)
      ano  mes  dia   valor
191  1987    3    4  298.37
192  1987    3    5  302.16
193  1987    3    6  382.71
194  1987    3    9  380.70
195  1987    3   10  380.70
196  1987    3   11  379.61
197  1987    3   12  242.78
198  1987    3   13  174.63
199  1987    3   16  306.66
200  1987    3   17  307.02
201  1987    3   18  308.56
202  1987    3   19  311.88
203  1987    3   20  317.38
204  1987    3   23  322.77
205  1987    3   24  322.74
206  1987    3   25  322.74
207  1987    3   26  322.74
208  1987    3   27  322.77
209  1987    3   30  322.77
210  1987    3   31  322.77

Nome do Grupo: (1987, 4)
      ano  mes  dia   valor
211  1987    4    1  322.74
212  1987    4    2  322.71
213  1987    4    3  322.65
214  1987    4    6  422.16
215  1987    4    7  423.91
216  1987    4    8  426.18
217  1987    4    9  584.73
218  1987    4   10  587.36
219  1987    4   13  589.06
220  1987    4   14  589.11
221  1987    4   15  594.13
222  1987    4   21  607.24
223  1987    4   22  609.66
224  1987    4   23  612.49
225  1987    4   24  614.39
226  1987    4   27  743.51
227  1987    4   28  908.33
228  1987    4   29  910.47
229  1987    4   30  926.77

Nome do Grupo: (1987, 5)
      ano  mes  dia    valor
230  1987    5    4   943.41
231  1987    5    5   947.85
232  1987    5    6   962.28
233  1987    5    7  2259.79
234  1987    5    8  2281.12
235  1987    5   11  4156.56
236  1987    5   12  4201.97
237  1987    5   13  4283.48
238  1987    5   14  4348.96
239  1987    5   15   873.15
240  1987    5   18   890.55
241  1987    5   19   903.65
242  1987    5   20   916.99
243  1987    5   21   946.49
244  1987    5   22  1023.86
245  1987    5   25  1089.97
246  1987    5   26  1283.61
247  1987    5   27  1293.48
248  1987    5   28  1304.47
249  1987    5   29  1330.62

Nome do Grupo: (1987, 6)
      ano  mes  dia    valor
250  1987    6    1  1329.16
251  1987    6    2  1314.68
252  1987    6    3  1295.77
253  1987    6    4  1290.72
254  1987    6    5  1293.86
255  1987    6    8  1287.12
256  1987    6    9  1273.26
257  1987    6   10  1247.60
258  1987    6   11  1200.91
259  1987    6   12  1051.32
260  1987    6   16   424.74
261  1987    6   17   399.11
262  1987    6   18   375.51
263  1987    6   19   351.53
264  1987    6   22   329.47
265  1987    6   23   310.53
266  1987    6   24   292.42
267  1987    6   25   276.99
268  1987    6   26   265.82
269  1987    6   29   251.44
270  1987    6   30   242.73

Nome do Grupo: (1987, 7)
      ano  mes  dia   valor
271  1987    7    1  197.45
272  1987    7    2  185.12
273  1987    7    3  173.69
274  1987    7    6  173.01
275  1987    7    7  173.40
276  1987    7    8  173.40
277  1987    7    9  162.24
278  1987    7   10  156.92
279  1987    7   13  151.54
280  1987    7   14  146.30
281  1987    7   15  146.47
282  1987    7   16  146.33
283  1987    7   17  141.25
284  1987    7   20  141.57
285  1987    7   21  142.00
286  1987    7   22  143.30
287  1987    7   23  145.69
288  1987    7   24  147.61
289  1987    7   27  148.41
290  1987    7   28  149.35
291  1987    7   29  147.18
292  1987    7   30  141.20
293  1987    7   31  135.14

Nome do Grupo: (1987, 8)
      ano  mes  dia   valor
294  1987    8    3  135.40
295  1987    8    4  133.24
296  1987    8    5  131.45
297  1987    8    6  129.56
298  1987    8    7  130.19
299  1987    8   10  132.16
300  1987    8   11  136.03
301  1987    8   12  138.30
302  1987    8   13  142.30
303  1987    8   14  144.06
304  1987    8   17  148.20
305  1987    8   18  148.37
306  1987    8   19  149.38
307  1987    8   20  150.61
308  1987    8   21  161.31
309  1987    8   24  174.40
310  1987    8   25  183.96
311  1987    8   26  192.62
312  1987    8   27  198.86
313  1987    8   28  202.07
314  1987    8   31  201.24

Nome do Grupo: (1987, 9)
      ano  mes  dia   valor
315  1987    9    1  198.08
316  1987    9    2  201.24
317  1987    9    3  201.44
318  1987    9    4  201.40
319  1987    9    8  198.33
320  1987    9    9  190.82
321  1987    9   10  173.46
322  1987    9   11  152.79
323  1987    9   14  152.74
324  1987    9   15  152.91
325  1987    9   16  153.26
326  1987    9   17  152.58
327  1987    9   18  149.42
328  1987    9   21  132.00
329  1987    9   22  112.70
330  1987    9   23  113.67
331  1987    9   24  113.17
332  1987    9   25  113.69
333  1987    9   28  114.90
334  1987    9   29  121.06
335  1987    9   30  125.27

Nome do Grupo: (1987, 10)
      ano  mes  dia   valor
336  1987   10    1  137.46
337  1987   10    2  140.06
338  1987   10    5  140.99
339  1987   10    6  142.60
340  1987   10    7  145.94
341  1987   10    8  146.10
342  1987   10    9  148.65
343  1987   10   13  152.60
344  1987   10   14  169.37
345  1987   10   15  182.46
346  1987   10   16  194.22
347  1987   10   19  254.47
348  1987   10   20  254.05
349  1987   10   21  254.27
350  1987   10   22  253.86
351  1987   10   23  254.15
352  1987   10   26  250.71
353  1987   10   27  240.93
354  1987   10   28  241.25
355  1987   10   29  243.54
356  1987   10   30  244.34

Nome do Grupo: (1987, 11)
      ano  mes  dia   valor
357  1987   11    3  280.17
358  1987   11    4  284.60
359  1987   11    5  287.57
360  1987   11    6  293.28
361  1987   11    9  301.22
362  1987   11   10  312.90
363  1987   11   11  329.38
364  1987   11   12  335.67
365  1987   11   13  352.28
366  1987   11   16  371.06
367  1987   11   17  369.06
368  1987   11   18  372.10
369  1987   11   19  373.23
370  1987   11   20  386.37
371  1987   11   23  420.76
372  1987   11   24  432.32
373  1987   11   25  432.13
374  1987   11   26  448.40
375  1987   11   27  469.95
376  1987   11   30  470.92

Nome do Grupo: (1987, 12)
      ano  mes  dia   valor
377  1987   12    1  372.42
378  1987   12    2  374.21
379  1987   12    3  380.50
380  1987   12    4  390.05
381  1987   12    7  391.57
382  1987   12    8  395.33
383  1987   12    9  399.15
384  1987   12   10  398.94
385  1987   12   11  394.99
386  1987   12   14  392.34
387  1987   12   15  389.45
388  1987   12   16  385.87
389  1987   12   17  378.00
390  1987   12   18  364.32
391  1987   12   21  347.80
392  1987   12   22  335.73
393  1987   12   23  319.94
394  1987   12   24  319.94
395  1987   12   28  326.50
396  1987   12   29  330.06
397  1987   12   30  342.09
398  1987   12   31  342.09

Nome do Grupo: (1988, 1)
      ano  mes  dia   valor
399  1988    1    4  429.59
400  1988    1    5  439.08
401  1988    1    6  446.75
402  1988    1    7  456.66
403  1988    1    8  454.64
404  1988    1   11  462.57
405  1988    1   12  471.51
406  1988    1   13  481.95
407  1988    1   14  568.55
408  1988    1   15  584.40
409  1988    1   18  584.40
410  1988    1   19  612.83
411  1988    1   20  643.55
412  1988    1   21  658.36
413  1988    1   22  843.58
414  1988    1   25  864.40
415  1988    1   26  865.72
416  1988    1   27  877.69
417  1988    1   28  888.39
418  1988    1   29  891.09

Nome do Grupo: (1988, 2)
      ano  mes  dia   valor
419  1988    2    1  729.20
420  1988    2    2  715.79
421  1988    2    3  708.12
422  1988    2    4  700.79
423  1988    2    5  692.88
424  1988    2    8  704.86
425  1988    2    9  706.30
426  1988    2   10  708.51
427  1988    2   11  943.41
428  1988    2   12  939.99
429  1988    2   17  939.99
430  1988    2   18  931.28
431  1988    2   19  929.30
432  1988    2   22  921.31
433  1988    2   23  922.64
434  1988    2   24  941.63
435  1988    2   25  945.48
436  1988    2   26  949.28
437  1988    2   29  949.21

Nome do Grupo: (1988, 3)
      ano  mes  dia   valor
438  1988    3    1  570.75
439  1988    3    2  554.10
440  1988    3    3  536.63
441  1988    3    4  536.23
442  1988    3    7  536.15
443  1988    3    8  536.58
444  1988    3    9  537.45
445  1988    3   10  538.29
446  1988    3   11  424.74
447  1988    3   14  424.92
448  1988    3   15  426.18
449  1988    3   16  426.76
450  1988    3   17  427.59
451  1988    3   18  430.17
452  1988    3   21  432.68
453  1988    3   22  432.06
454  1988    3   23  431.66
455  1988    3   24  443.91
456  1988    3   25  460.68
457  1988    3   28  482.99
458  1988    3   29  509.97
459  1988    3   30  512.86

Nome do Grupo: (1988, 4)
      ano  mes  dia    valor
460  1988    4    4   788.07
461  1988    4    5   825.93
462  1988    4    6   867.84
463  1988    4    7   909.64
464  1988    4    8   909.64
465  1988    4   11   989.06
466  1988    4   12  1039.96
467  1988    4   13  1080.09
468  1988    4   14  1115.29
469  1988    4   15  1110.57
470  1988    4   19  1124.22
471  1988    4   20  1177.39
472  1988    4   21  1201.44
473  1988    4   22  1200.02
474  1988    4   25  1349.91
475  1988    4   26  1373.07
476  1988    4   27  1297.87
477  1988    4   28  1049.35
478  1988    4   29   862.56

Nome do Grupo: (1988, 5)
      ano  mes  dia   valor
479  1988    5    2  802.22
480  1988    5    3  807.73
481  1988    5    4  903.44
482  1988    5    5  906.26
483  1988    5    6  907.98
484  1988    5    9  900.84
485  1988    5   10  819.36
486  1988    5   11  851.62
487  1988    5   12  832.86
488  1988    5   16  820.68
489  1988    5   17  793.68
490  1988    5   18  796.31
491  1988    5   19  795.51
492  1988    5   20  797.78
493  1988    5   23  657.38
494  1988    5   24  632.28
495  1988    5   25  589.67
496  1988    5   26  591.05
497  1988    5   27  596.61
498  1988    5   31  598.47

Nome do Grupo: (1988, 6)
      ano  mes  dia    valor
499  1988    6    1   596.37
500  1988    6    2   596.65
501  1988    6    3   601.30
502  1988    6    6   608.54
503  1988    6    7   608.35
504  1988    6    8   608.59
505  1988    6    9   609.81
506  1988    6   10   612.78
507  1988    6   13   632.73
508  1988    6   14   663.26
509  1988    6   15   662.42
510  1988    6   16   665.04
511  1988    6   17   700.14
512  1988    6   20   699.04
513  1988    6   21   702.33
514  1988    6   22   713.89
515  1988    6   23   939.28
516  1988    6   24  1054.00
517  1988    6   27  1031.49
518  1988    6   28  1034.28
519  1988    6   29  1036.46
520  1988    6   30   788.61

Nome do Grupo: (1988, 7)
      ano  mes  dia    valor
521  1988    7    1   697.95
522  1988    7    4   714.84
523  1988    7    5   727.27
524  1988    7    6   741.03
525  1988    7    7   762.84
526  1988    7    8   815.53
527  1988    7   11   886.56
528  1988    7   12   879.90
529  1988    7   13   912.54
530  1988    7   14   999.91
531  1988    7   15  1184.39
532  1988    7   18  1282.29
533  1988    7   19  1385.09
534  1988    7   20  2139.85
535  1988    7   21  2139.70
536  1988    7   22  2151.03
537  1988    7   25  2277.55
538  1988    7   26  2588.64
539  1988    7   27  2589.93
540  1988    7   28  2582.97
541  1988    7   29  2583.34

Nome do Grupo: (1988, 8)
      ano  mes  dia    valor
542  1988    8    1  1132.36
543  1988    8    2  1137.34
544  1988    8    3  1136.24
545  1988    8    4  1136.24
546  1988    8    5  1136.16
547  1988    8    8  1135.82
548  1988    8    9  1134.81
549  1988    8   10   937.51
550  1988    8   11   769.60
551  1988    8   12   715.63
552  1988    8   15   714.34
553  1988    8   16   708.51
554  1988    8   17   699.26
555  1988    8   18   704.86
556  1988    8   19   674.21
557  1988    8   22   674.05
558  1988    8   23   670.93
559  1988    8   24   667.66
560  1988    8   25   687.20
561  1988    8   26   686.12
562  1988    8   29   697.24
563  1988    8   30   711.17
564  1988    8   31   997.96

Nome do Grupo: (1988, 9)
      ano  mes  dia    valor
565  1988    9    1   997.96
566  1988    9    2  1032.73
567  1988    9    5  1122.13
568  1988    9    6  1238.15
569  1988    9    8  1305.72
570  1988    9    9  1489.95
571  1988    9   12  1500.30
572  1988    9   13  1481.18
573  1988    9   14  1481.61
574  1988    9   15  1501.50
575  1988    9   16  1531.08
576  1988    9   19  1592.57
577  1988    9   20  1586.34
578  1988    9   21  1606.26
579  1988    9   22  1607.31
580  1988    9   23  1622.64
581  1988    9   26  1613.14
582  1988    9   27  1686.23
583  1988    9   28  2386.46
584  1988    9   29  2383.25
585  1988    9   30  2400.57

Nome do Grupo: (1988, 10)
      ano  mes  dia    valor
586  1988   10    3  2386.29
587  1988   10    4  2387.99
588  1988   10    5  2389.35
589  1988   10    6  2392.92
590  1988   10    7  2401.42
591  1988   10   11  2544.30
592  1988   10   12  2689.99
593  1988   10   13  6340.28
594  1988   10   14  3223.26
595  1988   10   17  3272.50
596  1988   10   18  3273.19
597  1988   10   19  3319.67
598  1988   10   20  3423.65
599  1988   10   21  3601.89
600  1988   10   24  3688.28
601  1988   10   25  3792.02
602  1988   10   26  3814.07
603  1988   10   27  2815.13
604  1988   10   28  2559.49

Nome do Grupo: (1988, 11)
      ano  mes  dia    valor
605  1988   11    1  2128.12
606  1988   11    2  2123.72
607  1988   11    3  2108.46
608  1988   11    4  2114.64
609  1988   11    7  2123.11
610  1988   11    8  2113.73
611  1988   11    9  2110.56
612  1988   11   10  2103.94
613  1988   11   11  2097.49
614  1988   11   14  2036.89
615  1988   11   16  1903.21
616  1988   11   17  1902.66
617  1988   11   18  1901.98
618  1988   11   21  1896.66
619  1988   11   22  1889.45
620  1988   11   23  1765.98
621  1988   11   24  1610.69
622  1988   11   25  1584.96
623  1988   11   28  1594.42
624  1988   11   29  1591.18
625  1988   11   30  1623.12

Nome do Grupo: (1988, 12)
      ano  mes  dia    valor
626  1988   12    1  1486.37
627  1988   12    2  1477.84
628  1988   12    5  1473.86
629  1988   12    6  1474.82
630  1988   12    7  1478.91
631  1988   12    8  1542.81
632  1988   12    9  1581.40
633  1988   12   12  1617.01
634  1988   12   13  1687.33
635  1988   12   14  1757.09
636  1988   12   15  1857.01
637  1988   12   16  1928.37
638  1988   12   19  2037.03
639  1988   12   20  2202.41
640  1988   12   21  2369.07
641  1988   12   22  2482.68
642  1988   12   23  2498.92
643  1988   12   26  2491.50
644  1988   12   27  2691.13
645  1988   12   28  2720.56
646  1988   12   29  2741.21
647  1988   12   30  2741.21

Nome do Grupo: (1989, 1)
      ano  mes  dia    valor
648  1989    1    2  2099.58
649  1989    1    3  2122.35
650  1989    1    4  2126.76

       ano  mes  dia    valor
1142  1991    1    2   843.60
1143  1991    1    3   890.28
1144  1991    1    4   727.96
1145  1991    1    7   634.35
1146  1991    1    8   773.29
1147  1991    1    9   831.11
1148  1991    1   10   704.83
1149  1991    1   11   540.51
1150  1991    1   14   850.70
1151  1991    1   15   774.74
1152  1991    1   16   722.46
1153  1991    1   17  1184.84
1154  1991    1   18   997.02
1155  1991    1   21   663.68
1156  1991    1   22   644.20
1157  1991    1   23   603.79
1158  1991    1   24   685.62
1159  1991    1   25   816.50
1160  1991    1   28   741.86
1161  1991    1   29   789.44
1162  1991    1   30   976.22
1163  1991    1   31  1329.11

Nome do Grupo: (1991, 2)
       ano  mes  dia   valor
1164  1991    2    4  120.53
1165  1991    2    5  118.15
1166  1991    2    6  113.45
1167  1991    2    7  116.33
1168  1991    2    8  121.83
1169  1991    2   13  121.83
1170  1991    2   14  121.83
1171  1991    2   15  198.32
1172  1991    2   18  248.51
1173  1991    2   19  232.02
1174  1991    2   20  202.34
1175  1991    2   21  200.32
1176  1991    2   22  199.57
1177  1991    2   25  194.60
1178  1991    2   26  217.63
1179  1991    2   27  198.32
1180  1991    2   28  179.24

Nome do Grupo: (1991, 3)
       ano  mes  dia   valor
1181  1991    3    1  193.37
1182  1991    3    4  193.86
1183  1991    3    5  192.88
1184  1991    3    6  192.63
1185  1991    3    7  199.82
1186  1991    3    8  198.82
1187  1991    3   11  204.62
1188  1991    3   12  206.66
1189  1991    3   13  207.69
1190  1991    3   14  214.46
1191  1991    3   15  222.71
1192  1991    3   18  222.71
1193  1991    3   19  225.15
1194  1991    3   20  232.85
1195  1991    3   21  232.30
1196  1991    3   22  222.98
1197  1991    3   25  223.25
1198  1991    3   26  230.08
1199  1991    3   27  243.59

Nome do Grupo: (1991, 4)
       ano  mes  dia   valor
1200  1991    4    1  186.34
1201  1991    4    2  180.18
1202  1991    4    3  183.24
1203  1991    4    4  185.14
1204  1991    4    5  188.02
1205  1991    4    8  186.82
1206  1991    4    9  188.02
1207  1991    4   10  182.77
1208  1991    4   11  186.10
1209  1991    4   12  187.54
1210  1991    4   15  184.67
1211  1991    4   16  186.10
1212  1991    4   17  189.23
1213  1991    4   18  193.12
1214  1991    4   19  194.35
1215  1991    4   22  183.48
1216  1991    4   23  186.34
1217  1991    4   24  190.44
1218  1991    4   25  190.68
1219  1991    4   26  190.92
1220  1991    4   29  194.11
1221  1991    4   30  193.86

Nome do Grupo: (1991, 5)
       ano  mes  dia   valor
1222  1991    5    2  195.83
1223  1991    5    3  195.58
1224  1991    5    6  190.20
1225  1991    5    7  190.68
1226  1991    5    8  196.82
1227  1991    5    9  196.58
1228  1991    5   10  198.57
1229  1991    5   13  196.82
1230  1991    5   14  199.57
1231  1991    5   15  194.60
1232  1991    5   16  198.32
1233  1991    5   17  199.57
1234  1991    5   20  199.82
1235  1991    5   21  200.07
1236  1991    5   22  201.07
1237  1991    5   23  200.82
1238  1991    5   24  200.82
1239  1991    5   27  200.82
1240  1991    5   28  200.82
1241  1991    5   29  205.39
1242  1991    5   31  217.10

Nome do Grupo: (1991, 6)
       ano  mes  dia   valor
1243  1991    6    3  228.70
1244  1991    6    4  232.02
1245  1991    6    5  233.13
1246  1991    6    6  233.41
1247  1991    6    7  234.25
1248  1991    6   10  236.49
1249  1991    6   11  237.33
1250  1991    6   12  239.03
1251  1991    6   13  243.31
1252  1991    6   14  249.68
1253  1991    6   17  251.14
1254  1991    6   18  252.32
1255  1991    6   19  251.14
1256  1991    6   20  251.73
1257  1991    6   21  253.20
1258  1991    6   24  254.39
1259  1991    6   25  254.98
1260  1991    6   26  253.80
1261  1991    6   27  253.80
1262  1991    6   28  254.39

Nome do Grupo: (1991, 7)
       ano  mes  dia   valor
1263  1991    7    1  249.97
1264  1991    7    2  249.97
1265  1991    7    3  249.68
1266  1991    7    4  249.97
1267  1991    7    5  250.26
1268  1991    7    8  249.97
1269  1991    7    9  249.97
1270  1991    7   10  249.39
1271  1991    7   11  248.80
1272  1991    7   12  249.09
1273  1991    7   15  249.09
1274  1991    7   16  249.39
1275  1991    7   17  249.68
1276  1991    7   18  251.14
1277  1991    7   19  252.03
1278  1991    7   22  252.61
1279  1991    7   23  255.87
1280  1991    7   24  262.47
1281  1991    7   25  267.97
1282  1991    7   26  275.42
1283  1991    7   29  288.51
1284  1991    7   30  305.08
1285  1991    7   31  323.06

Nome do Grupo: (1991, 8)
       ano  mes  dia   valor
1286  1991    8    1  349.28
1287  1991    8    2  350.41
1288  1991    8    5  354.94
1289  1991    8    6  355.32
1290  1991    8    7  355.70
1291  1991    8    8  357.99
1292  1991    8    9  363.76
1293  1991    8   12  368.04
1294  1991    8   13  398.70
1295  1991    8   14  399.53
1296  1991    8   15  401.62
1297  1991    8   16  403.72
1298  1991    8   19  408.36
1299  1991    8   20  430.46
1300  1991    8   21  432.68
1301  1991    8   22  435.36
1302  1991    8   23  454.91
1303  1991    8   26  483.88
1304  1991    8   27  594.46
1305  1991    8   28  649.18
1306  1991    8   29  705.50
1307  1991    8   30  712.92

Nome do Grupo: (1991, 9)
       ano  mes  dia   valor
1308  1991    9    2  756.72
1309  1991    9    3  763.16
1310  1991    9    4  769.66
1311  1991    9    5  774.02
1312  1991    9    6  771.11
1313  1991    9    9  776.93
1314  1991    9   10  776.20
1315  1991    9   11  778.39
1316  1991    9   12  779.86
1317  1991    9   13  776.93
1318  1991    9   16  778.39
1319  1991    9   17  777.66
1320  1991    9   18  777.66
1321  1991    9   19  777.66
1322  1991    9   20  776.93
1323  1991    9   23  774.02
1324  1991    9   24  768.94
1325  1991    9   25  766.77
1326  1991    9   26  767.49
1327  1991    9   27  767.49
1328  1991    9   30  766.04

Nome do Grupo: (1991, 10)
       ano  mes  dia    valor
1329  1991   10    1   763.88
1330  1991   10    2   771.83
1331  1991   10    3   771.83
1332  1991   10    4   775.47
1333  1991   10    7   779.12
1334  1991   10    8   793.15
1335  1991   10    9   800.61
1336  1991   10   10   823.40
1337  1991   10   11   874.74
1338  1991   10   14   926.36
1339  1991   10   15   931.50
1340  1991   10   16   933.22
1341  1991   10   17   940.12
1342  1991   10   18   939.26
1343  1991   10   21   981.61
1344  1991   10   22  1040.77
1345  1991   10   23  1104.14
1346  1991   10   24  1285.82
1347  1991   10   25  1544.57
1348  1991   10   28  3179.51
1349  1991   10   29  3234.29
1350  1991   10   30  3228.78
1351  1991   10   31  3220.51

Nome do Grupo: (1991, 11)
       ano  mes  dia    valor
1352  1991   11    1  3144.37
1353  1991   11    4  3352.33
1354  1991   11    5  3323.86
1355  1991   11    6  3346.62
1356  1991   11    7  3369.53
1357  1991   11    8  3395.49
1358  1991   11   11  3395.49
1359  1991   11   12  3395.49
1360  1991   11   13  3398.39
1361  1991   11   14  3404.19
1362  1991   11   18  3404.19
1363  1991   11   19  3398.39
1364  1991   11   20  3395.49
1365  1991   11   21  3389.71
1366  1991   11   22  3372.41
1367  1991   11   25  3335.22
1368  1991   11   26  3306.88
1369  1991   11   27  3281.58
1370  1991   11   28  3250.90
1371  1991   11   29  3223.26

Nome do Grupo: (1991, 12)
       ano  mes  dia    valor
1372  1991   12    2  3204.05
1373  1991   12    3  3223.26
1374  1991   12    4  3215.01
1375  1991   12    5  3201.31
1376  1991   12    6  3193.11
1377  1991   12    9  3184.94
1378  1991   12   10  3093.70
1379  1991   12   11  3002.41
1380  1991   12   12  2837.28
1381  1991   12   13  2718.04
1382  1991   12   16  2585.74
1383  1991   12   17  2476.68
1384  1991   12   18  2323.29
1385  1991   12   19  2205.64
1386  1991   12   20  2039.73
1387  1991   12   23  1917.29
1388  1991   12   24  1917.29
1389  1991   12   26  1884.08
1390  1991   12   27  1848.17
1391  1991   12   30  1795.52
1392  1991   12   31  1795.52

Nome do Grupo: (1992, 1)
       ano  mes  dia    valor
1393  1992    1    2  1782.97
1394  1992    1    3  1741.23
1395  1992    1    6  1758.12
1396  1992    1    7  1782.97
1397  1992    1    8  1830.46
1398  1992    1    9  1856.27
1399  1992    1   10  1827.26
1400  1992    1   13  1797.10
1401  1992    1   14  1792.38
1402  1992    1   15  1744.29
1403  1992    1   16  1679.60
1404  1992    1   17  1628.61
1405  1992    1   20  1628.61
1406  1992    1   21  1640.14
1407  1992    1   22  1643.03
1408  1992    1   23  1672.22
1409  1992    1   24  1697.42
1410  1992    1   27  1716.93
1411  1992    1   28  1755.04
1412  1992    1   29  1819.27
1413  1992    1   30  1903.94
1414  1992    1   31  2016.77

Nome do Grupo: (1992, 2)
       ano  mes  dia    valor
1415  1992    2    3  2257.86
1416  1992    2    4  2293.33
1417  1992    2    5  2309.27
1418  1992    2    6  2323.29
1419  1992    2    7  2341.45
1420  1992    2   10  2361.78
1421  1992    2   11  2359.74
1422  1992    2   12  2361.78
1423  1992    2   13  2365.87
1424  1992    2   14  2357.71
1425  1992    2   17  2359.74
1426  1992    2   18  2357.71
1427  1992    2   19  2345.51
1428  1992    2   20  2343.48
1429  1992    2   21  2327.32
1430  1992    2   24  2299.29
1431  1992    2   25  2279.48
1432  1992    2   26  2255.91
1433  1992    2   27  2228.70
1434  1992    2   28  2201.81

Nome do Grupo: (1992, 3)
       ano  mes  dia    valor
1435  1992    3    4  2201.81
1436  1992    3    5  2192.29
1437  1992    3    6  2190.38
1438  1992    3    9  2186.59
1439  1992    3   10  2182.80
1440  1992    3   11  2124.83
1441  1992    3   12  2061.15
1442  1992    3   13  2059.36
1443  1992    3   16  1912.27
1444  1992    3   17  1773.62
1445  1992    3   18  1765.85
1446  1992    3   19  1758.12
1447  1992    3   20  1747.35
1448  1992    3   23  1729.04
1449  1992    3   24  1739.70
1450  1992    3   25  1736.65
1451  1992    3   26  1726.00
1452  1992    3   27  1727.52
1453  1992    3   30  1724.49
1454  1992    3   31  1724.49

Nome do Grupo: (1992, 4)
       ano  mes  dia    valor
1455  1992    4    1  1803.41
1456  1992    4    2  1793.95
1457  1992    4    3  1787.67
1458  1992    4    6  1789.24
1459  1992    4    7  1784.54
1460  1992    4    8  1776.73
1461  1992    4    9  1761.21
1462  1992    4   10  1758.12
1463  1992    4   13  1750.43
1464  1992    4   14  1747.35
1465  1992    4   15  1744.29
1466  1992    4   20  1741.23
1467  1992    4   22  1497.44
1468  1992    4   23  1414.71
1469  1992    4   24  1382.34
1470  1992    4   27  1374.96
1471  1992    4   28  1366.41
1472  1992    4   29  1350.65
1473  1992    4   30  1350.65

Nome do Grupo: (1992, 5)
       ano  mes  dia    valor
1474  1992    5    4  1345.84
1475  1992    5    5  1347.04
1476  1992    5    6  1343.43
1477  1992    5    7  1348.24
1478  1992    5    8  1348.24
1479  1992    5   11  1341.03
1480  1992    5   12  1320.82
1481  1992    5   13  1285.82
1482  1992    5   14  1244.96
1483  1992    5   15  1234.94
1484  1992    5   18  1223.88
1485  1992    5   19  1211.83
1486  1992    5   20  1200.97
1487  1992    5   21  1189.12
1488  1992    5   22  1193.42
1489  1992    5   25  1193.42
1490  1992    5   26  1195.57
1491  1992    5   27  1195.57
1492  1992    5   28  1200.97
1493  1992    5   29  1208.56

Nome do Grupo: (1992, 6)
       ano  mes  dia    valor
1494  1992    6    1  1238.27
1495  1992    6    2  1269.79
1496  1992    6    3  1276.64
1497  1992    6    4  1285.82
1498  1992    6    5  1284.67
1499  1992    6    8  1283.52
1500  1992    6    9  1281.22
1501  1992    6   10  1277.78
1502  1992    6   11  1270.93
1503  1992    6   12  1267.51
1504  1992    6   15  1266.38
1505  1992    6   16  1265.24
1506  1992    6   17  1266.38
1507  1992    6   19  1267.51
1508  1992    6   22  1265.24
1509  1992    6   23  1264.11
1510  1992    6   24  1234.94
1511  1992    6   25  1224.99
1512  1992    6   26  1215.11
1513  1992    6   29  1207.47
1514  1992    6   30  1204.22

Nome do Grupo: (1992, 7)
       ano  mes  dia    valor
1515  1992    7    1  1166.81
1516  1992    7    2  1200.97
1517  1992    7    3  1199.89
1518  1992    7    6  1197.73
1519  1992    7    7  1194.49
1520  1992    7    8  1191.27
1521  1992    7    9  1189.12
1522  1992    7   10  1190.20
1523  1992    7   13  1188.05
1524  1992    7   14  1186.98
1525  1992    7   15  1183.78
1526  1992    7   16  1182.71
1527  1992    7   17  1178.45
1528  1992    7   20  1171.03
1529  1992    7   21  1162.60
1530  1992    7   22  1152.14
1531  1992    7   23  1142.81
1532  1992    7   24  1138.68
1533  1992    7   27  1138.68
1534  1992    7   28  1136.62
1535  1992    7   29  1137.65
1536  1992    7   30  1232.72
1537  1992    7   31  1323.18

Nome do Grupo: (1992, 8)
       ano  mes  dia    valor
1538  1992    8    3  1446.51
1539  1992    8    4  1442.66
1540  1992    8    5  1440.10
1541  1992    8    6  1446.51
1542  1992    8    7  1445.22
1543  1992    8   10  1443.94
1544  1992    8   11  1440.10
1545  1992    8   12  1440.10
1546  1992    8   13  1440.10
1547  1992    8   14  1441.38
1548  1992    8   17  1440.10
1549  1992    8   18  1436.26
1550  1992    8   19  1440.10
1551  1992    8   20  1434.99
1552  1992    8   21  1433.71
1553  1992    8   24  1437.54
1554  1992    8   25  1433.71
1555  1992    8   26  1432.44
1556  1992    8   27  1433.71
1557  1992    8   28  1489.50
1558  1992    8   31  1573.51

Nome do Grupo: (1992, 9)
       ano  mes  dia    valor
1559  1992    9    1  1778.29
1560  1992    9    2  1779.85
1561  1992    9    3  1787.67
1562  1992    9    4  1782.97
1563  1992    9    8  1775.17
1564  1992    9    9  1793.95
1565  1992    9   10  1776.73
1566  1992    9   11  1758.12
1567  1992    9   14  1761.21
1568  1992    9   15  1761.21
1569  1992    9   16  1761.21
1570  1992    9   17  1758.12
1571  1992    9   18  1755.04
1572  1992    9   21  1753.50
1573  1992    9   22  1755.04
1574  1992    9   23  1753.50
1575  1992    9   24  1756.58
1576  1992    9   25  1750.43
1577  1992    9   28  1776.73
1578  1992    9   29  1806.57
1579  1992    9   30  1859.53

Nome do Grupo: (1992, 10)
       ano  mes  dia    valor
1580  1992   10    1  1934.10
1581  1992   10    2  1907.27
1582  1992   10    5  1913.94
1583  1992   10    6  1930.73
1584  1992   10    7  1915.62
1585  1992   10    8  1905.60
1586  1992   10    9  1869.31
1587  1992   10   13  1846.55
1588  1992   10   14  1849.79
1589  1992   10   15  1848.17
1590  1992   10   16  1836.88
1591  1992   10   19  1827.26
1592  1992   10   20  1814.50
1593  1992   10   21  1811.33
1594  1992   10   22  1808.15
1595  1992   10   23  1809.74
1596  1992   10   26  1814.50
1597  1992   10   27  1812.91
1598  1992   10   28  1857.90
1599  1992   10   29  1912.27
1600  1992   10   30  1987.12

Nome do Grupo: (1992, 11)
       ano  mes  dia    valor
1601  1992   11    3  2099.14
1602  1992   11    4  2128.52
1603  1992   11    5  2130.38
1604  1992   11    6  2128.52
1605  1992   11    9  2132.23
1606  1992   11   10  2130.38
1607  1992   11   11  2117.46
1608  1992   11   12  2115.62
1609  1992   11   13  2110.11
1610  1992   11   16  2032.64
1611  1992   11   17  1957.88
1612  1992   11   18  1882.43
1613  1992   11   19  1803.41
1614  1992   11   20  1718.44
1615  1992   11   23  1612.89
1616  1992   11   24  1486.86
1617  1992   11   25  1366.41
1618  1992   11   26  1304.38
1619  1992   11   27  1314.92
1620  1992   11   30  1303.21

Nome do Grupo: (1992, 12)
       ano  mes  dia    valor
1621  1992   12    1  1231.61
1622  1992   12    2  1223.88
1623  1992   12    3  1218.39
1624  1992   12    4  1205.30
1625  1992   12    7  1197.73
1626  1992   12    8  1199.89
1627  1992   12    9  1200.97
1628  1992   12   10  1202.05
1629  1992   12   11  1205.30
1630  1992   12   14  1206.39
1631  1992   12   15  1207.47
1632  1992   12   16  1215.11
1633  1992   12   17  1221.69
1634  1992   12   18  1255.07
1635  1992   12   21  1313.75
1636  1992   12   22  1363.97
1637  1992   12   23  1398.44
1638  1992   12   24  1398.44
1639  1992   12   28  1456.82
1640  1992   12   29  1533.68
1641  1992   12   30  1657.57
1642  1992   12   31  1657.57

Nome do Grupo: (1993, 1)
       ano  mes  dia    valor
1643  1993    1    4  1927.36
1644  1993    1    5  1910.60
1645  1993    1    6  1913.94
1646  1993    1    7  1922.32
1647  1993    1    8  1940.87
1648  1993    1   11  1944.26
1649  1993    1   12  1945.96
1650  1993    1   13  1956.17
1651  1993    1   14  1978.47
1652  1993    1   15  2029.11
1653  1993    1   18  2097.31
1654  1993    1   19  2180.90
1655  1993    1   20  2180.90
1656  1993    1   21  2295.31
1657  1993    1   22  2461.76
1658  1993    1   25  2706.38
1659  1993    1   26  2987.02
1660  1993    1   27  3072.60
1661  1993    1   28  3239.82
1662  1993    1   29  3346.62

Nome do Grupo: (1993, 2)
       ano  mes  dia    valor
1663  1993    2    1  3439.19
1664  1993    2    2  3616.40
1665  1993    2    3  3728.85
1666  1993    2    4  3792.78
1667  1993    2    5  3792.78
1668  1993    2    8  3808.92
1669  1993    2    9  3786.33
1670  1993    2   10  3760.68
1671  1993    2   11  3741.55
1672  1993    2   12  3722.51
1673  1993    2   15  3687.86
1674  1993    2   16  3594.93
1675  1993    2   17  3445.06
1676  1993    2   18  3267.60
1677  1993    2   19  2911.23
1678  1993    2   24  2911.23
1679  1993    2   25  2590.20
1680  1993    2   26  2184.69

Nome do Grupo: (1993, 3)
       ano  mes  dia    valor
1681  1993    3    1  1929.05
1682  1993    3    2  1915.62
1683  1993    3    3  1709.40
1684  1993    3    4  1506.76
1685  1993    3    5  1365.19
1686  1993    3    8  1276.64
1687  1993    3    9  1232.72
1688  1993    3   10  1233.83
1689  1993    3   11  1229.40
1690  1993    3   12  1232.72
1691  1993    3   15  1231.61
1692  1993    3   16  1231.61
1693  1993    3   17  1238.27
1694  1993    3   18  1252.81
1695  1993    3   19  1280.08
1696  1993    3   22  1319.64
1697  1993    3   23  1360.33
1698  1993    3   24  1367.63
1699  1993    3   25  1392.22
1700  1993    3   26  1468.51
1701  1993    3   29  1612.89
1702  1993    3   30  1945.96
1703  1993    3   31  2411.27

Nome do Grupo: (1993, 4)
       ano  mes  dia    valor
1704  1993    4    1  3101.65
1705  1993    4    2  3198.58
1706  1993    4    5  3292.80
1707  1993    4    6  3389.71
1708  1993    4    7  3442.12
1709  1993    4   12  3543.27
1710  1993    4   13  3528.22
1711  1993    4   14  3501.28
1712  1993    4   15  3528.22
1713  1993    4   16  3531.23
1714  1993    4   19  3492.34
1715  1993    4   20  3442.12
1716  1993    4   22  3381.05
1717  1993    4   23  3318.19
1718  1993    4   26  3312.53
1719  1993    4   27  3321.03
1720  1993    4   28  3182.22
1721  1993    4   29  3020.46
1722  1993    4   30  2784.21

Nome do Grupo: (1993, 5)
       ano  mes  dia    valor
1723  1993    5    3  2570.20
1724  1993    5    4  2537.20
1725  1993    5    5  2506.76
1726  1993    5    6  2459.64
1727  1993    5    7  2417.53
1728  1993    5   10  2388.47
1729  1993    5   11  2353.63
1730  1993    5   12  2321.29
1731  1993    5   13  2291.35
1732  1993    5   14  2285.40
1733  1993    5   17  2303.28
1734  1993    5   18  2317.27
1735  1993    5   19  2323.29
1736  1993    5   20  2329.33
1737  1993    5   21  2347.53
1738  1993    5   24  2374.06
1739  1993    5   25  2413.36
1740  1993    5   26  2466.01
1741  1993    5   27  2548.16
1742  1993    5   28  2692.46
1743  1993    5   31  2871.56

Nome do Grupo: (1993, 6)
       ano  mes  dia    valor
1744  1993    6    1  2951.42
1745  1993    6    2  2956.48
1746  1993    6    3  2938.80
1747  1993    6    4  2916.22
1748  1993    6    7  2886.38
1749  1993    6    8  2861.73
1750  1993    6    9  2837.28
1751  1993    6   11  2817.87
1752  1993    6   14  2793.78
1753  1993    6   15  2760.40
1754  1993    6   16  2720.38
1755  1993    6   17  2669.41
1756  1993    6   18  2617.10
1757  1993    6   21  2554.75
1758  1993    6   22  2491.67

       ano  mes  dia  valor
2600  1996   11    1  25.23
2601  1996   11    4  25.23
2602  1996   11    5  25.55
2603  1996   11    6  25.45
2604  1996   11    7  25.45
2605  1996   11    8  25.66
2606  1996   11   11  25.76
2607  1996   11   12  25.66
2608  1996   11   13  25.13
2609  1996   11   14  25.23
2610  1996   11   18  25.34
2611  1996   11   19  25.13
2612  1996   11   20  25.23
2613  1996   11   21  25.02
2614  1996   11   22  25.23
2615  1996   11   25  25.13
2616  1996   11   26  25.02
2617  1996   11   27  24.82
2618  1996   11   28  25.02
2619  1996   11   29  25.13

Nome do Grupo: (1996, 12)
       ano  mes  dia  valor
2620  1996   12    2  23.56
2621  1996   12    3  23.15
2622  1996   12    4  23.25
2623  1996   12    5  23.46
2624  1996   12    6  23.56
2625  1996   12    9  23.46
2626  1996   12   10  23.67
2627  1996   12   11  23.67
2628  1996   12   12  23.77
2629  1996   12   13  23.77
2630  1996   12   16  23.88
2631  1996   12   17  24.08
2632  1996   12   18  24.40
2633  1996   12   19  24.19
2634  1996   12   20  24.19
2635  1996   12   23  24.29
2636  1996   12   24  24.29
2637  1996   12   26  24.19
2638  1996   12   27  23.98
2639  1996   12   30  24.92
2640  1996   12   31  24.92

Nome do Grupo: (1997, 1)
       ano  mes  dia  valor
2641  1997    1    2  21.71
2642  1997    1    3  21.41
2643  1997    1    6  21.41
2644  1997    1    7  21.51
2645  1997    1    8  21.51
2646  1997    1    9  21.51
2647  1997    1   10  21.71
2648  1997    1   13  21.71
2649  1997    1   14  21.71
2650  1997    1   15  21.71
2651  1997    1   16  21.81
2652  1997    1   17  21.81
2653  1997    1   20  21.71
2654  1997    1   21  21.61
2655  1997    1   22  21.61
2656  1997    1   23  21.71
2657  1997    1   24  21.92
2658  1997    1   27  21.81
2659  1997    1   28  22.02
2660  1997    1   29  21.92
2661  1997    1   30  21.71
2662  1997    1   31  22.63

Nome do Grupo: (1997, 2)
       ano  mes  dia  valor
2663  1997    2    3  25.97
2664  1997    2    4  26.50
2665  1997    2    5  25.97
2666  1997    2    6  26.08
2667  1997    2    7  26.40
2668  1997    2   12  26.40
2669  1997    2   13  26.61
2670  1997    2   14  26.50
2671  1997    2   17  26.40
2672  1997    2   18  26.50
2673  1997    2   19  26.18
2674  1997    2   20  26.08
2675  1997    2   21  26.08
2676  1997    2   24  25.97
2677  1997    2   25  25.87
2678  1997    2   26  25.87
2679  1997    2   27  25.76
2680  1997    2   28  25.34

Nome do Grupo: (1997, 3)
       ano  mes  dia  valor
2681  1997    3    3  24.40
2682  1997    3    4  24.08
2683  1997    3    5  23.98
2684  1997    3    6  24.08
2685  1997    3    7  24.19
2686  1997    3   10  24.08
2687  1997    3   11  24.19
2688  1997    3   12  24.19
2689  1997    3   13  24.08
2690  1997    3   14  24.19
2691  1997    3   17  24.19
2692  1997    3   18  24.08
2693  1997    3   19  24.08
2694  1997    3   20  24.08
2695  1997    3   21  23.98
2696  1997    3   24  23.98
2697  1997    3   25  24.08
2698  1997    3   26  24.19
2699  1997    3   31  23.88

Nome do Grupo: (1997, 4)
       ano  mes  dia  valor
2700  1997    4    1  21.00
2701  1997    4    2  21.10
2702  1997    4    3  21.10
2703  1997    4    4  21.20
2704  1997    4    7  21.41
2705  1997    4    8  22.43
2706  1997    4    9  21.81
2707  1997    4   10  22.74
2708  1997    4   11  23.15
2709  1997    4   14  23.15
2710  1997    4   15  22.74
2711  1997    4   16  22.33
2712  1997    4   17  23.25
2713  1997    4   18  22.43
2714  1997    4   22  21.92
2715  1997    4   23  21.10
2716  1997    4   24  21.00
2717  1997    4   25  21.10
2718  1997    4   28  21.20
2719  1997    4   29  21.41
2720  1997    4   30  21.10

Nome do Grupo: (1997, 5)
       ano  mes  dia  valor
2721  1997    5    2  21.81
2722  1997    5    5  21.71
2723  1997    5    6  21.81
2724  1997    5    7  21.81
2725  1997    5    8  21.92
2726  1997    5    9  22.12
2727  1997    5   12  22.02
2728  1997    5   13  22.02
2729  1997    5   14  22.12
2730  1997    5   15  22.02
2731  1997    5   16  22.12
2732  1997    5   19  22.22
2733  1997    5   20  22.22
2734  1997    5   21  22.12
2735  1997    5   22  22.12
2736  1997    5   23  22.12
2737  1997    5   26  22.02
2738  1997    5   27  21.81
2739  1997    5   28  21.00
2740  1997    5   30  21.00

Nome do Grupo: (1997, 6)
       ano  mes  dia  valor
2741  1997    6    2  20.90
2742  1997    6    3  20.90
2743  1997    6    4  21.00
2744  1997    6    5  21.10
2745  1997    6    6  21.30
2746  1997    6    9  21.51
2747  1997    6   10  21.20
2748  1997    6   11  21.20
2749  1997    6   12  21.10
2750  1997    6   13  21.30
2751  1997    6   16  21.20
2752  1997    6   17  21.30
2753  1997    6   18  21.20
2754  1997    6   19  21.20
2755  1997    6   20  21.10
2756  1997    6   23  21.10
2757  1997    6   24  21.10
2758  1997    6   25  20.80
2759  1997    6   26  20.80
2760  1997    6   27  20.49
2761  1997    6   30  20.90

Nome do Grupo: (1997, 7)
       ano  mes  dia  valor
2762  1997    7    1  19.18
2763  1997    7    2  18.88
2764  1997    7    3  18.98
2765  1997    7    4  18.98
2766  1997    7    7  19.18
2767  1997    7    8  19.18
2768  1997    7    9  19.08
2769  1997    7   10  19.18
2770  1997    7   11  19.28
2771  1997    7   14  19.28
2772  1997    7   15  19.38
2773  1997    7   16  19.18
2774  1997    7   17  19.08
2775  1997    7   18  19.08
2776  1997    7   21  18.98
2777  1997    7   22  18.88
2778  1997    7   23  18.88
2779  1997    7   24  18.88
2780  1997    7   25  18.98
2781  1997    7   28  18.88
2782  1997    7   29  18.88
2783  1997    7   30  18.88
2784  1997    7   31  18.78

Nome do Grupo: (1997, 8)
       ano  mes  dia  valor
2785  1997    8    1  20.69
2786  1997    8    4  20.59
2787  1997    8    5  20.59
2788  1997    8    6  20.49
2789  1997    8    7  20.69
2790  1997    8    8  20.69
2791  1997    8   11  20.90
2792  1997    8   12  21.00
2793  1997    8   13  21.00
2794  1997    8   14  21.00
2795  1997    8   15  20.90
2796  1997    8   18  20.80
2797  1997    8   19  20.80
2798  1997    8   20  20.80
2799  1997    8   21  20.80
2800  1997    8   22  20.80
2801  1997    8   25  20.80
2802  1997    8   26  20.80
2803  1997    8   27  20.80
2804  1997    8   28  20.80
2805  1997    8   29  20.69

Nome do Grupo: (1997, 9)
       ano  mes  dia  valor
2806  1997    9    1  20.09
2807  1997    9    2  19.99
2808  1997    9    3  19.89
2809  1997    9    4  19.89
2810  1997    9    5  19.89
2811  1997    9    8  19.89
2812  1997    9    9  19.89
2813  1997    9   10  19.89
2814  1997    9   11  19.89
2815  1997    9   12  19.99
2816  1997    9   15  19.99
2817  1997    9   16  19.89
2818  1997    9   17  19.89
2819  1997    9   18  19.89
2820  1997    9   19  19.89
2821  1997    9   22  19.79
2822  1997    9   23  19.89
2823  1997    9   24  19.79
2824  1997    9   25  19.69
2825  1997    9   26  19.48
2826  1997    9   29  19.18
2827  1997    9   30  19.18

Nome do Grupo: (1997, 10)
       ano  mes  dia  valor
2828  1997   10    1  18.98
2829  1997   10    2  18.88
2830  1997   10    3  18.88
2831  1997   10    6  18.88
2832  1997   10    7  18.98
2833  1997   10    8  18.88
2834  1997   10    9  18.88
2835  1997   10   10  18.88
2836  1997   10   13  18.88
2837  1997   10   14  19.08
2838  1997   10   15  19.08
2839  1997   10   16  19.08
2840  1997   10   17  18.98
2841  1997   10   20  18.98
2842  1997   10   21  18.98
2843  1997   10   22  18.98
2844  1997   10   23  18.88
2845  1997   10   24  18.88
2846  1997   10   27  18.88
2847  1997   10   28  19.18
2848  1997   10   29  19.18
2849  1997   10   30  20.69
2850  1997   10   31  41.20

Nome do Grupo: (1997, 11)
       ano  mes  dia  valor
2851  1997   11    3  44.92
2852  1997   11    4  44.92
2853  1997   11    5  45.04
2854  1997   11    6  45.65
2855  1997   11    7  46.02
2856  1997   11   10  46.14
2857  1997   11   11  46.26
2858  1997   11   12  46.26
2859  1997   11   13  46.26
2860  1997   11   14  46.39
2861  1997   11   17  46.26
2862  1997   11   18  46.26
2863  1997   11   19  46.14
2864  1997   11   20  46.02
2865  1997   11   21  46.14
2866  1997   11   24  46.14
2867  1997   11   25  46.14
2868  1997   11   26  46.14
2869  1997   11   27  46.02
2870  1997   11   28  44.92

Nome do Grupo: (1997, 12)
       ano  mes  dia  valor
2871  1997   12    1  38.73
2872  1997   12    2  38.62
2873  1997   12    3  38.97
2874  1997   12    4  39.20
2875  1997   12    5  39.32
2876  1997   12    8  38.85
2877  1997   12    9  38.62
2878  1997   12   10  38.85
2879  1997   12   11  38.85
2880  1997   12   12  38.73
2881  1997   12   15  38.73
2882  1997   12   16  39.08
2883  1997   12   17  39.32
2884  1997   12   18  41.08
2885  1997   12   19  41.32
2886  1997   12   22  41.56
2887  1997   12   23  41.91
2888  1997   12   24  41.91
2889  1997   12   26  40.96
2890  1997   12   29  40.84
2891  1997   12   30  40.84
2892  1997   12   31  40.84

Nome do Grupo: (1998, 1)
       ano  mes  dia  valor
2893  1998    1    2  35.76
2894  1998    1    5  37.49
2895  1998    1    6  37.94
2896  1998    1    7  38.07
2897  1998    1    8  38.04
2898  1998    1    9  38.02
2899  1998    1   12  37.98
2900  1998    1   13  38.01
2901  1998    1   14  37.84
2902  1998    1   15  37.85
2903  1998    1   16  37.83
2904  1998    1   19  37.72
2905  1998    1   20  37.57
2906  1998    1   21  37.44
2907  1998    1   22  37.41
2908  1998    1   23  37.41
2909  1998    1   26  36.82
2910  1998    1   27  36.52
2911  1998    1   28  36.32
2912  1998    1   29  34.24
2913  1998    1   30  34.79

Nome do Grupo: (1998, 2)
       ano  mes  dia  valor
2914  1998    2    2  34.45
2915  1998    2    3  34.46
2916  1998    2    4  34.68
2917  1998    2    5  34.46
2918  1998    2    6  34.65
2919  1998    2    9  34.48
2920  1998    2   10  34.48
2921  1998    2   11  34.45
2922  1998    2   12  34.41
2923  1998    2   13  34.67
2924  1998    2   16  34.41
2925  1998    2   17  34.39
2926  1998    2   18  34.37
2927  1998    2   19  34.07
2928  1998    2   20  33.97
2929  1998    2   25  33.97
2930  1998    2   26  33.67
2931  1998    2   27  33.69

Nome do Grupo: (1998, 3)
       ano  mes  dia  valor
2932  1998    3    2  33.68
2933  1998    3    3  33.58
2934  1998    3    4  32.55
2935  1998    3    5  27.90
2936  1998    3    6  28.04
2937  1998    3    9  27.96
2938  1998    3   10  27.90
2939  1998    3   11  27.75
2940  1998    3   12  27.42
2941  1998    3   13  27.89
2942  1998    3   16  27.63
2943  1998    3   17  27.50
2944  1998    3   18  27.51
2945  1998    3   19  27.32
2946  1998    3   20  27.45
2947  1998    3   23  27.35
2948  1998    3   24  27.33
2949  1998    3   25  27.34
2950  1998    3   26  27.34
2951  1998    3   27  27.33
2952  1998    3   30  27.31
2953  1998    3   31  27.27

Nome do Grupo: (1998, 4)
       ano  mes  dia  valor
2954  1998    4    1  27.25
2955  1998    4    2  27.24
2956  1998    4    3  27.26
2957  1998    4    6  27.60
2958  1998    4    7  27.92
2959  1998    4    8  27.96
2960  1998    4   13  27.83
2961  1998    4   14  27.67
2962  1998    4   15  25.90
2963  1998    4   16  23.57
2964  1998    4   17  23.35
2965  1998    4   20  23.20
2966  1998    4   22  23.16
2967  1998    4   23  23.16
2968  1998    4   24  23.16
2969  1998    4   27  23.13
2970  1998    4   28  23.17
2971  1998    4   29  23.08
2972  1998    4   30  22.85

Nome do Grupo: (1998, 5)
       ano  mes  dia  valor
2973  1998    5    4  23.02
2974  1998    5    5  23.37
2975  1998    5    6  23.33
2976  1998    5    7  23.19
2977  1998    5    8  23.19
2978  1998    5   11  23.23
2979  1998    5   12  23.44
2980  1998    5   13  23.23
2981  1998    5   14  23.23
2982  1998    5   15  23.16
2983  1998    5   18  23.12
2984  1998    5   19  23.10
2985  1998    5   20  22.29
2986  1998    5   21  21.69
2987  1998    5   22  21.59
2988  1998    5   25  21.58
2989  1998    5   26  21.58
2990  1998    5   27  21.57
2991  1998    5   28  21.57
2992  1998    5   29  21.50

Nome do Grupo: (1998, 6)
       ano  mes  dia  valor
2993  1998    6    1  21.20
2994  1998    6    2  21.06
2995  1998    6    3  21.06
2996  1998    6    4  21.07
2997  1998    6    5  21.07
2998  1998    6    8  21.08
2999  1998    6    9  21.09
3000  1998    6   10  21.09
3001  1998    6   12  21.09
3002  1998    6   15  21.09
3003  1998    6   16  21.09
3004  1998    6   17  21.09
3005  1998    6   18  21.10
3006  1998    6   19  21.09
3007  1998    6   22  21.09
3008  1998    6   23  21.09
3009  1998    6   24  21.05
3010  1998    6   25  20.76
3011  1998    6   26  20.76
3012  1998    6   29  20.70
3013  1998    6   30  20.65

Nome do Grupo: (1998, 7)
       ano  mes  dia  valor
3014  1998    7    1  20.59
3015  1998    7    2  20.55
3016  1998    7    3  20.50
3017  1998    7    6  20.46
3018  1998    7    7  20.49
3019  1998    7    8  20.49
3020  1998    7    9  20.49
3021  1998    7   10  20.49
3022  1998    7   13  20.49
3023  1998    7   14  20.49
3024  1998    7   15  20.49
3025  1998    7   16  20.49
3026  1998    7   17  20.49
3027  1998    7   20  20.49
3028  1998    7   21  20.49
3029  1998    7   22  20.39
3030  1998    7   23  20.25
3031  1998    7   24  20.19
3032  1998    7   27  20.09
3033  1998    7   28  19.99
3034  1998    7   29  19.98
3035  1998    7   30  19.67
3036  1998    7   31  19.63

Nome do Grupo: (1998, 8)
       ano  mes  dia  valor
3037  1998    8    3  19.59
3038  1998    8    4  19.55
3039  1998    8    5  19.49
3040  1998    8    6  19.45
3041  1998    8    7  19.39
3042  1998    8   10  19.35
3043  1998    8   11  19.29
3044  1998    8   12  19.25
3045  1998    8   13  19.24
3046  1998    8   14  19.20
3047  1998    8   17  19.18
3048  1998    8   18  19.17
3049  1998    8   19  19.15
3050  1998    8   20  19.14
3051  1998    8   21  19.10
3052  1998    8   24  19.09
3053  1998    8   25  19.07
3054  1998    8   26  19.05
3055  1998    8   27  19.02
3056  1998    8   28  19.01
3057  1998    8   31  19.00

Nome do Grupo: (1998, 9)
       ano  mes  dia  valor
3058  1998    9    1  19.08
3059  1998    9    2  19.11
3060  1998    9    3  19.14
3061  1998    9    4  19.20
3062  1998    9    8  29.87
3063  1998    9    9  30.05
3064  1998    9   10  29.73
3065  1998    9   11  39.78
3066  1998    9   14  39.76
3067  1998    9   15  39.75
3068  1998    9   16  39.75
3069  1998    9   17  39.75
3070  1998    9   18  39.73
3071  1998    9   21  39.79
3072  1998    9   22  39.89
3073  1998    9   23  40.08
3074  1998    9   24  39.96
3075  1998    9   25  40.13
3076  1998    9   28  40.26
3077  1998    9   29  40.39
3078  1998    9   30  40.50

Nome do Grupo: (1998, 10)
       ano  mes  dia  valor
3079  1998   10    1  40.60
3080  1998   10    2  40.70
3081  1998   10    5  40.80
3082  1998   10    6  40.90
3083  1998   10    7  40.99
3084  1998   10    8  41.10
3085  1998   10    9  41.19
3086  1998   10   13  41.30
3087  1998   10   14  41.40
3088  1998   10   15  41.50
3089  1998   10   16  41.59
3090  1998   10   19  41.70
3091  1998   10   20  41.80
3092  1998   10   21  41.90
3093  1998   10   22  42.00
3094  1998   10   23  42.11
3095  1998   10   26  42.20
3096  1998   10   27  42.30
3097  1998   10   28  42.39
3098  1998   10   29  42.50
3099  1998   10   30  42.60

Nome do Grupo: (1998, 11)
       ano  mes  dia  valor
3100  1998   11    3  42.70
3101  1998   11    4  42.74
3102  1998   11    5  42.73
3103  1998   11    6  42.72
3104  1998   11    9  42.74
3105  1998   11   10  42.75
3106  1998   11   11  42.74
3107  1998   11   12  39.56
3108  1998   11   13  38.99
3109  1998   11   16  38.50
3110  1998   11   17  38.00
3111  1998   11   18  37.50
3112  1998   11   19  37.00
3113  1998   11   20  36.51
3114  1998   11   23  36.00
3115  1998   11   24  35.50
3116  1998   11   25  35.00
3117  1998   11   26  34.68
3118  1998   11   27  34.59
3119  1998   11   30  34.40

Nome do Grupo: (1998, 12)
       ano  mes  dia  valor
3120  1998   12    1  34.20
3121  1998   12    2  34.00
3122  1998   12    3  33.80
3123  1998   12    4  33.60
3124  1998   12    7  33.40
3125  1998   12    8  33.20
3126  1998   12    9  33.00
3127  1998   12   10  32.98
3128  1998   12   11  32.63
3129  1998   12   14  32.40
3130  1998   12   15  32.21
3131  1998   12   16  32.01
3132  1998   12   17  29.37
3133  1998   12   18  29.34
3134  1998   12   21  29.02
3135  1998   12   22  28.96
3136  1998   12   23  28.96
3137  1998   12   24  28.96
3138  1998   12   28  28.84
3139  1998   12   29  28.79
3140  1998   12   30  28.96
3141  1998   12   31  28.96

Nome do Grupo: (1999, 1)
       ano  mes  dia  valor
3142  1999    1    4  29.04
3143  1999    1    5  28.93
3144  1999    1    6  28.94
3145  1999    1    7  29.01
3146  1999    1    8  29.13
3147  1999    1   11  29.34
3148  1999    1   12  29.33
3149  1999    1   13  29.81
3150  1999    1   14  29.83
3151  1999    1   15  30.09
3152  1999    1   18  29.85
3153  1999    1   19  32.03
3154  1999    1   20  32.17
3155  1999    1   21  32.99
3156  1999    1   22  32.48
3157  1999    1   25  32.47
3158  1999    1   26  32.48
3159  1999    1   27  33.86
3160  1999    1   28  35.48
3161  1999    1   29  36.94

Nome do Grupo: (1999, 2)
       ano  mes  dia  valor
3162  1999    2    1  38.79
3163  1999    2    2  38.97
3164  1999    2    3  38.99
3165  1999    2    4  38.99
3166  1999    2    5  38.99
3167  1999    2    8  38.99
3168  1999    2    9  38.99
3169  1999    2   10  38.99
3170  1999    2   11  38.99
3171  1999    2   12  39.00
3172  1999    2   17  38.99
3173  1999    2   18  38.99
3174  1999    2   19  38.99
3175  1999    2   22  38.93
3176  1999    2   23  38.98
3177  1999    2   24  39.00
3178  1999    2   25  38.97
3179  1999    2   26  39.00

Nome do Grupo: (1999, 3)
       ano  mes  dia  valor
3180  1999    3    1  38.98
3181  1999    3    2  38.98
3182  1999    3    3  39.00
3183  1999    3    4  38.97
3184  1999    3    5  44.92
3185  1999    3    8  44.97
3186  1999    3    9  44.84
3187  1999    3   10  44.91
3188  1999    3   11  44.97
3189  1999    3   12  44.96
3190  1999    3   15  44.96
3191  1999    3   16  44.96
3192  1999    3   17  44.96
3193  1999    3   18  44.96
3194  1999    3   19  44.99
3195  1999    3   22  44.98
3196  1999    3   23  44.95
3197  1999    3   24  44.94
3198  1999    3   25  41.96
3199  1999    3   26  42.02
3200  1999    3   29  41.99
3201  1999    3   30  41.97
3202  1999    3   31  41.93

Nome do Grupo: (1999, 4)
       ano  mes  dia  valor
3203  1999    4    5  41.91
3204  1999    4    6  39.47
3205  1999    4    7  39.44
3206  1999    4    8  39.44
3207  1999    4    9  39.42
3208  1999    4   12  39.41
3209  1999    4   13  39.40
3210  1999    4   14  39.39
3211  1999    4   15  33.90
3212  1999    4   16  33.96
3213  1999    4   19  33.94
3214  1999    4   20  33.94
3215  1999    4   22  33.93
3216  1999    4   23  33.92
3217  1999    4   26  33.89
3218  1999    4   27  33.89
3219  1999    4   28  33.89
3220  1999    4   29  31.97
3221  1999    4   30  31.93

Nome do Grupo: (1999, 5)
       ano  mes  dia  valor
3222  1999    5    3  31.90
3223  1999    5    4  31.92
3224  1999    5    5  31.90
3225  1999    5    6  31.88
3226  1999    5    7  31.87
3227  1999    5   10  29.67
3228  1999    5   11  29.46
3229  1999    5   12  29.45
3230  1999    5   13  27.04
3231  1999    5   14  27.03
3232  1999    5   17  26.94
3233  1999    5   18  26.91
3234  1999    5   19  26.89
3235  1999    5   20  23.53
3236  1999    5   21  23.46
3237  1999    5   24  23.43
3238  1999    5   25  23.42
3239  1999    5   26  23.39
3240  1999    5   27  23.38
3241  1999    5   28  23.35
3242  1999    5   31  23.34

Nome do Grupo: (1999, 6)
       ano  mes  dia  valor
3243  1999    6    1  23.28
3244  1999    6    2  23.29
3245  1999    6    4  23.28
3246  1999    6    7  23.28
3247  1999    6    8  23.27
3248  1999    6    9  21.99
3249  1999    6   10  21.98
3250  1999    6   11  21.97
3251  1999    6   14  21.95
3252  1999    6   15  21.92

       ano  mes  dia  valor
4145  2003    1    2  24.90
4146  2003    1    3  24.90
4147  2003    1    6  24.90
4148  2003    1    7  24.90
4149  2003    1    8  24.90
4150  2003    1    9  24.90
4151  2003    1   10  24.90
4152  2003    1   13  24.90
4153  2003    1   14  24.90
4154  2003    1   15  24.90
4155  2003    1   16  24.90
4156  2003    1   17  24.90
4157  2003    1   20  24.90
4158  2003    1   21  24.90
4159  2003    1   22  24.90
4160  2003    1   23  25.40
4161  2003    1   24  25.40
4162  2003    1   27  25.40
4163  2003    1   28  25.40
4164  2003    1   29  25.40
4165  2003    1   30  25.39
4166  2003    1   31  25.38

Nome do Grupo: (2003, 2)
       ano  mes  dia  valor
4167  2003    2    3  25.38
4168  2003    2    4  25.40
4169  2003    2    5  25.39
4170  2003    2    6  25.38
4171  2003    2    7  25.37
4172  2003    2   10  25.36
4173  2003    2   11  25.35
4174  2003    2   12  25.34
4175  2003    2   13  25.32
4176  2003    2   14  25.33
4177  2003    2   17  25.32
4178  2003    2   18  25.29
4179  2003    2   19  25.30
4180  2003    2   20  26.26
4181  2003    2   21  26.29
4182  2003    2   24  26.32
4183  2003    2   25  26.31
4184  2003    2   26  26.29
4185  2003    2   27  26.27
4186  2003    2   28  26.28

Nome do Grupo: (2003, 3)
       ano  mes  dia  valor
4187  2003    3    5  26.29
4188  2003    3    6  26.28
4189  2003    3    7  26.29
4190  2003    3   10  26.29
4191  2003    3   11  26.30
4192  2003    3   12  26.30
4193  2003    3   13  26.31
4194  2003    3   14  26.31
4195  2003    3   17  26.32
4196  2003    3   18  26.32
4197  2003    3   19  26.34
4198  2003    3   20  26.34
4199  2003    3   21  26.35
4200  2003    3   24  26.33
4201  2003    3   25  26.33
4202  2003    3   26  26.34
4203  2003    3   27  26.33
4204  2003    3   28  26.32
4205  2003    3   31  26.32

Nome do Grupo: (2003, 4)
       ano  mes  dia  valor
4206  2003    4    1  26.32
4207  2003    4    2  26.31
4208  2003    4    3  26.31
4209  2003    4    4  26.32
4210  2003    4    7  26.32
4211  2003    4    8  26.32
4212  2003    4    9  26.32
4213  2003    4   10  26.32
4214  2003    4   11  26.32
4215  2003    4   14  26.32
4216  2003    4   15  26.32
4217  2003    4   16  26.32
4218  2003    4   17  26.32
4219  2003    4   22  26.32
4220  2003    4   23  26.32
4221  2003    4   24  26.32
4222  2003    4   25  26.32
4223  2003    4   28  26.32
4224  2003    4   29  26.32
4225  2003    4   30  26.32

Nome do Grupo: (2003, 5)
       ano  mes  dia  valor
4226  2003    5    2  26.32
4227  2003    5    5  26.32
4228  2003    5    6  26.32
4229  2003    5    7  26.32
4230  2003    5    8  26.32
4231  2003    5    9  26.32
4232  2003    5   12  26.32
4233  2003    5   13  26.32
4234  2003    5   14  26.32
4235  2003    5   15  26.32
4236  2003    5   16  26.32
4237  2003    5   19  26.32
4238  2003    5   20  26.32
4239  2003    5   21  26.31
4240  2003    5   22  26.31
4241  2003    5   23  26.30
4242  2003    5   26  26.29
4243  2003    5   27  26.28
4244  2003    5   28  26.28
4245  2003    5   29  26.27
4246  2003    5   30  26.27

Nome do Grupo: (2003, 6)
       ano  mes  dia  valor
4247  2003    6    2  26.26
4248  2003    6    3  26.26
4249  2003    6    4  26.26
4250  2003    6    5  26.26
4251  2003    6    6  26.27
4252  2003    6    9  26.27
4253  2003    6   10  26.27
4254  2003    6   11  26.27
4255  2003    6   12  26.26
4256  2003    6   13  26.26
4257  2003    6   16  26.26
4258  2003    6   17  26.26
4259  2003    6   18  26.25
4260  2003    6   20  25.76
4261  2003    6   23  25.76
4262  2003    6   24  25.76
4263  2003    6   25  25.76
4264  2003    6   26  25.76
4265  2003    6   27  25.76
4266  2003    6   30  25.76

Nome do Grupo: (2003, 7)
       ano  mes  dia  valor
4267  2003    7    1  25.76
4268  2003    7    2  25.76
4269  2003    7    3  25.76
4270  2003    7    4  25.76
4271  2003    7    7  25.76
4272  2003    7    8  25.75
4273  2003    7    9  25.75
4274  2003    7   10  25.75
4275  2003    7   11  25.75
4276  2003    7   14  25.74
4277  2003    7   15  25.74
4278  2003    7   16  25.74
4279  2003    7   17  25.73
4280  2003    7   18  25.73
4281  2003    7   21  25.71
4282  2003    7   22  25.70
4283  2003    7   23  25.63
4284  2003    7   24  24.29
4285  2003    7   25  24.29
4286  2003    7   28  24.30
4287  2003    7   29  24.30
4288  2003    7   30  24.30
4289  2003    7   31  24.30

Nome do Grupo: (2003, 8)
       ano  mes  dia  valor
4290  2003    8    1  24.33
4291  2003    8    4  24.34
4292  2003    8    5  24.35
4293  2003    8    6  24.35
4294  2003    8    7  24.36
4295  2003    8    8  24.36
4296  2003    8   11  24.36
4297  2003    8   12  24.35
4298  2003    8   13  24.35
4299  2003    8   14  24.34
4300  2003    8   15  24.33
4301  2003    8   18  24.33
4302  2003    8   19  24.34
4303  2003    8   20  24.21
4304  2003    8   21  21.83
4305  2003    8   22  21.84
4306  2003    8   25  21.84
4307  2003    8   26  21.84
4308  2003    8   27  21.84
4309  2003    8   28  21.83
4310  2003    8   29  21.83

Nome do Grupo: (2003, 9)
       ano  mes  dia  valor
4311  2003    9    1  21.83
4312  2003    9    2  21.83
4313  2003    9    3  21.84
4314  2003    9    4  21.84
4315  2003    9    5  21.84
4316  2003    9    8  21.84
4317  2003    9    9  21.84
4318  2003    9   10  21.84
4319  2003    9   11  21.84
4320  2003    9   12  21.84
4321  2003    9   15  21.84
4322  2003    9   16  21.84
4323  2003    9   17  21.83
4324  2003    9   18  19.85
4325  2003    9   19  19.85
4326  2003    9   22  19.85
4327  2003    9   23  19.85
4328  2003    9   24  19.85
4329  2003    9   25  19.85
4330  2003    9   26  19.85
4331  2003    9   29  19.84
4332  2003    9   30  19.84

Nome do Grupo: (2003, 10)
       ano  mes  dia  valor
4333  2003   10    1  19.83
4334  2003   10    2  19.83
4335  2003   10    3  19.84
4336  2003   10    6  19.84
4337  2003   10    7  19.84
4338  2003   10    8  19.84
4339  2003   10    9  19.84
4340  2003   10   10  19.84
4341  2003   10   13  19.84
4342  2003   10   14  19.84
4343  2003   10   15  19.84
4344  2003   10   16  19.84
4345  2003   10   17  19.84
4346  2003   10   20  19.84
4347  2003   10   21  19.84
4348  2003   10   22  19.83
4349  2003   10   23  18.85
4350  2003   10   24  18.85
4351  2003   10   27  18.85
4352  2003   10   28  18.85
4353  2003   10   29  18.85
4354  2003   10   30  18.85
4355  2003   10   31  18.85

Nome do Grupo: (2003, 11)
       ano  mes  dia  valor
4356  2003   11    3  18.85
4357  2003   11    4  18.85
4358  2003   11    5  18.85
4359  2003   11    6  18.85
4360  2003   11    7  18.85
4361  2003   11   10  18.85
4362  2003   11   11  18.85
4363  2003   11   12  18.85
4364  2003   11   13  18.84
4365  2003   11   14  18.84
4366  2003   11   17  18.84
4367  2003   11   18  18.82
4368  2003   11   19  18.81
4369  2003   11   20  17.34
4370  2003   11   21  17.34
4371  2003   11   24  17.34
4372  2003   11   25  17.34
4373  2003   11   26  17.33
4374  2003   11   27  17.33
4375  2003   11   28  17.32

Nome do Grupo: (2003, 12)
       ano  mes  dia  valor
4376  2003   12    1  17.31
4377  2003   12    2  17.34
4378  2003   12    3  17.33
4379  2003   12    4  17.33
4380  2003   12    5  17.33
4381  2003   12    8  17.32
4382  2003   12    9  17.32
4383  2003   12   10  17.31
4384  2003   12   11  17.30
4385  2003   12   12  17.29
4386  2003   12   15  17.29
4387  2003   12   16  17.29
4388  2003   12   17  17.27
4389  2003   12   18  16.30
4390  2003   12   19  16.34
4391  2003   12   22  16.34
4392  2003   12   23  16.34
4393  2003   12   24  16.34
4394  2003   12   26  16.34
4395  2003   12   29  16.34
4396  2003   12   30  16.33
4397  2003   12   31  16.33

Nome do Grupo: (2004, 1)
       ano  mes  dia  valor
4398  2004    1    2  16.34
4399  2004    1    5  16.34
4400  2004    1    6  16.34
4401  2004    1    7  16.33
4402  2004    1    8  16.33
4403  2004    1    9  16.32
4404  2004    1   12  16.32
4405  2004    1   13  16.32
4406  2004    1   14  16.31
4407  2004    1   15  16.31
4408  2004    1   16  16.30
4409  2004    1   19  16.30
4410  2004    1   20  16.30
4411  2004    1   21  16.28
4412  2004    1   22  16.33
4413  2004    1   23  16.33
4414  2004    1   26  16.33
4415  2004    1   27  16.32
4416  2004    1   28  16.32
4417  2004    1   29  16.30
4418  2004    1   30  16.29

Nome do Grupo: (2004, 2)
       ano  mes  dia  valor
4419  2004    2    2  16.29
4420  2004    2    3  16.29
4421  2004    2    4  16.28
4422  2004    2    5  16.28
4423  2004    2    6  16.27
4424  2004    2    9  16.27
4425  2004    2   10  16.26
4426  2004    2   11  16.27
4427  2004    2   12  16.29
4428  2004    2   13  16.32
4429  2004    2   16  16.33
4430  2004    2   17  16.33
4431  2004    2   18  16.33
4432  2004    2   19  16.33
4433  2004    2   20  16.32
4434  2004    2   25  16.32
4435  2004    2   26  16.31
4436  2004    2   27  16.30

Nome do Grupo: (2004, 3)
       ano  mes  dia  valor
4437  2004    3    1  16.29
4438  2004    3    2  16.29
4439  2004    3    3  16.28
4440  2004    3    4  16.27
4441  2004    3    5  16.30
4442  2004    3    8  16.29
4443  2004    3    9  16.29
4444  2004    3   10  16.28
4445  2004    3   11  16.27
4446  2004    3   12  16.26
4447  2004    3   15  16.25
4448  2004    3   16  16.24
4449  2004    3   17  16.23
4450  2004    3   18  16.02
4451  2004    3   19  16.05
4452  2004    3   22  16.09
4453  2004    3   23  16.12
4454  2004    3   24  16.11
4455  2004    3   25  16.10
4456  2004    3   26  16.11
4457  2004    3   29  16.09
4458  2004    3   30  16.07
4459  2004    3   31  16.11

Nome do Grupo: (2004, 4)
       ano  mes  dia  valor
4460  2004    4    1  16.10
4461  2004    4    2  16.11
4462  2004    4    5  16.11
4463  2004    4    6  16.10
4464  2004    4    7  16.10
4465  2004    4    8  16.09
4466  2004    4   12  16.09
4467  2004    4   13  16.08
4468  2004    4   14  16.06
4469  2004    4   15  15.86
4470  2004    4   16  15.86
4471  2004    4   19  15.88
4472  2004    4   20  15.88
4473  2004    4   22  15.86
4474  2004    4   23  15.85
4475  2004    4   26  15.84
4476  2004    4   27  15.83
4477  2004    4   28  15.82
4478  2004    4   29  15.80
4479  2004    4   30  15.80

Nome do Grupo: (2004, 5)
       ano  mes  dia  valor
4480  2004    5    3  15.79
4481  2004    5    4  15.79
4482  2004    5    5  15.78
4483  2004    5    6  15.77
4484  2004    5    7  15.76
4485  2004    5   10  15.75
4486  2004    5   11  15.74
4487  2004    5   12  15.73
4488  2004    5   13  15.74
4489  2004    5   14  15.77
4490  2004    5   17  15.76
4491  2004    5   18  15.75
4492  2004    5   19  15.73
4493  2004    5   20  15.77
4494  2004    5   21  15.81
4495  2004    5   24  15.80
4496  2004    5   25  15.79
4497  2004    5   26  15.80
4498  2004    5   27  15.79
4499  2004    5   28  15.78
4500  2004    5   31  15.78

Nome do Grupo: (2004, 6)
       ano  mes  dia  valor
4501  2004    6    1  15.78
4502  2004    6    2  15.75
4503  2004    6    3  15.76
4504  2004    6    4  15.79
4505  2004    6    7  15.82
4506  2004    6    8  15.84
4507  2004    6    9  15.82
4508  2004    6   11  15.79
4509  2004    6   14  15.80
4510  2004    6   15  15.82
4511  2004    6   16  15.80
4512  2004    6   17  15.79
4513  2004    6   18  15.79
4514  2004    6   21  15.81
4515  2004    6   22  15.82
4516  2004    6   23  15.79
4517  2004    6   24  15.79
4518  2004    6   25  15.80
4519  2004    6   28  15.81
4520  2004    6   29  15.81
4521  2004    6   30  15.80

Nome do Grupo: (2004, 7)
       ano  mes  dia  valor
4522  2004    7    1  15.80
4523  2004    7    2  15.81
4524  2004    7    5  15.80
4525  2004    7    6  15.80
4526  2004    7    7  15.79
4527  2004    7    8  15.77
4528  2004    7    9  15.77
4529  2004    7   12  15.78
4530  2004    7   13  15.78
4531  2004    7   14  15.76
4532  2004    7   15  15.77
4533  2004    7   16  15.76
4534  2004    7   19  15.76
4535  2004    7   20  15.76
4536  2004    7   21  15.75
4537  2004    7   22  15.75
4538  2004    7   23  15.75
4539  2004    7   26  15.75
4540  2004    7   27  15.75
4541  2004    7   28  15.76
4542  2004    7   29  15.78
4543  2004    7   30  15.82

Nome do Grupo: (2004, 8)
       ano  mes  dia  valor
4544  2004    8    2  15.82
4545  2004    8    3  15.82
4546  2004    8    4  15.83
4547  2004    8    5  15.84
4548  2004    8    6  15.86
4549  2004    8    9  15.86
4550  2004    8   10  15.87
4551  2004    8   11  15.88
4552  2004    8   12  15.88
4553  2004    8   13  15.88
4554  2004    8   16  15.88
4555  2004    8   17  15.88
4556  2004    8   18  15.87
4557  2004    8   19  15.86
4558  2004    8   20  15.85
4559  2004    8   23  15.84
4560  2004    8   24  15.83
4561  2004    8   25  15.84
4562  2004    8   26  15.86
4563  2004    8   27  15.88
4564  2004    8   30  15.91
4565  2004    8   31  15.91

Nome do Grupo: (2004, 9)
       ano  mes  dia  valor
4566  2004    9    1  15.92
4567  2004    9    2  15.92
4568  2004    9    3  15.92
4569  2004    9    6  15.92
4570  2004    9    8  15.93
4571  2004    9    9  15.93
4572  2004    9   10  15.94
4573  2004    9   13  15.95
4574  2004    9   14  15.97
4575  2004    9   15  15.97
4576  2004    9   16  16.22
4577  2004    9   17  16.23
4578  2004    9   20  16.24
4579  2004    9   21  16.24
4580  2004    9   22  16.24
4581  2004    9   23  16.24
4582  2004    9   24  16.24
4583  2004    9   27  16.24
4584  2004    9   28  16.24
4585  2004    9   29  16.23
4586  2004    9   30  16.24

Nome do Grupo: (2004, 10)
       ano  mes  dia  valor
4587  2004   10    1  16.23
4588  2004   10    4  16.22
4589  2004   10    5  16.20
4590  2004   10    6  16.22
4591  2004   10    7  16.23
4592  2004   10    8  16.24
4593  2004   10   11  16.24
4594  2004   10   13  16.24
4595  2004   10   14  16.24
4596  2004   10   15  16.24
4597  2004   10   18  16.24
4598  2004   10   19  16.24
4599  2004   10   20  16.24
4600  2004   10   21  16.74
4601  2004   10   22  16.74
4602  2004   10   25  16.74
4603  2004   10   26  16.74
4604  2004   10   27  16.74
4605  2004   10   28  16.74
4606  2004   10   29  16.74

Nome do Grupo: (2004, 11)
       ano  mes  dia  valor
4607  2004   11    1  16.74
4608  2004   11    3  16.73
4609  2004   11    4  16.73
4610  2004   11    5  16.73
4611  2004   11    8  16.74
4612  2004   11    9  16.74
4613  2004   11   10  16.74
4614  2004   11   11  16.74
4615  2004   11   12  16.74
4616  2004   11   16  16.74
4617  2004   11   17  16.74
4618  2004   11   18  17.24
4619  2004   11   19  17.24
4620  2004   11   22  17.23
4621  2004   11   23  17.23
4622  2004   11   24  17.24
4623  2004   11   25  17.23
4624  2004   11   26  17.22
4625  2004   11   29  17.22
4626  2004   11   30  17.21

Nome do Grupo: (2004, 12)
       ano  mes  dia  valor
4627  2004   12    1  17.23
4628  2004   12    2  17.23
4629  2004   12    3  17.23
4630  2004   12    6  17.24
4631  2004   12    7  17.24
4632  2004   12    8  17.24
4633  2004   12    9  17.24
4634  2004   12   10  17.24
4635  2004   12   13  17.24
4636  2004   12   14  17.24
4637  2004   12   15  17.25
4638  2004   12   16  17.74
4639  2004   12   17  17.74
4640  2004   12   20  17.74
4641  2004   12   21  17.74
4642  2004   12   22  17.74
4643  2004   12   23  17.74
4644  2004   12   24  17.74
4645  2004   12   27  17.74
4646  2004   12   28  17.74
4647  2004   12   29  17.74
4648  2004   12   30  17.75
4649  2004   12   31  17.75

Nome do Grupo: (2005, 1)
       ano  mes  dia  valor
4650  2005    1    3  17.74
4651  2005    1    4  17.74
4652  2005    1    5  17.74
4653  2005    1    6  17.74
4654  2005    1    7  17.74
4655  2005    1   10  17.74
4656  2005    1   11  17.74
4657  2005    1   12  17.74
4658  2005    1   13  17.74
4659  2005    1   14  17.74
4660  2005    1   17  17.74
4661  2005    1   18  17.74
4662  2005    1   19  17.75
4663  2005    1   20  18.24
4664  2005    1   21  18.24
4665  2005    1   24  18.24
4666  2005    1   25  18.24
4667  2005    1   26  18.24
4668  2005    1   27  18.24
4669  2005    1   28  18.24
4670  2005    1   31  18.24

Nome do Grupo: (2005, 2)
       ano  mes  dia  valor
4671  2005    2    1  18.24
4672  2005    2    2  18.25
4673  2005    2    3  18.25
4674  2005    2    4  18.25
4675  2005    2    9  18.25
4676  2005    2   10  18.25
4677  2005    2   11  18.26
4678  2005    2   14  18.26
4679  2005    2   15  18.26
4680  2005    2   16  18.26
4681  2005    2   17  18.75
4682  2005    2   18  18.75
4683  2005    2   21  18.75
4684  2005    2   22  18.75
4685  2005    2   23  18.75
4686  2005    2   24  18.75
4687  2005    2   25  18.75
4688  2005    2   28  18.74

Nome do Grupo: (2005, 3)
       ano  mes  dia  valor
4689  2005    3    1  18.74
4690  2005    3    2  18.74
4691  2005    3    3  18.74
4692  2005    3    4  18.74
4693  2005    3    7  18.75
4694  2005    3    8  18.75
4695  2005    3    9  18.75
4696  2005    3   10  18.75
4697  2005    3   11  18.75
4698  2005    3   14  18.75
4699  2005    3   15  18.75
4700  2005    3   16  18.75
4701  2005    3   17  19.24
4702  2005    3   18  19.24
4703  2005    3   21  19.24
4704  2005    3   22  19.24
4705  2005    3   23  19.24
4706  2005    3   24  19.24
4707  2005    3   28  19.25
4708  2005    3   29  19.25
4709  2005    3   30  19.25
4710  2005    3   31  19.25

Nome do Grupo: (2005, 4)
       ano  mes  dia  valor
4711  2005    4    1  19.24
4712  2005    4    4  19.24
4713  2005    4    5  19.24
4714  2005    4    6  19.24
4715  2005    4    7  19.24
4716  2005    4    8  19.24
4717  2005    4   11  19.24
4718  2005    4   12  19.24
4719  2005    4   13  19.24
4720  2005    4   14  19.24
4721  2005    4   15  19.24
4722  2005    4   18  19.24
4723  2005    4   19  19.24
4724  2005    4   20  19.24
4725  2005    4   22  19.49
4726  2005    4   25  19.49
4727  2005    4   26  19.49
4728  2005    4   27  19.50
4729  2005    4   28  19.50
4730  2005    4   29  19.50

Nome do Grupo: (2005, 5)
       ano  mes  dia  valor
4731  2005    5    2  19.50
4732  2005    5    3  19.51
4733  2005    5    4  19.51
4734  2005    5    5  19.51
4735  2005    5    6  19.51
4736  2005    5    9  19.52
4737  2005    5   10  19.52
4738  2005    5   11  19.52
4739  2005    5   12  19.52
4740  2005    5   13  19.52
4741  2005    5   16  19.52
4742  2005    5   17  19.52
4743  2005    5   18  19.51
4744  2005    5   19  19.76
4745  2005    5   20  19.75
4746  2005    5   23  19.75
4747  2005    5   24  19.75
4748  2005    5   25  19.75
4749  2005    5   27  19.75
4750  2005    5   30  19.75
4751  2005    5   31  19.76

Nome do Grupo: (2005, 6)
       ano  mes  dia  valor
4752  2005    6    1  19.76
4753  2005    6    2  19.75
4754  2005    6    3  19.75
4755  2005    6    6  19.75
4756  2005    6    7  19.75
4757  2005    6    8  19.75
4758  2005    6    9  19.75
4759  2005    6   10  19.75
4760  2005    6   13  19.75
4761  2005    6   14  19.75
4762  2005    6   15  19.75
4763  2005    6   16  19.74
4764  2005    6   17  19.74
4765  2005    6   20  19.74
4766  2005    6   21  19.74
4767  2005    6   22  19.74
4768  2005    6   23  19.74
4769  2005    6   24  19.74
4770  2005    6   27  19.74
4771  2005    6   28  19.74
4772  2005    6   29  19.74
4773  2005    6   30  19.74

Nome do Grupo: (2005, 7)
       ano  mes  dia  valor
4774  2005    7    1  19.73
4775  2005    7    4  19.72
4776  2005    7    5  19.72
4777  2005    7    6  19.72
4778  2005    7    7  19.72
4779  2005    7    8  19.72
4780  2005    7   11  19.72
4781  2005    7   12  19.72
4782  2005    7   13  19.72
4783  2005    7   14  19.72
4784  2005    7   15  19.73
4785  2005    7   18  19.72
4786  2005    7   19  19.72
4787  2005    7   20  19.72
4788  2005    7   21  19.72
4789  2005    7   22  19.72
4790  2005    7   25  19.72
4791  2005    7   26  19.72
4792  2005    7   27  19.72
4793  2005    7   28  19.73
4794  2005    7   29  19.74

Nome do Grupo: (2005, 8)
       ano  mes  dia  valor
4795  2005    8    1  19.74
4796  2005    8    2  19.75
4797  2005    8    3  19.75

       ano  mes  dia  valor
5632  2008   12    1  13.65
5633  2008   12    2  13.66
5634  2008   12    3  13.66
5635  2008   12    4  13.66
5636  2008   12    5  13.66
5637  2008   12    8  13.66
5638  2008   12    9  13.66
5639  2008   12   10  13.66
5640  2008   12   11  13.66
5641  2008   12   12  13.66
5642  2008   12   15  13.66
5643  2008   12   16  13.66
5644  2008   12   17  13.66
5645  2008   12   18  13.66
5646  2008   12   19  13.66
5647  2008   12   22  13.66
5648  2008   12   23  13.66
5649  2008   12   24  13.66
5650  2008   12   26  13.66
5651  2008   12   29  13.66
5652  2008   12   30  13.66
5653  2008   12   31  13.67

Nome do Grupo: (2009, 1)
       ano  mes  dia  valor
5654  2009    1    2  13.67
5655  2009    1    5  13.66
5656  2009    1    6  13.66
5657  2009    1    7  13.66
5658  2009    1    8  13.66
5659  2009    1    9  13.66
5660  2009    1   12  13.66
5661  2009    1   13  13.66
5662  2009    1   14  13.66
5663  2009    1   15  13.66
5664  2009    1   16  13.66
5665  2009    1   19  13.66
5666  2009    1   20  13.65
5667  2009    1   21  13.65
5668  2009    1   22  12.65
5669  2009    1   23  12.66
5670  2009    1   26  12.65
5671  2009    1   27  12.66
5672  2009    1   28  12.66
5673  2009    1   29  12.66
5674  2009    1   30  12.66

Nome do Grupo: (2009, 2)
       ano  mes  dia  valor
5675  2009    2    2  12.66
5676  2009    2    3  12.66
5677  2009    2    4  12.66
5678  2009    2    5  12.66
5679  2009    2    6  12.66
5680  2009    2    9  12.66
5681  2009    2   10  12.66
5682  2009    2   11  12.66
5683  2009    2   12  12.66
5684  2009    2   13  12.66
5685  2009    2   16  12.66
5686  2009    2   17  12.66
5687  2009    2   18  12.66
5688  2009    2   19  12.66
5689  2009    2   20  12.66
5690  2009    2   25  12.66
5691  2009    2   26  12.66
5692  2009    2   27  12.66

Nome do Grupo: (2009, 3)
       ano  mes  dia  valor
5693  2009    3    2  12.66
5694  2009    3    3  12.66
5695  2009    3    4  12.66
5696  2009    3    5  12.66
5697  2009    3    6  12.66
5698  2009    3    9  12.66
5699  2009    3   10  12.66
5700  2009    3   11  12.66
5701  2009    3   12  11.16
5702  2009    3   13  11.16
5703  2009    3   16  11.16
5704  2009    3   17  11.16
5705  2009    3   18  11.16
5706  2009    3   19  11.16
5707  2009    3   20  11.16
5708  2009    3   23  11.16
5709  2009    3   24  11.16
5710  2009    3   25  11.16
5711  2009    3   26  11.16
5712  2009    3   27  11.16
5713  2009    3   30  11.16
5714  2009    3   31  11.16

Nome do Grupo: (2009, 4)
       ano  mes  dia  valor
5715  2009    4    1  11.16
5716  2009    4    2  11.16
5717  2009    4    3  11.16
5718  2009    4    6  11.16
5719  2009    4    7  11.16
5720  2009    4    8  11.16
5721  2009    4    9  11.16
5722  2009    4   13  11.16
5723  2009    4   14  11.16
5724  2009    4   15  11.16
5725  2009    4   16  11.16
5726  2009    4   17  11.16
5727  2009    4   20  11.16
5728  2009    4   22  11.16
5729  2009    4   23  11.16
5730  2009    4   24  11.16
5731  2009    4   27  11.16
5732  2009    4   28  11.16
5733  2009    4   29  11.15
5734  2009    4   30  10.16

Nome do Grupo: (2009, 5)
       ano  mes  dia  valor
5735  2009    5    4  10.16
5736  2009    5    5  10.16
5737  2009    5    6  10.16
5738  2009    5    7  10.16
5739  2009    5    8  10.16
5740  2009    5   11  10.16
5741  2009    5   12  10.15
5742  2009    5   13  10.16
5743  2009    5   14  10.16
5744  2009    5   15  10.16
5745  2009    5   18  10.16
5746  2009    5   19  10.16
5747  2009    5   20  10.16
5748  2009    5   21  10.16
5749  2009    5   22  10.16
5750  2009    5   25  10.16
5751  2009    5   26  10.16
5752  2009    5   27  10.16
5753  2009    5   28  10.16
5754  2009    5   29  10.16

Nome do Grupo: (2009, 6)
       ano  mes  dia  valor
5755  2009    6    1  10.16
5756  2009    6    2  10.16
5757  2009    6    3  10.16
5758  2009    6    4  10.16
5759  2009    6    5  10.16
5760  2009    6    8  10.16
5761  2009    6    9  10.16
5762  2009    6   10  10.15
5763  2009    6   12   9.16
5764  2009    6   15   9.16
5765  2009    6   16   9.16
5766  2009    6   17   9.16
5767  2009    6   18   9.16
5768  2009    6   19   9.16
5769  2009    6   22   9.16
5770  2009    6   23   9.16
5771  2009    6   24   9.16
5772  2009    6   25   9.16
5773  2009    6   26   9.16
5774  2009    6   29   9.16
5775  2009    6   30   9.16

Nome do Grupo: (2009, 7)
       ano  mes  dia  valor
5776  2009    7    1   9.16
5777  2009    7    2   9.16
5778  2009    7    3   9.16
5779  2009    7    6   9.16
5780  2009    7    7   9.16
5781  2009    7    8   9.16
5782  2009    7    9   9.16
5783  2009    7   10   9.16
5784  2009    7   13   9.16
5785  2009    7   14   9.16
5786  2009    7   15   9.16
5787  2009    7   16   9.16
5788  2009    7   17   9.16
5789  2009    7   20   9.16
5790  2009    7   21   9.16
5791  2009    7   22   9.15
5792  2009    7   23   8.66
5793  2009    7   24   8.66
5794  2009    7   27   8.66
5795  2009    7   28   8.65
5796  2009    7   29   8.66
5797  2009    7   30   8.65
5798  2009    7   31   8.65

Nome do Grupo: (2009, 8)
       ano  mes  dia  valor
5799  2009    8    3   8.65
5800  2009    8    4   8.65
5801  2009    8    5   8.65
5802  2009    8    6   8.65
5803  2009    8    7   8.65
5804  2009    8   10   8.65
5805  2009    8   11   8.65
5806  2009    8   12   8.65
5807  2009    8   13   8.65
5808  2009    8   14   8.65
5809  2009    8   17   8.65
5810  2009    8   18   8.65
5811  2009    8   19   8.65
5812  2009    8   20   8.65
5813  2009    8   21   8.65
5814  2009    8   24   8.65
5815  2009    8   25   8.65
5816  2009    8   26   8.65
5817  2009    8   27   8.65
5818  2009    8   28   8.65
5819  2009    8   31   8.65

Nome do Grupo: (2009, 9)
       ano  mes  dia  valor
5820  2009    9    1   8.65
5821  2009    9    2   8.65
5822  2009    9    3   8.65
5823  2009    9    4   8.65
5824  2009    9    8   8.65
5825  2009    9    9   8.65
5826  2009    9   10   8.65
5827  2009    9   11   8.65
5828  2009    9   14   8.65
5829  2009    9   15   8.65
5830  2009    9   16   8.65
5831  2009    9   17   8.65
5832  2009    9   18   8.65
5833  2009    9   21   8.65
5834  2009    9   22   8.65
5835  2009    9   23   8.65
5836  2009    9   24   8.65
5837  2009    9   25   8.65
5838  2009    9   28   8.65
5839  2009    9   29   8.65
5840  2009    9   30   8.65

Nome do Grupo: (2009, 10)
       ano  mes  dia  valor
5841  2009   10    1   8.65
5842  2009   10    2   8.65
5843  2009   10    5   8.65
5844  2009   10    6   8.65
5845  2009   10    7   8.65
5846  2009   10    8   8.65
5847  2009   10    9   8.65
5848  2009   10   13   8.65
5849  2009   10   14   8.65
5850  2009   10   15   8.65
5851  2009   10   16   8.65
5852  2009   10   19   8.65
5853  2009   10   20   8.65
5854  2009   10   21   8.65
5855  2009   10   22   8.65
5856  2009   10   23   8.65
5857  2009   10   26   8.65
5858  2009   10   27   8.65
5859  2009   10   28   8.65
5860  2009   10   29   8.65
5861  2009   10   30   8.65

Nome do Grupo: (2009, 11)
       ano  mes  dia  valor
5862  2009   11    3   8.65
5863  2009   11    4   8.65
5864  2009   11    5   8.65
5865  2009   11    6   8.65
5866  2009   11    9   8.65
5867  2009   11   10   8.65
5868  2009   11   11   8.65
5869  2009   11   12   8.65
5870  2009   11   13   8.65
5871  2009   11   16   8.65
5872  2009   11   17   8.65
5873  2009   11   18   8.65
5874  2009   11   19   8.65
5875  2009   11   20   8.65
5876  2009   11   23   8.65
5877  2009   11   24   8.65
5878  2009   11   25   8.65
5879  2009   11   26   8.65
5880  2009   11   27   8.65
5881  2009   11   30   8.65

Nome do Grupo: (2009, 12)
       ano  mes  dia  valor
5882  2009   12    1   8.65
5883  2009   12    2   8.65
5884  2009   12    3   8.65
5885  2009   12    4   8.65
5886  2009   12    7   8.65
5887  2009   12    8   8.65
5888  2009   12    9   8.65
5889  2009   12   10   8.65
5890  2009   12   11   8.65
5891  2009   12   14   8.65
5892  2009   12   15   8.65
5893  2009   12   16   8.65
5894  2009   12   17   8.65
5895  2009   12   18   8.65
5896  2009   12   21   8.65
5897  2009   12   22   8.65
5898  2009   12   23   8.65
5899  2009   12   24   8.65
5900  2009   12   28   8.65
5901  2009   12   29   8.64
5902  2009   12   30   8.65
5903  2009   12   31   8.65

Nome do Grupo: (2010, 1)
       ano  mes  dia  valor
5904  2010    1    4   8.65
5905  2010    1    5   8.65
5906  2010    1    6   8.65
5907  2010    1    7   8.65
5908  2010    1    8   8.65
5909  2010    1   11   8.65
5910  2010    1   12   8.65
5911  2010    1   13   8.65
5912  2010    1   14   8.65
5913  2010    1   15   8.65
5914  2010    1   18   8.65
5915  2010    1   19   8.65
5916  2010    1   20   8.65
5917  2010    1   21   8.65
5918  2010    1   22   8.65
5919  2010    1   25   8.65
5920  2010    1   26   8.64
5921  2010    1   27   8.65
5922  2010    1   28   8.65
5923  2010    1   29   8.65

Nome do Grupo: (2010, 2)
       ano  mes  dia  valor
5924  2010    2    1   8.65
5925  2010    2    2   8.65
5926  2010    2    3   8.65
5927  2010    2    4   8.65
5928  2010    2    5   8.65
5929  2010    2    8   8.65
5930  2010    2    9   8.65
5931  2010    2   10   8.65
5932  2010    2   11   8.65
5933  2010    2   12   8.65
5934  2010    2   17   8.65
5935  2010    2   18   8.65
5936  2010    2   19   8.65
5937  2010    2   22   8.65
5938  2010    2   23   8.65
5939  2010    2   24   8.65
5940  2010    2   25   8.65
5941  2010    2   26   8.65

Nome do Grupo: (2010, 3)
       ano  mes  dia  valor
5942  2010    3    1   8.65
5943  2010    3    2   8.65
5944  2010    3    3   8.65
5945  2010    3    4   8.65
5946  2010    3    5   8.65
5947  2010    3    8   8.65
5948  2010    3    9   8.65
5949  2010    3   10   8.65
5950  2010    3   11   8.65
5951  2010    3   12   8.65
5952  2010    3   15   8.65
5953  2010    3   16   8.65
5954  2010    3   17   8.65
5955  2010    3   18   8.65
5956  2010    3   19   8.65
5957  2010    3   22   8.65
5958  2010    3   23   8.65
5959  2010    3   24   8.65
5960  2010    3   25   8.65
5961  2010    3   26   8.65
5962  2010    3   29   8.65
5963  2010    3   30   8.65
5964  2010    3   31   8.65

Nome do Grupo: (2010, 4)
       ano  mes  dia  valor
5965  2010    4    1   8.65
5966  2010    4    5   8.65
5967  2010    4    6   8.65
5968  2010    4    7   8.65
5969  2010    4    8   8.65
5970  2010    4    9   8.65
5971  2010    4   12   8.65
5972  2010    4   13   8.65
5973  2010    4   14   8.65
5974  2010    4   15   8.65
5975  2010    4   16   8.65
5976  2010    4   19   8.65
5977  2010    4   20   8.65
5978  2010    4   22   8.65
5979  2010    4   23   8.64
5980  2010    4   26   8.64
5981  2010    4   27   8.64
5982  2010    4   28   8.64
5983  2010    4   29   9.39
5984  2010    4   30   9.40

Nome do Grupo: (2010, 5)
       ano  mes  dia  valor
5985  2010    5    3   9.40
5986  2010    5    4   9.40
5987  2010    5    5   9.40
5988  2010    5    6   9.40
5989  2010    5    7   9.40
5990  2010    5   10   9.40
5991  2010    5   11   9.40
5992  2010    5   12   9.40
5993  2010    5   13   9.40
5994  2010    5   14   9.40
5995  2010    5   17   9.40
5996  2010    5   18   9.40
5997  2010    5   19   9.40
5998  2010    5   20   9.40
5999  2010    5   21   9.40
6000  2010    5   24   9.39
6001  2010    5   25   9.40
6002  2010    5   26   9.40
6003  2010    5   27   9.40
6004  2010    5   28   9.39
6005  2010    5   31   9.39

Nome do Grupo: (2010, 6)
       ano  mes  dia  valor
6006  2010    6    1   9.40
6007  2010    6    2   9.40
6008  2010    6    4   9.40
6009  2010    6    7   9.40
6010  2010    6    8   9.40
6011  2010    6    9   9.40
6012  2010    6   10  10.15
6013  2010    6   11  10.15
6014  2010    6   14  10.15
6015  2010    6   15  10.15
6016  2010    6   16  10.15
6017  2010    6   17  10.15
6018  2010    6   18  10.15
6019  2010    6   21  10.15
6020  2010    6   22  10.15
6021  2010    6   23  10.15
6022  2010    6   24  10.15
6023  2010    6   25  10.15
6024  2010    6   28  10.16
6025  2010    6   29  10.16
6026  2010    6   30  10.16

Nome do Grupo: (2010, 7)
       ano  mes  dia  valor
6027  2010    7    1  10.16
6028  2010    7    2  10.16
6029  2010    7    5  10.16
6030  2010    7    6  10.16
6031  2010    7    7  10.16
6032  2010    7    8  10.16
6033  2010    7    9  10.16
6034  2010    7   12  10.16
6035  2010    7   13  10.16
6036  2010    7   14  10.16
6037  2010    7   15  10.16
6038  2010    7   16  10.16
6039  2010    7   19  10.16
6040  2010    7   20  10.16
6041  2010    7   21  10.16
6042  2010    7   22  10.66
6043  2010    7   23  10.66
6044  2010    7   26  10.66
6045  2010    7   27  10.66
6046  2010    7   28  10.66
6047  2010    7   29  10.66
6048  2010    7   30  10.66

Nome do Grupo: (2010, 8)
       ano  mes  dia  valor
6049  2010    8    2  10.66
6050  2010    8    3  10.66
6051  2010    8    4  10.66
6052  2010    8    5  10.66
6053  2010    8    6  10.66
6054  2010    8    9  10.66
6055  2010    8   10  10.66
6056  2010    8   11  10.66
6057  2010    8   12  10.66
6058  2010    8   13  10.66
6059  2010    8   16  10.66
6060  2010    8   17  10.66
6061  2010    8   18  10.66
6062  2010    8   19  10.66
6063  2010    8   20  10.66
6064  2010    8   23  10.66
6065  2010    8   24  10.66
6066  2010    8   25  10.66
6067  2010    8   26  10.66
6068  2010    8   27  10.66
6069  2010    8   30  10.66
6070  2010    8   31  10.66

Nome do Grupo: (2010, 9)
       ano  mes  dia  valor
6071  2010    9    1  10.66
6072  2010    9    2  10.66
6073  2010    9    3  10.66
6074  2010    9    6  10.66
6075  2010    9    8  10.66
6076  2010    9    9  10.66
6077  2010    9   10  10.66
6078  2010    9   13  10.66
6079  2010    9   14  10.66
6080  2010    9   15  10.66
6081  2010    9   16  10.66
6082  2010    9   17  10.66
6083  2010    9   20  10.66
6084  2010    9   21  10.66
6085  2010    9   22  10.66
6086  2010    9   23  10.66
6087  2010    9   24  10.66
6088  2010    9   27  10.66
6089  2010    9   28  10.66
6090  2010    9   29  10.66
6091  2010    9   30  10.66

Nome do Grupo: (2010, 10)
       ano  mes  dia  valor
6092  2010   10    1  10.66
6093  2010   10    4  10.66
6094  2010   10    5  10.66
6095  2010   10    6  10.66
6096  2010   10    7  10.66
6097  2010   10    8  10.66
6098  2010   10   11  10.66
6099  2010   10   13  10.66
6100  2010   10   14  10.66
6101  2010   10   15  10.66
6102  2010   10   18  10.66
6103  2010   10   19  10.66
6104  2010   10   20  10.66
6105  2010   10   21  10.66
6106  2010   10   22  10.66
6107  2010   10   25  10.66
6108  2010   10   26  10.66
6109  2010   10   27  10.66
6110  2010   10   28  10.66
6111  2010   10   29  10.66

Nome do Grupo: (2010, 11)
       ano  mes  dia  valor
6112  2010   11    1  10.66
6113  2010   11    3  10.66
6114  2010   11    4  10.66
6115  2010   11    5  10.66
6116  2010   11    8  10.66
6117  2010   11    9  10.66
6118  2010   11   10  10.66
6119  2010   11   11  10.66
6120  2010   11   12  10.66
6121  2010   11   16  10.66
6122  2010   11   17  10.66
6123  2010   11   18  10.66
6124  2010   11   19  10.66
6125  2010   11   22  10.66
6126  2010   11   23  10.66
6127  2010   11   24  10.66
6128  2010   11   25  10.66
6129  2010   11   26  10.66
6130  2010   11   29  10.66
6131  2010   11   30  10.66

Nome do Grupo: (2010, 12)
       ano  mes  dia  valor
6132  2010   12    1  10.66
6133  2010   12    2  10.66
6134  2010   12    3  10.66
6135  2010   12    6  10.66
6136  2010   12    7  10.66
6137  2010   12    8  10.66
6138  2010   12    9  10.66
6139  2010   12   10  10.66
6140  2010   12   13  10.66
6141  2010   12   14  10.66
6142  2010   12   15  10.66
6143  2010   12   16  10.67
6144  2010   12   17  10.66
6145  2010   12   20  10.66
6146  2010   12   21  10.66
6147  2010   12   22  10.66
6148  2010   12   23  10.66
6149  2010   12   24  10.66
6150  2010   12   27  10.66
6151  2010   12   28  10.66
6152  2010   12   29  10.66
6153  2010   12   30  10.67
6154  2010   12   31  10.67

Nome do Grupo: (2011, 1)
       ano  mes  dia  valor
6155  2011    1    3  10.67
6156  2011    1    4  10.66
6157  2011    1    5  10.67
6158  2011    1    6  10.66
6159  2011    1    7  10.67
6160  2011    1   10  10.66
6161  2011    1   11  10.66
6162  2011    1   12  10.66
6163  2011    1   13  10.66
6164  2011    1   14  10.66
6165  2011    1   17  10.66
6166  2011    1   18  10.66
6167  2011    1   19  10.66
6168  2011    1   20  11.16
6169  2011    1   21  11.16
6170  2011    1   24  11.16
6171  2011    1   25  11.16
6172  2011    1   26  11.16
6173  2011    1   27  11.17
6174  2011    1   28  11.17
6175  2011    1   31  11.17

Nome do Grupo: (2011, 2)
       ano  mes  dia  valor
6176  2011    2    1  11.16
6177  2011    2    2  11.17
6178  2011    2    3  11.17
6179  2011    2    4  11.17
6180  2011    2    7  11.17
6181  2011    2    8  11.17
6182  2011    2    9  11.17
6183  2011    2   10  11.17
6184  2011    2   11  11.17
6185  2011    2   14  11.17
6186  2011    2   15  11.17
6187  2011    2   16  11.17
6188  2011    2   17  11.17
6189  2011    2   18  11.17
6190  2011    2   21  11.17
6191  2011    2   22  11.17
6192  2011    2   23  11.17
6193  2011    2   24  11.17
6194  2011    2   25  11.17
6195  2011    2   28  11.17

Nome do Grupo: (2011, 3)
       ano  mes  dia  valor
6196  2011    3    1  11.17
6197  2011    3    2  11.17
6198  2011    3    3  11.67
6199  2011    3    4  11.67
6200  2011    3    9  11.67
6201  2011    3   10  11.67
6202  2011    3   11  11.67
6203  2011    3   14  11.67
6204  2011    3   15  11.67
6205  2011    3   16  11.67
6206  2011    3   17  11.67
6207  2011    3   18  11.67
6208  2011    3   21  11.67
6209  2011    3   22  11.67
6210  2011    3   23  11.67
6211  2011    3   24  11.67
6212  2011    3   25  11.67
6213  2011    3   28  11.67
6214  2011    3   29  11.67
6215  2011    3   30  11.67
6216  2011    3   31  11.67

Nome do Grupo: (2011, 4)
       ano  mes  dia  valor
6217  2011    4    1  11.67
6218  2011    4    4  11.67
6219  2011    4    5  11.67
6220  2011    4    6  11.67
6221  2011    4    7  11.67
6222  2011    4    8  11.67
6223  2011    4   11  11.67
6224  2011    4   12  11.67
6225  2011    4   13  11.67
6226  2011    4   14  11.67
6227  2011    4   15  11.67
6228  2011    4   18  11.67
6229  2011    4   19  11.67
6230  2011    4   20  11.67
6231  2011    4   25  11.92
6232  2011    4   26  11.92
6233  2011    4   27  11.92
6234  2011    4   28  11.92
6235  2011    4   29  11.92

Nome do Grupo: (2011, 5)
       ano  mes  dia  valor
6236  2011    5    2  11.92
6237  2011    5    3  11.92
6238  2011    5    4  11.92
6239  2011    5    5  11.92
6240  2011    5    6  11.92
6241  2011    5    9  11.92
6242  2011    5   10  11.92
6243  2011    5   11  11.92
6244  2011    5   12  11.92
6245  2011    5   13  11.92
6246  2011    5   16  11.92
6247  2011    5   17  11.92
6248  2011    5   18  11.92
6249  2011    5   19  11.92
6250  2011    5   20  11.92
6251  2011    5   23  11.92
6252  2011    5   24  11.92
6253  2011    5   25  11.92
6254  2011    5   26  11.92
6255  2011    5   27  11.92
6256  2011    5   30  11.92
6257  2011    5   31  11.92

Nome do Grupo: (2011, 6)
       ano  mes  dia  valor
6258  2011    6    1  11.92
6259  2011    6    2  11.92
6260  2011    6    3  11.92
6261  2011    6    6  11.92
6262  2011    6    7  11.92
6263  2011    6    8  11.92
6264  2011    6    9  12.17
6265  2011    6   10  12.17
6266  2011    6   13  12.17
6267  2011    6   14  12.17
6268  2011    6   15  12.17
6269  2011    6   16  12.17
6270  2011    6   17  12.17
6271  2011    6   20  12.17
6272  2011    6   21  12.17
6273  2011    6   22  12.17
6274  2011    6   24  12.17
6275  2011    6   27  12.17
6276  2011    6   28  12.17
6277  2011    6   29  12.17
6278  2011    6   30  12.17

Nome do Grupo: (2011, 7)
       ano  mes  dia  valor
6279  2011    7    1  12.17
6280  2011    7    4  12.17
6281  2011    7    5  12.17
6282  2011    7    6  12.17
6283  2011    7    7  12.17
6284  2011    7    8  12.17

       ano  mes  dia  valor
7184  2015    2    2  12.15
7185  2015    2    3  12.15
7186  2015    2    4  12.15
7187  2015    2    5  12.15
7188  2015    2    6  12.15
7189  2015    2    9  12.15
7190  2015    2   10  12.15
7191  2015    2   11  12.15
7192  2015    2   12  12.15
7193  2015    2   13  12.15
7194  2015    2   18  12.15
7195  2015    2   19  12.15
7196  2015    2   20  12.15
7197  2015    2   23  12.15
7198  2015    2   24  12.15
7199  2015    2   25  12.15
7200  2015    2   26  12.15
7201  2015    2   27  12.15

Nome do Grupo: (2015, 3)
       ano  mes  dia  valor
7202  2015    3    2  12.15
7203  2015    3    3  12.15
7204  2015    3    4  12.15
7205  2015    3    5  12.65
7206  2015    3    6  12.65
7207  2015    3    9  12.65
7208  2015    3   10  12.65
7209  2015    3   11  12.65
7210  2015    3   12  12.65
7211  2015    3   13  12.65
7212  2015    3   16  12.65
7213  2015    3   17  12.65
7214  2015    3   18  12.65
7215  2015    3   19  12.65
7216  2015    3   20  12.65
7217  2015    3   23  12.65
7218  2015    3   24  12.65
7219  2015    3   25  12.65
7220  2015    3   26  12.65
7221  2015    3   27  12.65
7222  2015    3   30  12.65
7223  2015    3   31  12.65

Nome do Grupo: (2015, 4)
       ano  mes  dia  valor
7224  2015    4    1  12.65
7225  2015    4    2  12.65
7226  2015    4    6  12.65
7227  2015    4    7  12.65
7228  2015    4    8  12.65
7229  2015    4    9  12.65
7230  2015    4   10  12.65
7231  2015    4   13  12.65
7232  2015    4   14  12.65
7233  2015    4   15  12.65
7234  2015    4   16  12.65
7235  2015    4   17  12.65
7236  2015    4   20  12.65
7237  2015    4   22  12.65
7238  2015    4   23  12.65
7239  2015    4   24  12.65
7240  2015    4   27  12.66
7241  2015    4   28  12.67
7242  2015    4   29  12.67
7243  2015    4   30  13.15

Nome do Grupo: (2015, 5)
       ano  mes  dia  valor
7244  2015    5    4  13.15
7245  2015    5    5  13.15
7246  2015    5    6  13.15
7247  2015    5    7  13.15
7248  2015    5    8  13.15
7249  2015    5   11  13.15
7250  2015    5   12  13.15
7251  2015    5   13  13.15
7252  2015    5   14  13.15
7253  2015    5   15  13.15
7254  2015    5   18  13.15
7255  2015    5   19  13.15
7256  2015    5   20  13.15
7257  2015    5   21  13.15
7258  2015    5   22  13.15
7259  2015    5   25  13.15
7260  2015    5   26  13.15
7261  2015    5   27  13.15
7262  2015    5   28  13.15
7263  2015    5   29  13.15

Nome do Grupo: (2015, 6)
       ano  mes  dia  valor
7264  2015    6    1  13.15
7265  2015    6    2  13.15
7266  2015    6    3  13.15
7267  2015    6    5  13.65
7268  2015    6    8  13.65
7269  2015    6    9  13.65
7270  2015    6   10  13.65
7271  2015    6   11  13.65
7272  2015    6   12  13.65
7273  2015    6   15  13.65
7274  2015    6   16  13.65
7275  2015    6   17  13.65
7276  2015    6   18  13.65
7277  2015    6   19  13.65
7278  2015    6   22  13.65
7279  2015    6   23  13.65
7280  2015    6   24  13.65
7281  2015    6   25  13.65
7282  2015    6   26  13.65
7283  2015    6   29  13.65
7284  2015    6   30  13.65

Nome do Grupo: (2015, 7)
       ano  mes  dia  valor
7285  2015    7    1  13.65
7286  2015    7    2  13.65
7287  2015    7    3  13.65
7288  2015    7    6  13.65
7289  2015    7    7  13.65
7290  2015    7    8  13.65
7291  2015    7    9  13.65
7292  2015    7   10  13.65
7293  2015    7   13  13.65
7294  2015    7   14  13.65
7295  2015    7   15  13.65
7296  2015    7   16  13.65
7297  2015    7   17  13.65
7298  2015    7   20  13.65
7299  2015    7   21  13.65
7300  2015    7   22  13.65
7301  2015    7   23  13.65
7302  2015    7   24  13.65
7303  2015    7   27  13.65
7304  2015    7   28  13.65
7305  2015    7   29  13.65
7306  2015    7   30  14.15
7307  2015    7   31  14.15

Nome do Grupo: (2015, 8)
       ano  mes  dia  valor
7308  2015    8    3  14.15
7309  2015    8    4  14.15
7310  2015    8    5  14.15
7311  2015    8    6  14.15
7312  2015    8    7  14.15
7313  2015    8   10  14.15
7314  2015    8   11  14.15
7315  2015    8   12  14.15
7316  2015    8   13  14.15
7317  2015    8   14  14.15
7318  2015    8   17  14.15
7319  2015    8   18  14.15
7320  2015    8   19  14.15
7321  2015    8   20  14.15
7322  2015    8   21  14.15
7323  2015    8   24  14.15
7324  2015    8   25  14.15
7325  2015    8   26  14.15
7326  2015    8   27  14.15
7327  2015    8   28  14.15
7328  2015    8   31  14.15

Nome do Grupo: (2015, 9)
       ano  mes  dia  valor
7329  2015    9    1  14.15
7330  2015    9    2  14.15
7331  2015    9    3  14.15
7332  2015    9    4  14.15
7333  2015    9    8  14.15
7334  2015    9    9  14.15
7335  2015    9   10  14.15
7336  2015    9   11  14.15
7337  2015    9   14  14.15
7338  2015    9   15  14.15
7339  2015    9   16  14.15
7340  2015    9   17  14.15
7341  2015    9   18  14.15
7342  2015    9   21  14.15
7343  2015    9   22  14.15
7344  2015    9   23  14.15
7345  2015    9   24  14.15
7346  2015    9   25  14.15
7347  2015    9   28  14.15
7348  2015    9   29  14.15
7349  2015    9   30  14.15

Nome do Grupo: (2015, 10)
       ano  mes  dia  valor
7350  2015   10    1  14.15
7351  2015   10    2  14.15
7352  2015   10    5  14.15
7353  2015   10    6  14.15
7354  2015   10    7  14.15
7355  2015   10    8  14.15
7356  2015   10    9  14.15
7357  2015   10   13  14.15
7358  2015   10   14  14.15
7359  2015   10   15  14.15
7360  2015   10   16  14.15
7361  2015   10   19  14.15
7362  2015   10   20  14.15
7363  2015   10   21  14.15
7364  2015   10   22  14.15
7365  2015   10   23  14.15
7366  2015   10   26  14.15
7367  2015   10   27  14.15
7368  2015   10   28  14.15
7369  2015   10   29  14.15
7370  2015   10   30  14.15

Nome do Grupo: (2015, 11)
       ano  mes  dia  valor
7371  2015   11    3  14.15
7372  2015   11    4  14.15
7373  2015   11    5  14.15
7374  2015   11    6  14.15
7375  2015   11    9  14.15
7376  2015   11   10  14.15
7377  2015   11   11  14.15
7378  2015   11   12  14.15
7379  2015   11   13  14.15
7380  2015   11   16  14.15
7381  2015   11   17  14.15
7382  2015   11   18  14.15
7383  2015   11   19  14.15
7384  2015   11   20  14.15
7385  2015   11   23  14.15
7386  2015   11   24  14.15
7387  2015   11   25  14.15
7388  2015   11   26  14.15
7389  2015   11   27  14.15
7390  2015   11   30  14.15

Nome do Grupo: (2015, 12)
       ano  mes  dia  valor
7391  2015   12    1  14.15
7392  2015   12    2  14.15
7393  2015   12    3  14.15
7394  2015   12    4  14.15
7395  2015   12    7  14.15
7396  2015   12    8  14.15
7397  2015   12    9  14.15
7398  2015   12   10  14.15
7399  2015   12   11  14.15
7400  2015   12   14  14.15
7401  2015   12   15  14.15
7402  2015   12   16  14.15
7403  2015   12   17  14.15
7404  2015   12   18  14.15
7405  2015   12   21  14.15
7406  2015   12   22  14.15
7407  2015   12   23  14.15
7408  2015   12   24  14.15
7409  2015   12   28  14.15
7410  2015   12   29  14.15
7411  2015   12   30  14.15
7412  2015   12   31  14.15

Nome do Grupo: (2016, 1)
       ano  mes  dia  valor
7413  2016    1    4  14.15
7414  2016    1    5  14.15
7415  2016    1    6  14.15
7416  2016    1    7  14.15
7417  2016    1    8  14.15
7418  2016    1   11  14.15
7419  2016    1   12  14.15
7420  2016    1   13  14.15
7421  2016    1   14  14.15
7422  2016    1   15  14.15
7423  2016    1   18  14.15
7424  2016    1   19  14.15
7425  2016    1   20  14.15
7426  2016    1   21  14.15
7427  2016    1   22  14.15
7428  2016    1   25  14.15
7429  2016    1   26  14.15
7430  2016    1   27  14.15
7431  2016    1   28  14.15
7432  2016    1   29  14.15

Nome do Grupo: (2016, 2)
       ano  mes  dia  valor
7433  2016    2    1  14.15
7434  2016    2    2  14.15
7435  2016    2    3  14.15
7436  2016    2    4  14.15
7437  2016    2    5  14.15
7438  2016    2   10  14.15
7439  2016    2   11  14.15
7440  2016    2   12  14.15
7441  2016    2   15  14.15
7442  2016    2   16  14.15
7443  2016    2   17  14.15
7444  2016    2   18  14.15
7445  2016    2   19  14.15
7446  2016    2   22  14.15
7447  2016    2   23  14.15
7448  2016    2   24  14.15
7449  2016    2   25  14.15
7450  2016    2   26  14.15
7451  2016    2   29  14.15

Nome do Grupo: (2016, 3)
       ano  mes  dia  valor
7452  2016    3    1  14.15
7453  2016    3    2  14.15
7454  2016    3    3  14.15
7455  2016    3    4  14.15
7456  2016    3    7  14.15
7457  2016    3    8  14.15
7458  2016    3    9  14.15
7459  2016    3   10  14.15
7460  2016    3   11  14.15
7461  2016    3   14  14.15
7462  2016    3   15  14.15
7463  2016    3   16  14.15
7464  2016    3   17  14.15
7465  2016    3   18  14.15
7466  2016    3   21  14.15
7467  2016    3   22  14.15
7468  2016    3   23  14.15
7469  2016    3   24  14.15
7470  2016    3   28  14.15
7471  2016    3   29  14.15
7472  2016    3   30  14.15
7473  2016    3   31  14.15

Nome do Grupo: (2016, 4)
       ano  mes  dia  valor
7474  2016    4    1  14.15
7475  2016    4    4  14.15
7476  2016    4    5  14.15
7477  2016    4    6  14.15
7478  2016    4    7  14.15
7479  2016    4    8  14.15
7480  2016    4   11  14.15
7481  2016    4   12  14.15
7482  2016    4   13  14.15
7483  2016    4   14  14.15
7484  2016    4   15  14.15
7485  2016    4   18  14.15
7486  2016    4   19  14.15
7487  2016    4   20  14.15
7488  2016    4   22  14.15
7489  2016    4   25  14.15
7490  2016    4   26  14.15
7491  2016    4   27  14.15
7492  2016    4   28  14.15
7493  2016    4   29  14.15

Nome do Grupo: (2016, 5)
       ano  mes  dia  valor
7494  2016    5    2  14.15
7495  2016    5    3  14.15
7496  2016    5    4  14.15
7497  2016    5    5  14.15
7498  2016    5    6  14.15
7499  2016    5    9  14.15
7500  2016    5   10  14.15
7501  2016    5   11  14.15
7502  2016    5   12  14.15
7503  2016    5   13  14.15
7504  2016    5   16  14.15
7505  2016    5   17  14.15
7506  2016    5   18  14.15
7507  2016    5   19  14.15
7508  2016    5   20  14.15
7509  2016    5   23  14.15
7510  2016    5   24  14.15
7511  2016    5   25  14.15
7512  2016    5   27  14.15
7513  2016    5   30  14.15
7514  2016    5   31  14.15

Nome do Grupo: (2016, 6)
       ano  mes  dia  valor
7515  2016    6    1  14.15
7516  2016    6    2  14.15
7517  2016    6    3  14.15
7518  2016    6    6  14.15
7519  2016    6    7  14.15
7520  2016    6    8  14.15
7521  2016    6    9  14.15
7522  2016    6   10  14.15
7523  2016    6   13  14.15
7524  2016    6   14  14.15
7525  2016    6   15  14.15
7526  2016    6   16  14.15
7527  2016    6   17  14.15
7528  2016    6   20  14.15
7529  2016    6   21  14.15
7530  2016    6   22  14.15
7531  2016    6   23  14.15
7532  2016    6   24  14.15
7533  2016    6   27  14.15
7534  2016    6   28  14.15
7535  2016    6   29  14.15
7536  2016    6   30  14.15

Nome do Grupo: (2016, 7)
       ano  mes  dia  valor
7537  2016    7    1  14.15
7538  2016    7    4  14.15
7539  2016    7    5  14.15
7540  2016    7    6  14.15
7541  2016    7    7  14.15
7542  2016    7    8  14.15
7543  2016    7   11  14.15
7544  2016    7   12  14.15
7545  2016    7   13  14.15
7546  2016    7   14  14.15
7547  2016    7   15  14.15
7548  2016    7   18  14.15
7549  2016    7   19  14.15
7550  2016    7   20  14.15
7551  2016    7   21  14.15
7552  2016    7   22  14.15
7553  2016    7   25  14.15
7554  2016    7   26  14.15
7555  2016    7   27  14.15
7556  2016    7   28  14.15
7557  2016    7   29  14.15

Nome do Grupo: (2016, 8)
       ano  mes  dia  valor
7558  2016    8    1  14.15
7559  2016    8    2  14.15
7560  2016    8    3  14.15
7561  2016    8    4  14.15
7562  2016    8    5  14.15
7563  2016    8    8  14.15
7564  2016    8    9  14.15
7565  2016    8   10  14.15
7566  2016    8   11  14.15
7567  2016    8   12  14.15
7568  2016    8   15  14.15
7569  2016    8   16  14.15
7570  2016    8   17  14.15
7571  2016    8   18  14.15
7572  2016    8   19  14.15
7573  2016    8   22  14.15
7574  2016    8   23  14.15
7575  2016    8   24  14.15
7576  2016    8   25  14.15
7577  2016    8   26  14.15
7578  2016    8   29  14.15
7579  2016    8   30  14.15
7580  2016    8   31  14.15

Nome do Grupo: (2016, 9)
       ano  mes  dia  valor
7581  2016    9    1  14.15
7582  2016    9    2  14.15
7583  2016    9    5  14.15
7584  2016    9    6  14.15
7585  2016    9    8  14.15
7586  2016    9    9  14.15
7587  2016    9   12  14.15
7588  2016    9   13  14.15
7589  2016    9   14  14.15
7590  2016    9   15  14.15
7591  2016    9   16  14.15
7592  2016    9   19  14.15
7593  2016    9   20  14.15
7594  2016    9   21  14.15
7595  2016    9   22  14.15
7596  2016    9   23  14.15
7597  2016    9   26  14.15
7598  2016    9   27  14.15
7599  2016    9   28  14.15
7600  2016    9   29  14.15
7601  2016    9   30  14.15

Nome do Grupo: (2016, 10)
       ano  mes  dia  valor
7602  2016   10    3  14.15
7603  2016   10    4  14.15
7604  2016   10    5  14.15
7605  2016   10    6  14.15
7606  2016   10    7  14.15
7607  2016   10   10  14.15
7608  2016   10   11  14.15
7609  2016   10   13  14.15
7610  2016   10   14  14.15
7611  2016   10   17  14.15
7612  2016   10   18  14.15
7613  2016   10   19  14.15
7614  2016   10   20  13.90
7615  2016   10   21  13.90
7616  2016   10   24  13.90
7617  2016   10   25  13.90
7618  2016   10   26  13.90
7619  2016   10   27  13.90
7620  2016   10   28  13.90
7621  2016   10   31  13.90

Nome do Grupo: (2016, 11)
       ano  mes  dia  valor
7622  2016   11    1   13.9
7623  2016   11    3   13.9
7624  2016   11    4   13.9
7625  2016   11    7   13.9
7626  2016   11    8   13.9
7627  2016   11    9   13.9
7628  2016   11   10   13.9
7629  2016   11   11   13.9
7630  2016   11   14   13.9
7631  2016   11   16   13.9
7632  2016   11   17   13.9
7633  2016   11   18   13.9
7634  2016   11   21   13.9
7635  2016   11   22   13.9
7636  2016   11   23   13.9
7637  2016   11   24   13.9
7638  2016   11   25   13.9
7639  2016   11   28   13.9
7640  2016   11   29   13.9
7641  2016   11   30   13.9

Nome do Grupo: (2016, 12)
       ano  mes  dia  valor
7642  2016   12    1  13.65
7643  2016   12    2  13.65
7644  2016   12    5  13.65
7645  2016   12    6  13.65
7646  2016   12    7  13.65
7647  2016   12    8  13.65
7648  2016   12    9  13.65
7649  2016   12   12  13.65
7650  2016   12   13  13.65
7651  2016   12   14  13.65
7652  2016   12   15  13.65
7653  2016   12   16  13.65
7654  2016   12   19  13.65
7655  2016   12   20  13.65
7656  2016   12   21  13.65
7657  2016   12   22  13.65
7658  2016   12   23  13.65
7659  2016   12   26  13.65
7660  2016   12   27  13.65
7661  2016   12   28  13.65
7662  2016   12   29  13.65
7663  2016   12   30  13.65

Nome do Grupo: (2017, 1)
       ano  mes  dia  valor
7664  2017    1    2  13.65
7665  2017    1    3  13.65
7666  2017    1    4  13.65
7667  2017    1    5  13.65
7668  2017    1    6  13.65
7669  2017    1    9  13.65
7670  2017    1   10  13.65
7671  2017    1   11  13.65
7672  2017    1   12  12.90
7673  2017    1   13  12.90
7674  2017    1   16  12.90
7675  2017    1   17  12.90
7676  2017    1   18  12.90
7677  2017    1   19  12.90
7678  2017    1   20  12.90
7679  2017    1   23  12.90
7680  2017    1   24  12.90
7681  2017    1   25  12.90
7682  2017    1   26  12.90
7683  2017    1   27  12.90
7684  2017    1   30  12.90
7685  2017    1   31  12.90

Nome do Grupo: (2017, 2)
       ano  mes  dia  valor
7686  2017    2    1  12.90
7687  2017    2    2  12.90
7688  2017    2    3  12.90
7689  2017    2    6  12.90
7690  2017    2    7  12.90
7691  2017    2    8  12.90
7692  2017    2    9  12.90
7693  2017    2   10  12.90
7694  2017    2   13  12.90
7695  2017    2   14  12.90
7696  2017    2   15  12.90
7697  2017    2   16  12.90
7698  2017    2   17  12.90
7699  2017    2   20  12.90
7700  2017    2   21  12.90
7701  2017    2   22  12.90
7702  2017    2   23  12.15
7703  2017    2   24  12.15

Nome do Grupo: (2017, 3)
       ano  mes  dia  valor
7704  2017    3    1  12.15
7705  2017    3    2  12.15
7706  2017    3    3  12.15
7707  2017    3    6  12.15
7708  2017    3    7  12.15
7709  2017    3    8  12.15
7710  2017    3    9  12.15
7711  2017    3   10  12.15
7712  2017    3   13  12.15
7713  2017    3   14  12.15
7714  2017    3   15  12.15
7715  2017    3   16  12.15
7716  2017    3   17  12.15
7717  2017    3   20  12.15
7718  2017    3   21  12.15
7719  2017    3   22  12.15
7720  2017    3   23  12.15
7721  2017    3   24  12.15
7722  2017    3   27  12.15
7723  2017    3   28  12.15
7724  2017    3   29  12.15
7725  2017    3   30  12.15
7726  2017    3   31  12.15

Nome do Grupo: (2017, 4)
       ano  mes  dia  valor
7727  2017    4    3  12.15
7728  2017    4    4  12.15
7729  2017    4    5  12.15
7730  2017    4    6  12.15
7731  2017    4    7  12.15
7732  2017    4   10  12.15
7733  2017    4   11  12.15
7734  2017    4   12  12.15
7735  2017    4   13  11.15
7736  2017    4   17  11.15
7737  2017    4   18  11.15
7738  2017    4   19  11.15
7739  2017    4   20  11.15
7740  2017    4   24  11.15
7741  2017    4   25  11.15
7742  2017    4   26  11.15
7743  2017    4   27  11.15
7744  2017    4   28  11.15

Nome do Grupo: (2017, 5)
       ano  mes  dia  valor
7745  2017    5    2  11.15
7746  2017    5    3  11.15
7747  2017    5    4  11.15
7748  2017    5    5  11.15
7749  2017    5    8  11.15
7750  2017    5    9  11.15
7751  2017    5   10  11.15
7752  2017    5   11  11.15
7753  2017    5   12  11.15
7754  2017    5   15  11.15
7755  2017    5   16  11.15
7756  2017    5   17  11.15
7757  2017    5   18  11.15
7758  2017    5   19  11.15
7759  2017    5   22  11.15
7760  2017    5   23  11.15
7761  2017    5   24  11.15
7762  2017    5   25  11.15
7763  2017    5   26  11.15
7764  2017    5   29  11.15
7765  2017    5   30  11.15
7766  2017    5   31  11.15

Nome do Grupo: (2017, 6)
       ano  mes  dia  valor
7767  2017    6    1  10.15
7768  2017    6    2  10.15
7769  2017    6    5  10.15
7770  2017    6    6  10.15
7771  2017    6    7  10.15
7772  2017    6    8  10.15
7773  2017    6    9  10.15
7774  2017    6   12  10.15
7775  2017    6   13  10.15
7776  2017    6   14  10.15
7777  2017    6   16  10.15
7778  2017    6   19  10.15
7779  2017    6   20  10.15
7780  2017    6   21  10.15
7781  2017    6   22  10.15
7782  2017    6   23  10.15
7783  2017    6   26  10.15
7784  2017    6   27  10.15
7785  2017    6   28  10.15
7786  2017    6   29  10.15
7787  2017    6   30  10.15

Nome do Grupo: (2017, 7)
       ano  mes  dia  valor
7788  2017    7    3  10.15
7789  2017    7    4  10.15
7790  2017    7    5  10.15
7791  2017    7    6  10.15
7792  2017    7    7  10.15
7793  2017    7   10  10.15
7794  2017    7   11  10.15
7795  2017    7   12  10.15
7796  2017    7   13  10.15
7797  2017    7   14  10.15
7798  2017    7   17  10.15
7799  2017    7   18  10.15
7800  2017    7   19  10.15
7801  2017    7   20  10.15
7802  2017    7   21  10.15
7803  2017    7   24  10.15
7804  2017    7   25  10.15
7805  2017    7   26  10.15
7806  2017    7   27   9.15
7807  2017    7   28   9.15
7808  2017    7   31   9.15

Nome do Grupo: (2017, 8)
       ano  mes  dia  valor
7809  2017    8    1   9.15
7810  2017    8    2   9.15
7811  2017    8    3   9.15
7812  2017    8    4   9.15
7813  2017    8    7   9.15
7814  2017    8    8   9.15
7815  2017    8    9   9.15
7816  2017    8   10   9.15
7817  2017    8   11   9.15
7818  2017    8   14   9.15
7819  2017    8   15   9.15
7820  2017    8   16   9.15
7821  2017    8   17   9.15
7822  2017    8   18   9.15
7823  2017    8   21   9.15
7824  2017    8   22   9.15
7825  2017    8   23   9.15
7826  2017    8   24   9.15
7827  2017    8   25   9.15
7828  2017    8   28   9.15
7829  2017    8   29   9.15
7830  2017    8   30   9.15
7831  2017    8   31   9.15

Nome do Grupo: (2017, 9)
       ano  mes  dia  valor
7832  2017    9    1   9.15
7833  2017    9    4   9.15
7834  2017    9    5   9.15
7835  2017    9    6   9.15
7836  2017    9    8   8.15

Qual o tamanho de cada grupo? No nosso caso, esse é o número de dias em cada mês para os quais foi publicado um valor de SELIC.

In [11]:
agrupado_ano_mes.size().head(15)

ano   mes
1986  6      19
      7      23
      8      21
      9      22
      10     23
      11     20
      12     22
1987  1      21
      2      20
      3      20
      4      19
      5      20
      6      21
      7      23
      8      21
dtype: int64

Também é possível calcular algumas medidas estatísticas básicas para cada grupo:

In [12]:
agrupado_ano_mes['valor'].describe().T

ano         1986                                                         \
mes           6          7          8          9          10         11
count  19.000000  23.000000  21.000000  22.000000  23.000000  20.000000
mean   18.232632  23.523478  35.685714  39.389091  23.656522  34.354000
std     0.190812   1.855960   6.049216   0.247539   1.627579   3.227915
min    17.800000  18.280000  25.130000  39.070000  18.290000  32.200000
25%    18.140000  23.520000  32.040000  39.190000  23.950000  32.610000
50%    18.210000  23.890000  39.460000  39.255000  24.280000  32.945000
75%    18.290000  24.825000  39.780000  39.637500  24.305000  33.617500
max    18.760000  25.080000  39.880000  39.780000  25.460000  42.430000

ano                      1987                           ...          2018  \
mes            12          1            2           3   ...            7
count   22.000000   21.000000    20.000000   20.000000  ...  2.200000e+01
mean    84.290909  255.158095   915.582000  317.623000  ...  6.400000e+00
std     11.330868   58.658482   325.858384   47.697889  ...  1.818159e-15
min     65.070000  115.560000   298.370000  174.630000  ...  6.400000e+00
25%     80.737500  249.180000   586.105000  306.930000  ...  6.400000e+00
50%     82.920000  265.190000  1154.320000  322.740000  ...  6.400000e+00
75%     85.580000  320.450000  1186.260000  322.770000  ...  6.400000e+00
max    115.560000  321.780000  1190.720000  382.710000  ...  6.400000e+00

ano                                                                          \
mes              8             9             10            11            12
count  2.300000e+01  1.900000e+01  2.200000e+01  2.000000e+01  2.000000e+01
mean   6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00
std    1.816280e-15  9.125166e-16  1.818159e-15  9.112518e-16  9.112518e-16
min    6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00
25%    6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00
50%    6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00
75%    6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00
max    6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00

ano            2019
mes              1             2             3             4
count  2.200000e+01  2.000000e+01  1.900000e+01  1.800000e+01
mean   6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00
std    1.818159e-15  9.112518e-16  9.125166e-16  9.139281e-16
min    6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00
25%    6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00
50%    6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00
75%    6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00
max    6.400000e+00  6.400000e+00  6.400000e+00  6.400000e+00

[8 rows x 395 columns]

Também é possível executar funções individuais:

In [13]:
agrupado_ano_mes.count().head(2)

          dia  valor
ano  mes
1986 6     19     19
     7     23     23

Ou várias funções simultaneamente:

In [14]:
agrupado_ano['valor'].agg([min, max, np.mean, np.median, len]).head()

         min        max          mean    median    len
ano
1986   17.80     115.56     37.260000    32.445  150.0
1987  112.70    4348.96    494.501446   319.940  249.0
1988  424.74    6340.28   1284.388313   941.630  249.0
1989  218.96  115334.03   8464.100813  2584.435  246.0
1990    0.00  790799.15  43858.496169   386.625  248.0

Se quisermos métricas diferentes para as várias colunas, podemos passar um dicionário para o método `agg`:

In [15]:
agrupado_ano_mes.agg({'dia': np.size,
                      'valor': [np.min, np.max, np.mean]}).head(10)

          dia   valor
         size    amin     amax        mean
ano  mes
1986 6     19   17.80    18.76   18.232632
     7     23   18.28    25.08   23.523478
     8     21   25.13    39.88   35.685714
     9     22   39.07    39.78   39.389091
     10    23   18.29    25.46   23.656522
     11    20   32.20    42.43   34.354000
     12    22   65.07   115.56   84.290909
1987 1     21  115.56   321.78  255.158095
     2     20  298.37  1190.72  915.582000
     3     20  174.63   382.71  317.623000

Também é possível utilizar funções que nós mesmos definimos para agregar valores:

In [16]:
def amplitude(grupo):
    """
    Calcula a diferença entre o máximo e o mínimo do grupo.
    O parâmetro grupo corresponderá a uma Serie com todas as 
    linhas de um Grupo.
    """
    return (grupo.max() - grupo.min())

In [17]:
agrupado_ano_mes.agg({'dia': np.size,
                      'valor': [np.min, np.max, np.mean, amplitude]}).head(10)

          dia   valor
         size    amin     amax        mean amplitude
ano  mes
1986 6     19   17.80    18.76   18.232632      0.96
     7     23   18.28    25.08   23.523478      6.80
     8     21   25.13    39.88   35.685714     14.75
     9     22   39.07    39.78   39.389091      0.71
     10    23   18.29    25.46   23.656522      7.17
     11    20   32.20    42.43   34.354000     10.23
     12    22   65.07   115.56   84.290909     50.49
1987 1     21  115.56   321.78  255.158095    206.22
     2     20  298.37  1190.72  915.582000    892.35
     3     20  174.63   382.71  317.623000    208.08

### Suprindo falta de valores utilizando a média do grupo

Vamos criar uma cópia do nosso `DataFrame` e excluir os dados de todos os dias 15:

In [18]:
teste = df.copy()

In [19]:
teste.loc[teste['dia'] == 15, 'valor'] = np.nan

In [20]:
teste.tail(10)

       ano  mes  dia  valor
8232  2019    4   11    6.4
8233  2019    4   12    6.4
8234  2019    4   15    NaN
8235  2019    4   16    6.4
8236  2019    4   17    6.4
8237  2019    4   18    6.4
8238  2019    4   22    6.4
8239  2019    4   23    6.4
8240  2019    4   24    6.4
8241  2019    4   25    6.4

Agora, preenchemos os valores que estão faltando (dia 15 em todos os meses) com a média do mês:

In [21]:
teste['valor_ajustado'] = teste.groupby(['ano', 'mes'])['valor'].transform(lambda g: g.fillna(g.mean()))

In [22]:
teste.loc[(teste['dia'] >= 13) & (teste['dia'] <= 16)].head(10)

     ano  mes  dia  valor  valor_ajustado
7   1986    6   13  18.14       18.140000
8   1986    6   16  18.24       18.240000
28  1986    7   14  23.93       23.930000
29  1986    7   15    NaN       23.510909
30  1986    7   16  23.83       23.830000
50  1986    8   13  38.49       38.490000
51  1986    8   14  38.59       38.590000
52  1986    8   15    NaN       35.497000
73  1986    9   15    NaN       39.398571
74  1986    9   16  39.19       39.190000

### Funções de Janela

Funções de _janela_ também respeitam os grupos:

In [23]:
agrupado_ano_mes.rolling(4)['valor'].mean().head(30)

ano   mes
1986  6    0         NaN
           1         NaN
           2         NaN
           3     18.3425
           4     18.4925
           5     18.4450
           6     18.4325
           7     18.2775
           8     18.2375
           9     18.2000
           10    18.1800
           11    18.1800
           12    18.1450
           13    18.1350
           14    18.1150
           15    18.1400
           16    18.1675
           17    18.1825
           18    18.2250
      7    19        NaN
           20        NaN
           21        NaN
           22    20.2100
           23    21.4775
           24    22.6100
           25    23.4125
           26    23.5625
           27    23.7050
           28    23.8625
           29    23.8900
Name: valor, dtype: float64

In [24]:
agrupado_ano_mes.expanding().sum().head(30)

                 ano    mes    dia   valor
ano  mes
1986 6   0    1986.0    6.0    4.0   17.80
         1    3972.0   12.0    9.0   36.30
         2    5958.0   18.0   15.0   54.61
         3    7944.0   24.0   24.0   73.37
         4    9930.0   30.0   34.0   91.77
         5   11916.0   36.0   45.0  110.08
         6   13902.0   42.0   57.0  128.34
         7   15888.0   48.0   70.0  146.48
         8   17874.0   54.0   86.0  164.72
         9   19860.0   60.0  103.0  182.88
         10  21846.0   66.0  121.0  201.06
         11  23832.0   72.0  140.0  219.20
         12  25818.0   78.0  160.0  237.30
         13  27804.0   84.0  183.0  255.42
         14  29790.0   90.0  207.0  273.52
         15  31776.0   96.0  232.0  291.76
         16  33762.0  102.0  258.0  309.97
         17  35748.0  108.0  285.0  328.15
         18  37734.0  114.0  315.0  346.42
     7   19   1986.0    7.0    1.0   18.28
         20   3972.0   14.0    3.0   37.05
         21   5958.0   21.0    6.0   57.53
         22   7944.0   28.0   10.0   80.84
         23   9930.0   35.0   17.0  104.19
         24  11916.0   42.0   25.0  127.49
         25  13902.0   49.0   34.0  151.18
         26  15888.0   56.0   44.0  175.09
         27  17874.0   63.0   55.0  199.01
         28  19860.0   70.0   69.0  222.94
         29  21846.0   77.0   84.0  246.74

### Filtragem
Filtra todos os valores de todos os meses que tiveram SELIC média acima de 30%:

In [34]:
agrupado_ano_mes.filter(lambda g: g['valor'].mean() > 30)

       ano  mes  dia  valor
42    1986    8    1  25.13
43    1986    8    4  25.23
44    1986    8    5  25.34
45    1986    8    6  25.51
46    1986    8    7  26.60
47    1986    8    8  32.04
48    1986    8   11  37.91
49    1986    8   12  37.54
50    1986    8   13  38.49
51    1986    8   14  38.59
52    1986    8   15  39.46
53    1986    8   18  39.76
54    1986    8   19  39.62
55    1986    8   20  39.54
56    1986    8   21  39.75
57    1986    8   22  39.83
58    1986    8   25  39.80
59    1986    8   26  39.79
60    1986    8   27  39.81
61    1986    8   28  39.78
62    1986    8   29  39.88
63    1986    9    1  39.07
64    1986    9    2  39.15
65    1986    9    3  39.28
66    1986    9    4  39.17
67    1986    9    5  39.20
68    1986    9    8  39.14
69    1986    9    9  39.23
70    1986    9   10  39.19
71    1986    9   11  39.19
...    ...  ...  ...    ...
3192  1999    3   17  44.96
3193  1999    3   18  44.96
3194  1999    3   19  44.99
3195  1999    3   22  44.98
3196  1999    3   23  44.95
3197  1999    3   24  44.94
3198  1999    3   25  41.96
3199  1999    3   26  42.02
3200  1999    3   29  41.99
3201  1999    3   30  41.97
3202  1999    3   31  41.93
3203  1999    4    5  41.91
3204  1999    4    6  39.47
3205  1999    4    7  39.44
3206  1999    4    8  39.44
3207  1999    4    9  39.42
3208  1999    4   12  39.41
3209  1999    4   13  39.40
3210  1999    4   14  39.39
3211  1999    4   15  33.90
3212  1999    4   16  33.96
3213  1999    4   19  33.94
3214  1999    4   20  33.94
3215  1999    4   22  33.93
3216  1999    4   23  33.92
3217  1999    4   26  33.89
3218  1999    4   27  33.89
3219  1999    4   28  33.89
3220  1999    4   29  31.97
3221  1999    4   30  31.93

[2631 rows x 4 columns]

Conferindo: vejamos as médias mensais:

In [33]:
agrupado_ano_mes['valor'].mean()

ano   mes
1986  6        18.232632
      7        23.523478
      8        35.685714
      9        39.389091
      10       23.656522
      11       34.354000
      12       84.290909
1987  1       255.158095
      2       915.582000
      3       317.623000
      4       585.136842
      5      1812.113000
      6       766.890000
      7       155.155217
      8       155.414762
      9       153.568095
      10      199.620000
      11      366.168500
      12      366.876818
1988  1       626.285500
      2       841.051053
      3       482.425000
      4      1066.943158
      5       770.086500
      6       734.789091
      7      1478.245238
      8       855.009565
      9      1579.384762
      10     3174.510000
      11     1920.236667
                ...
2016  11       13.900000
      12       13.650000
2017  1        13.172727
      2        12.816667
      3        12.150000
      4        11.594444
      5        11.150000
      6        10.150000
      7        10.007143
      8         9.150000
      9         8.350000
      10        8.007143
      11        7.400000
      12        7.000000
2018  1         6.900000
      2         6.719444
      3         6.578571
      4         6.400000
      5         6.400000
      6         6.400000
      7         6.400000
      8         6.400000
      9         6.400000
      10        6.400000
      11        6.400000
      12        6.400000
2019  1         6.400000
      2         6.400000
      3         6.400000
      4         6.400000
Name: valor, Length: 395, dtype: float64

Agora, todos os dados dos mêses que tiveram menos que 18 dias úteis:

In [35]:
agrupado_ano_mes.filter(lambda g: len(g) < 18)

       ano  mes  dia   valor
1164  1991    2    4  120.53
1165  1991    2    5  118.15
1166  1991    2    6  113.45
1167  1991    2    7  116.33
1168  1991    2    8  121.83
1169  1991    2   13  121.83
1170  1991    2   14  121.83
1171  1991    2   15  198.32
1172  1991    2   18  248.51
1173  1991    2   19  232.02
1174  1991    2   20  202.34
1175  1991    2   21  200.32
1176  1991    2   22  199.57
1177  1991    2   25  194.60
1178  1991    2   26  217.63
1179  1991    2   27  198.32
1180  1991    2   28  179.24
2204  1995    4    3   85.74
2205  1995    4    4   85.58
2206  1995    4    5   85.43
2207  1995    4    6   85.43
2208  1995    4    7   85.43
2209  1995    4   10   85.43
2210  1995    4   11   85.43
2211  1995    4   12   85.43
2212  1995    4   17   85.58
2213  1995    4   18   85.43
2214  1995    4   19   85.43
2215  1995    4   20   85.43
2216  1995    4   24   85.58
2217  1995    4   25   85.43
2218  1995    4   26   85.43
2219  1995    4   27   85.43
2220  1995    4   28   85.43

Qual o valor da SELIC no quinto dia útil de cada mês? Basta pegarmos o quinto valor de cada grupo!

In [36]:
# .nth(0) seria o primeiro elemento
agrupado_ano_mes.nth(4).head(10)

          dia   valor
ano  mes
1986 6     10   18.40
     7      7   23.35
     8      7   26.60
     9      5   39.20
     10     7   23.51
     11     7   33.45
     12     5   74.24
1987 1      8  179.97
     2      6  596.18
     3     10  380.70

E no quinto dia e no último dia útil?

In [39]:
# .nth(0) seria o primeiro elemento
agrupado_ano_mes.nth([4, -1]).head(10)

          dia  valor
ano  mes
1986 6     10  18.40
     6     30  18.27
     7      7  23.35
     7     31  25.08
     8      7  26.60
     8     29  39.88
     9      5  39.20
     9     30  39.78
     10     7  23.51
     10    31  25.46

### Utilizando funções para agrupar

In [40]:
df.head()

    ano  mes  dia  valor
0  1986    6    4  17.80
1  1986    6    5  18.50
2  1986    6    6  18.31
3  1986    6    9  18.76
4  1986    6   10  18.40

In [42]:
def semestre(idx):
    """
    Retornoa 'primeiro' para o primeiro semestre, e
    'segundo' para o segundo.
    
    O parâmetro recebido é o índice do dataframe que
    está sendo agrupado
    """
    mes = df.loc[idx, 'mes']
    return 'primeiro' if mes <= 6 else 'segundo'

In [45]:
df.groupby(['ano', semestre]).size().head(10)

ano
1986  primeiro     19
      segundo     131
1987  primeiro    121
      segundo     128
1988  primeiro    122
      segundo     127
1989  primeiro    121
      segundo     125
1990  primeiro    123
      segundo     125
dtype: int64